[2020-02-21 19:37] #101 closed, assigned to nobody

[2020-02-21 19:41] #99 closed, assigned to tonesto7

[2020-02-21 20:18] codefactor-io[bot] opened #102 "Fix 'The catch block is empty' issue in smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy"
[CodeFactor](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/overview/master) found an issue: The catch block is empty

It's currently on:
[smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy:635
](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/source/master/smartapps/tonesto7/homebridge-v2.src/homebridge-v2.groovy#L635)

[2020-02-21 20:18] codefactor-io[bot] opened #103 "Fix 'When an if statement block ends with a return statement the else is unnecessary' issue in smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy"
[CodeFactor](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/overview/master) found an issue: When an if statement block ends with a return statement the else is unnecessary

It's currently on:
[smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy:1636
](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/source/master/smartapps/tonest

[2020-02-21 20:18] codefactor-io[bot] opened #104 "Fix 'When an if statement block ends with a return statement the else is unnecessary' issue in smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy"
[CodeFactor](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/overview/master) found an issue: When an if statement block ends with a return statement the else is unnecessary

It's currently on:
[smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy:654
](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/source/master/smartapps/tonesto

[2020-02-21 20:19] codefactor-io[bot] opened #105 "Fix 'When an if statement block ends with a return statement the else is unnecessary' issue in smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy"
[CodeFactor](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/overview/master) found an issue: When an if statement block ends with a return statement the else is unnecessary

It's currently on:
[smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy:502
](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/source/master/smartapps/tonesto

[2020-02-21 20:20] codefactor-io[bot] opened #106 "Fix 'When an if statement block ends with a return statement the else is unnecessary' issue in smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy"
[CodeFactor](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/overview/master) found an issue: When an if statement block ends with a return statement the else is unnecessary

It's currently on:
[smartapps\tonesto7\homebridge-v2.src\homebridge-v2.groovy:72
](https://www.codefactor.io/repository/github/tonesto7/homebridge-smartthings-v2/source/master/smartapps/tonesto7

[2020-02-21 20:42] #102 closed, assigned to nobody

[2020-02-21 20:42] #103 closed, assigned to nobody

[2020-02-21 20:42] #104 closed, assigned to nobody

[2020-02-21 20:42] #105 closed, assigned to nobody

[2020-02-21 20:42] #106 closed, assigned to nobody

[2020-02-21 21:07] tonesto7 commented on #100
I can confirm this.
I'm working on a way to validate a thermostat device has the required capabilities/attributes.
I need to build out a list of attributes to translate   It's going to take me some time though.

[2020-02-22 00:26] HammerAce42 commented on #100
Will the resolution to this also address #19?

[2020-02-22 14:59] bandycj opened #108 "[QUESTION] direct connection"
I noticed the patch notes mention removing direct connections because they don't speed anything up. I'm curious if they help with resiliency though.

If internet is out wouldn't the direct connection enable homekit control of smartthings devices?

[2020-02-23 16:36] turnepf commented on #89
After updating homebridge and the smart app I moved my garage doors to the new garage door option in the SmartThings app (latest app on iOS). They disappeared both from home bridge and from HomeKit. I changed them back to the "others" section and they came back. They work fine for me this way (with all features) but figured I'd let you all know. Thanks for all of the hard work!

[2020-02-24 20:11] tonesto7 commented on #108
Unfortunately, No there is no offline communication 😦

Basically,  Even though it was "local" to the hub it still had to relay to the cloud and wake the smart app.  So, in the end, all it really did was use a generic event endpoint on the hub instead of the specific endpoint for the smart app.

So really we are causing less platform load by just directly targetting the SmartApp endpoint.

[2020-02-24 20:13] tonesto7 commented on #100
@adavison007  I was able to determine the cause of defining the device types manually not working (I can't guarantee that just by adding a thermostat to the tstat input will make it work), but it's a start.

I've just pushed out v2.3.2 of SmartApp and Plugin

[2020-02-24 20:35] bandycj commented on #108
Ah, good to know, thanks :)

[2020-02-24 20:35] #108 closed, assigned to nobody

[2020-02-24 20:37] adavison007 commented on #100
Thanks, I’ll take a look and let you know

Adam Davison
adavison@me.com
07748 761448

Sent from my iPhone

﻿
@adavison007 I was able to determine the cause of defining the device types manually not working (I can't guarantee that just by adding a thermostat to the tstat input will make it work), but it's a start.

I've just pushed out v2.3.2 of SmartApp and Plugin

—
You are receiving this because

[2020-02-24 21:25] adavison007 commented on #100
@tonesto7 Thanks for the hard work, I updated the home bridge and smart app.. I have managed to add the thermostat under specific device type "Heat Only" Thermostat... that worked... Unfortunaltey it still shows a heat range in auto.? I didn't;t try normal thermostat, I presumed that one would have the range? let me know.

Thanks again

![IMG_1274](https://user-images.githubusercontent.com/4748226

[2020-02-25 00:03] tonesto7 commented on #100
yea, I was afraid of this. I didn't have time to work on these non-standard thermostats.

[2020-02-25 00:04] tonesto7 commented on #100
Please post the output of the device data viewer in the smartapp.

Just select the thermostat and copy the JSON output into this issue

[2020-02-25 05:59] kevinjonsutton opened #111 "(BUG) {2.3.2 Filter Out Capabilities Issue - Remove Acceleration From These Devices}"
Just updated to version 2.3.2 and the filter out capabilities for the new acceleration sensor feature is not working. I'm trying to filter them out so they do not show in the home app and have all of my multipurpose sensors that have acceleration selected in "Remove acceleration from all these devices" but they are still showing as motion sensors.

[2020-02-25 20:06] adavison007 commented on #100
@tonesto7 here is a normal Tado wall thermostat

[2020-02-25 20:07] adavison007 commented on #100
@tonesto7 here is a Tado radiator value thermostat

[2020-02-25 20:10] adavison007 commented on #100
@tonesto7 modes = Home, Away or manual.

I’d love home to be auto (sets temp for that time of day from settings) Away (sets temp for away mode) manual = heat

[2020-02-26 01:59] tonesto7 commented on #100
@adavison007  So I think I sorted out the issue with it showing auto and cool from on the thermostat when you select a heat-only device.

I'm really nervous about trying to support all these custom thermostats.  I'm a nightmare to maintain once you step outside the capability standards of the platform.
I'm not saying no just that I need to think about it.

For the time being update your smartapp a

[2020-02-26 17:46] #111 closed, assigned to tonesto7

[2020-02-26 19:26] rhy5davie5 opened #112 "Ikea ‘2 button’ remote causing unresponsive HB"
Adding an Ikea ‘2 button’ remote to ST causes the homebridge crash like the ST button issue a few releases back.
Removing the button from ST/homebridge cures the issue.

-  [X ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ ] The SmartApp and Device Handler are using the latest code available.
-  [X ] That Both the SmartApps and Device Handlers have been _Published for You_ in the I

[2020-02-26 20:01] adavison007 commented on #100
@tonesto big thanks for looking into this, I updated the smart app, still shows as 2.3.2 and have rebooted homebridge, heat and auto still remain....see attactched

![IMG_1284](https://user-images.githubusercontent.com/47482260/75382616-b7e78000-58d2-11ea-9c75-989a256f7b60.png)

[2020-02-27 12:35] acharris76 commented on #93
Hi,
Thanks for the replies.
I'm going to give the smart app a try with the plug that is a fan.
As for the other plugs, I'm going to leave them as they are - showing as switches rather than plugs - on the basis that everything is working!
I know what you mean about running this via SmartThings, but the TP Link plugin for me had become so unstable that I'm happier to get it working even with this ex

[2020-02-27 17:57] kevinjonsutton opened #113 "[Add Support For SmartThings ADT Door/Window Sensors & Motion Sensors]"
**Is your feature request related to a problem? Please describe.**
I have the SmartThings ADT Hub and multiple SmartThings ADT Door/Window sensors and SmartThings ADT Motion sensors. I would like to be able to add these sensors into homebridge but they do not show as an available sensor or device to add in. These sensors do show under the filter out capabilities section allowing me to filter out c

[2020-02-28 11:18] rhy5davie5 commented on #112
Updated to latest version and issue cleared. Sorry!

[2020-02-28 11:18] #112 closed, assigned to tonesto7

[2020-02-28 16:04] dikodahan opened #114 "Basic "sensor-like" support for home appliances"
As you clearly stated, this updated plugin does not support home appliances as Homekit does not natively supports that. Cannot complaiun about that :)

As a feature request, I would ask to get a basic sensor like behavior for just ON/OFF of the home appliance. This, in turn, can at least provide a basic capability of knowing when an appliance is done, like the washer and/or dryer have completed th

[2020-02-28 16:28] jdebardi commented on #114
This came up before, I asked for similar, just a switch to show if the washing machine was on or off.
The problem is the different appliances have MANY capabilities (they don’t even share a common one for state!) so it’s not easy to map/condense them down to just on and off in a generic way.

The best option that should be generic enough to all Samsung washer/dryers would be to link the HomeKit sw

[2020-02-28 16:32] jdebardi commented on #114
I say that, machineState might be the same across all Samsung devices
My washer has it as does your dryer and shows either “run” or “stop”

[2020-02-28 16:36] jdebardi commented on #114
The other way around it (which is what I have done), is to create a virtual switch, then a SmartThings (New app) automation turn it on/off based on the washer/dryer state.
The virtual switch can then be displayed in Homebridge.

[2020-02-28 18:07] dikodahan commented on #114
Can you please share a reference to the configuration?

[2020-02-28 20:11] torandreroland opened #115 "(BUG) Support thermostat that can't be turned off."
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-02-29 17:47] tonesto7 commented on #114
I have an idea on how to add support for these but take the effort off me to support. I’m thinking about building a Config file structure that allows you guys to define custom capabilities and attributes for switches and maybe contact sensors to start.

I just need some time to think it through then implement

[2020-02-29 17:49] tonesto7 commented on #113
I'm in the planning stages of creating a way for users to add support yourselves using the config file.

[2020-03-01 19:56] albertovm opened #116 "[Feature Request] Scenes"
My Smartthings Scenes are not appearing in Homekit, after update from 2.0 to latest plugin version.
I am not sure if it is a new feature, or if I am missing something in configurations.
Thanks!

[2020-03-02 19:52] tonesto7 commented on #116
Your scenes would never appear in any previous versions as well.  The groovy API does not have access to Scenes only Routines.

When the time requires me to fully switch over to the new API I will update the plugin use it.

[2020-03-05 07:43] koldrid opened #117 "Seems to be slower compared to v1"
After updating to v2 it seems to respond slower than v1. Currently with v2 it takes about 8-10 seconds. Below is some log output from home bridge.

`[3/4/2020, 11:39:14 pm] [SmartThings-v2] INFO: Fetching SmartThings-v2 Devices. NOTICE: This may take a moment if you have a large number of device data is being loaded!
[3/4/2020, 11:39:14 pm] [SmartThings-v2] GOOD: Refreshing All Device Data | Sourc

[2020-03-05 07:51] koldrid commented on #117
Im going to revert to v1 to see If I can get anymore specifics.

[2020-03-05 13:13] tonesto7 commented on #117
Turn off local commands they aren’t useful anymore

[2020-03-05 17:18] domoarigato56 commented on #37
Attempting the fix from Damianeq90,
Step 3 `sudo n stable` returns the following error:

curl: (60) SSL certificate problem: unable to get local issuer certificate

Is there a command I can copy/paste to bypass the SSL certificate issue? I am very new to all of this.

[2020-03-06 14:42] rogerroyo opened #118 "(BUG) I cant use the Purifier"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X ] The SmartApp and Device Handler are using the latest code available.
-  [X ] That Both the SmartApps and Dev

[2020-03-06 19:12] koldrid commented on #117
Removed the local ip and port from my config. Will let you know if that helps

[2020-03-21 15:16] kwalkington opened #121 "Accessories added and work in HB but not added in Home"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2020-03-21 15:21] kwalkington commented on #121
when restarting homebridge service, homebridge thinks the accesories are already in home, and has them selected to update vs add...

[Homebridge] NOTICE: Temperature Unit is Now: (F)
[Homebridge] NOTICE: Updating Global Values | HubIP: 192.168.1.95 | UseLocal: false
[Homebridge] WARN: Devices to Remove: (0) []
[Homebridge] INFO: Devices to Update: (105)
[Homebridge] GOOD: Devices to Create: (0) []

[2020-03-21 16:16] kwalkington commented on #121
I got more devices to show up in Add vs Update, but they still don't appear in home

[2020-03-21 22:17] nathan-wagner opened #122 "[Feature Request]"
I’m having trouble with some virtual switches. Is PubNub still supported for updates to homebridge with the “update_method” line in the configuration.json?  If so, any howto’s on how to set that up so that isn’t using direct polling?  Thanks.

[2020-03-21 23:33] kwalkington commented on #121
Is there a maximum of 149 accessories with this plugin?

[2020-03-27 16:27] tonesto7 commented on #122
Pubnub is not supported anymore because it's not required.
Polling no longer occurs either.  ST events are sent directly to the homebridge plugin resulting in realtime updates under homekit

[2020-03-27 16:27] #122 closed, assigned to tonesto7

[2020-03-27 16:30] tonesto7 commented on #121
If they aren't being created clear the homebridge cachedAccessories folder.

Each homebridge instance has a limit of 149 accessories.
So if you have multiple plugins that import over 149 accessories than it will cause the plugin to crash.

[2020-04-01 23:13] stubelshe opened #124 "getDevices Error: undefined | Message: Hostname/IP does not match certificate's altnames:"
### Verify the following before opening an trouble issue
Go over all the following points, and put an x in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!
[X ] That OAuth is Enabled for the SmartApp under the IDE.
[X ] The SmartApp and Device Handler are using the latest code available.
[X ] That Both the SmartApps and Device Handlers have

[2020-04-02 21:50] stubelshe commented on #124
UPDATE: Though it's not the URL listed in the app settings, I replaced the one above with the URL I see posted everywhere else "https://graph.api.smartthings.com:443/api/smartapps/installations/" and the error is gone. Thought I still see others, chasing those listed below as well.

INFO: Fetching SmartThings-v2 Devices. NOTICE: This may take a moment if you have a large number of device data is b

[2020-04-02 22:06] #124 closed, assigned to nobody

[2020-04-09 22:08] hakansjoo opened #125 "(BUG) Device from Smartthings does not exist in Smartthings"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-04-12 06:22] skazzyskills opened #126 "Ge Motion Switch 26931 supported?"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [x ] That Both the SmartApps and Dev

[2020-04-13 02:53] tonesto7 commented on #126
I see no reason why it wouldn't work.  As long as it contains the switch capability it will function as a switch.

Because motion and switch on the same device are rare it may be ignoring the switch capability and using motion.  Try using the filter options in the smart app to filter out the motion capability and see if they show as switches.

[2020-04-13 05:10] skazzyskills commented on #126
I filtered out the motion but still see unsupported. :-(

[2020-04-13 21:03] skazzyskills commented on #126
Ok..I figured it out..I used another device handler GE Z-Wave Motion Sensor Switch (Model 26933) and I was able to get a light switch. Thanks!

[2020-04-15 14:20] piokaczo opened #127 "[Feature Request] Setting modes of Air Conditioner"
**Is your feature request related to a problem? Please describe.**
After adding Air Conditioners to Homebridge i have no ability to set its mode or desired temperature. Currently they are just read only and I can see only current temperature, humidity and presence (I have Samsung WindFree Elite model for 2020)

**Describe the solution you'd like**
It would be great to make changes other than turni

[2020-04-17 18:03] tteuer opened #128 "Local status not updating"
### Verify the following before opening an trouble issue

Go over all the following points, and put an x in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!

[x] That OAuth is Enabled for the SmartApp under the IDE.
[x] The SmartApp and Device Handler are using the latest code available.
[x] That Both the SmartApps and Device Handlers have b

[2020-04-18 15:52] cdillinger27 opened #129 "Homebridge-smartthings-v2 will not save devices"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x ] The SmartApp and Device Handler are using the latest code available.
-  [x ] That Both the SmartApps and Dev

[2020-04-19 10:09] adavison007 commented on #100
@tonesto7 will you be supporting thermostat mode only... European customers don't have cool and heat on same thermostats, we just need heat on and off, no need for the range...

[2020-04-19 10:12] adavison007 opened #130 "(BUG) {Plugin not working after updating Hoobs to 3.1.27}"
@tonesto7  I'm running your latest version and have just updated hoobs to their latest version, all other plugins work, but it has stopped SmartThings from working, see logs

<img width="1281" alt="Screenshot 2020-04-19 at 11 10 25" src="https://user-images.githubusercontent.com/47482260/79685185-95b51300-822e-11ea-8355-8dbb7c09edf6.png">

[2020-04-19 18:47] tteuer commented on #128
I'm not sure if it's coincidental or not, but I updated Node from 13.12 to 13.13 today and it seems to have solved the issue.

[2020-04-19 18:47] #128 closed, assigned to nobody

[2020-04-19 23:50] tonesto7 commented on #130
@adavison007 There is nothing wrong with the plugin under Hoobs.  I've experienced similar issues with other plugins after a recent update.

Try the HOOBS support

[2020-04-20 07:25] adavison007 commented on #130
@tonesto7 thanks, I’ve spoken to support, had to delete and reinstall and all working again 😮

[2020-04-21 12:20] #130 closed, assigned to tonesto7

[2020-04-21 12:20] #126 closed, assigned to tonesto7

[2020-04-24 08:24] shaunreinson opened #133 "Buttons working ?"
I've tried using a few buttons on ST now - Fibaro fob, Popp Keypad (with my device driver which emulates a 23-button device), Nodon 4-button etc... - they all work fine in ST but I can't get them to trigger any automation on Homebridge.

I've tried all sorts of combinations, including with and without child devices.

I've inspected the log/console on Homebridge and its receiving the button being -

[2020-04-25 06:24] bhmeade commented on #129
I'm having the same problem.

[2020-04-26 04:58] jianyu-li opened #134 "(BUG) Thermostats with decimals round up"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x ] The SmartApp and Device Handler are using the latest code available.
-  [x ] That Both the SmartApps and Dev

[2020-04-26 12:32] tonesto7 commented on #133
Buttons are weird under home ridge.
They won't trigger button press events back to ST.  They only allow you to link automations to each button

[2020-04-26 12:34] tonesto7 commented on #129
Are you using the new SmartThings app or classic?

[2020-04-27 12:29] cdillinger27 commented on #129
Using the classic app.  Since posting, apple home is showing and functioning with the devices, however ST still not saving devices.  Functionally, it is working, but just not showing the devices added in ST.

[2020-04-27 18:18] tonesto7 commented on #129
what do you mean it's not saving the devices?
Out of curiosity are you using Android?
If yes,  After selecting devices and pressing done.  let it sit for a couple of seconds before moving to another page

[2020-04-27 20:32] sOckhamSter opened #135 "(BUG) Locks will lock/unlock, but Siri thinks it didn't work"
I have a Danalock v3 connected to the SmartThings hub using Zigbee and presented to HomeKit via homebridge-smartthings-v2. When I operate the lock using the Home app it appears to work perfectly fine. If, however, you ask Siri to operate it, Siri apologises and says that they weren't able to lock/unlock it. But... it does actually work! Watching the logs, it looks like it might be because there is

[2020-04-28 00:14] tonesto7 commented on #135
Something is happening with smartthings that last week.  I'm seeing the same weirdness with my locks, and other devices.

[2020-04-28 00:30] cdillinger27 commented on #129
Not using android - using ios, classic app, homebridge V2.  When I go into homebridge app and click on either "define device type" or "select your devices" and configure/set the devices and then save all the way out, and then go back in, all of the selections are gone - shows "0 Selected".  This is still occurring, however, is now showing up in apple home and functioning, but still shows "0 Select

[2020-04-28 02:47] ahamill85 commented on #129
I'm also having the same issue. I also noticed my app ID and token change every time I open "Render the platform data for homebridge config.json".

iOS 13.3.1
homebridge v1.0.2
homebridge-smartthings-v2 v2.3.2

[2020-04-28 04:24] bhmeade commented on #129
Yes, I saw the same thing. I keep updating those values in my config.json file only to find that they have changed again the next time I look.

[2020-04-28 13:34] tonesto7 commented on #129
I wonder if the plugin is having issues with the new homebridge 1.x
I will do some testing

[2020-04-28 14:08] ahamill85 commented on #129
Thanks for looking in to it. Quick note, I noticed I get several instances of the HomeBridge v2 smart app appearing in my list of installed smart apps under my location in the IDE. Don't know what that means, just thought I'd share.

[2020-04-28 16:34] sOckhamSter commented on #135
I’m sort of glad it’s not just me then, I hope it’s a ST glitch which fixes itself. To be fair, it’s the only bug I have after upgrading both Homebridge and your plugin so doing well so far! Excellent work, thank you :)

[2020-04-28 17:06] potancen opened #136 "ERROR: sendStartDirect Error: [object Object] | Message: Request failed with status code 404"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ X] The SmartApp and Device Handler are using the latest code available.
-  [ X] That Both the SmartApps and Dev

[2020-04-28 18:32] tonesto7 commented on #136
This due an invalid configuration.

[2020-04-28 18:32] #117 closed, assigned to tonesto7

[2020-04-28 18:32] #81 closed, assigned to tonesto7

[2020-04-28 18:33] potancen commented on #136
Ahhh, any recommendations on how to fix?

[2020-04-28 18:34] tonesto7 commented on #125
This is created because you must have SmartHomeMonitor installed under ST... It allows arming/disarming of SHM

[2020-04-28 18:34] #125 closed, assigned to tonesto7

[2020-04-28 18:35] #121 closed, assigned to tonesto7

[2020-04-28 18:51] tonesto7 commented on #129
You will need to remove the excess instances of the smart apps.

I've been playing with the smart app some and can't duplicate the issue with saving devices.

[2020-04-28 19:07] tonesto7 commented on #136
Actually, I wonder if ST is having platform issues again and the endpoint in the smartapp is not responding.

[2020-04-28 19:16] ahamill85 commented on #129
I removed all of the excess instances, but I believe they are recreated every time I try to save options for the smart app. I'm going to reinstall this afternoon and post my settings and some other errors I've seen that might shed some light.

[2020-04-28 19:19] potancen commented on #136
Everything *seems* to work correctly, but I don't like having errors in my logs.

[2020-04-28 19:31] tonesto7 commented on #136
well, that's almost impossible to expect.
In this case, the plugin is unable to reach the smartthings app in the cloud.

[2020-04-28 19:40] potancen commented on #136
Anything I can do to help troubleshoot?

[2020-04-28 22:51] cdillinger27 commented on #129
Okay tonesto7 - thanks for taking a look at it.

[2020-04-29 01:34] ahamill85 commented on #129
**Update**
Everything I configure when I first open the app is able to be used by synced to homebridge, but any subsequent opening of the homebridge-smartthings app, causes a new app/configuration to be created. Essentially, I can't figure out how to edit a previous setup in the homebridge-smartthings settings. Not sure if that helps hint at where the issue is.

[2020-04-29 11:17] shaunreinson commented on #133
I set up an automation on Homekit (via the Button device setting, not the Automation option - as per Home instructions), so that when Button 2 is pressed it changes the temp of the Honeywell Evohome Office Thermostat plugin that I'm also running on Homebridge.

This is not via ST.

I can see the button being pressed on the Homebridge status page.

But it still doesn't trigger an automation on Home

[2020-04-29 13:12] tonesto7 commented on #129
Can you do a screen recording on the process you are taking to access the smart app after you've completed the setup the first time?

[2020-04-29 13:13] tonesto7 commented on #129
Once you've installed an app you access it under automation tab at bottom and then the smartapps tab at the top.

[2020-04-29 13:50] ahamill85 commented on #129
That was it. I was reopening the initial app setup and never looked under automation. I apologize for this mixup. I'm pretty new to SmartThings, so maybe that part of was common sense. I followed this tutorial as well as the installation instructions within this GitHub repo and I don't think there's a mention of the automations tab, which might be helpful.  Thanks for your help with this and for t

[2020-04-30 04:37] tonesto7 commented on #129
No worries...  There was a point when I was in your shoes and learning the ropes here :)

[2020-04-30 04:37] #129 closed, assigned to tonesto7

[2020-04-30 05:48] albertovm opened #137 "2.3.3 recognized as 2.3.2"
I did remove and reinstall the plugin, but Smartthings still indication that I have 2.3.2.
But it is not... Up to Date 2.3.3 published 4/29/2020

Regards.

[2020-04-30 11:45] albertovm commented on #137
Installation log:

npm
 WARN
deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
+ homebridge-smartthings-v2@2.3.3
added 172 packages from 135 contributors in 17.727s

2 packages are looking for funding
  run `npm fund` for details
[4/30/2020, 08:43:06] Installed "homebridge-smartthings-v2" package.

[2020-04-30 18:48] ngrimes08 opened #138 "Work without bridge"
Will this work without a smartthings hub? I have a washer, dryer, and fridge and they are all connected and communicating without a smartthings hub. Would like to get washer and dryer in HomeKit but don’t want to pay for another hub.

[2020-05-01 21:59] danielhopkins opened #140 "(BUG) Fan reads 0% while running"
(Moved from the old project)

- [x] That OAuth is Enabled for the SmartApp under the IDE.
- [x] The SmartApp and Device Handler are using the latest code available.
- [x] That Both the SmartApps and Device Handlers have been Published for You in the IDE.
About Your Setup

How many devices are detected?: 9
Mobile App Version(Not required): iOS 13.5
SmartApp Version: 2.3.3
Device Handler Version: ??

[2020-05-02 08:33] aifreedom commented on #113
Hi @tonesto7 , do you have any progress on this feature? If you have a general plan in mind, I’d like to take a look and send a pull request because I’d like to add them too.

[2020-05-02 22:04] tonesto7 commented on #136
verify the config data in the smart app matches the info in the config.json for homebridge

[2020-05-02 22:06] #93 closed, assigned to tonesto7

[2020-05-02 22:07] #32 closed, assigned to tonesto7

[2020-05-02 22:50] roberkane212 commented on #32
Thanks for the try @tonesto7

[2020-05-06 01:37] BrennonTWilliams opened #141 "(BUG) Sylvania RGB LED Lightstrip not showing in HomeKit, but works in the SmartThings app"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2020-05-06 02:17] BrennonTWilliams commented on #141
Changed configuration in the SmartThings HomeKit app which introduced a new error. I'll create a separate issue for it.

[2020-05-06 02:17] #141 closed, assigned to tonesto7

[2020-05-06 02:26] BrennonTWilliams opened #142 "(BUG) Homebridge won't launch; Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2020-05-06 14:23] singhrajtomar opened #143 "Couldn't Complete Setup"
Hello,
I have been trying to configure this plugin in home bridge. I have done all the steps correctly in Part 1 (SmartApp Installation) till "Usage" section. You mentioned that the window automatically appears after enabling the OAuth. The window didn't appear for me so I tried to use the simulator. the first screen appears as given in the image but there is a difference of selecting the Browser

[2020-05-06 22:40] zburk commented on #133
@tonesto7 I'm also having an issue with the SmartThings button where if the same signal is sent twice (press -- press) nothing is triggered. If I send different signals (press -- double press), HomeKit registers the signal.

In the video, you can see Homebridge always registers the click in the logs but HomeKit only recognizes it when it's different back to back.
[https://streamable.com/n8uy78](ht

[2020-05-07 12:52] #143 closed, assigned to nobody

[2020-05-07 14:40] laskatj commented on #81
I’m having a similar issue with lock notifications for my kwikset 910. Logs show status Updates are being received by the plug-in, lock status updates in real time however no notifications are received. Randomly I will get one notification at times. Notifications are set up for the lock correctly in the home app. I see this issues marked as done but I don’t see any code change referenced?

[2020-05-08 02:56] patricegautiersmartthings opened #144 "Axis Support: Yes!"
I am happy to report I am able to see and control Axis Smart Shades from HomeKit via home bridge and a smart things hub

[2020-05-08 03:27] patricegautier commented on #144
Well it's not all rosy:  The Axis smart shade is correctly visible in HomeKit, you can correctly raise and lower the shade, including via automatons, but after you do that and the shade does its thing its status doesn't update in Homekit.

If you restart home bridge, the correct status is then reported.

[2020-05-09 17:31] zburk commented on #138
@ngrimes08
Just wanted to make sure you saw this in the FAQs

To my understanding, since the hub itself isn't doing any processing, as long as you can access the SmartThings app and install the Homebridge SmartApp, I would guess that it would work as long as you disable everything in the config that tries to directly connect to the hub.

[2020-05-09 18:30] rajid opened #145 "Can't find homebridge v2 "view configuration data""
## Verify the following before opening an trouble issue

I'm probably just missing something obvious here, but it could also point out a potential way in which the documentation may be misunderstood.

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for t

[2020-05-09 18:30] mbriney opened #146 "(BUG) {Schlage locks not showing up}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-05-09 18:36] rajid commented on #145
Ah!  You have to go to App Settings, then hit Next and hit "Done" to get the smart app running.  After that, you have to wait a few seconds for it to start.  Then you can go back into Homebridge v2 and select "Render the platform data for Homebridge config.json"!

I guess the install instructions just need to be updated.

I'm off to the races now!

[2020-05-12 14:14] shaunreinson opened #147 "Window Shades don't update status"
When using Homebridge to open/close Shades, their status is not being updated in Homebridge nor Homekit nor the Smartthings App (all versions).

The Window Shades are physcially moving fine though...

Also, they will then not move again, until you press 'Refresh' on the ST app and their status gets updated/notified to Homebridge/Home/Smartthings, and then it will move again.

Needless to say, if I

[2020-05-12 19:04] volkerwill opened #148 "No motion detection from SmartThings in HomeBridge whatsoever"
Just starting to seriously use HB I found that none of my motion sensors seem to fire in HB. I use the latest HB on a Raspberry 3. Everything, all bulbs, outlet dongles configured in SmartThings work just fine and work as expected in HB and can be controlled in HomeKit.

I use the homebridge-smartthings-v2 v2.3.3 plugin. No filters are applied in the ST mobile app.

The two motions sensors, SmartT

[2020-05-12 19:21] JJJ commented on #147
I am seeing something similar on the latest versions with my shades.

[2020-05-12 20:04] JJJ commented on #136
Got here via searching GitHub for `sendStartDirect`.

I'm seeing:

[code]

`Request failed with status code XXX` is apparently a Node message.
HTTP error code 405 is related to using the wrong request type, like `GET` instead of `POST`.

Going to double check my configuration and will report back.

[2020-05-12 20:19] JJJ commented on #136
@potancen I was able to confirm what @tonesto7 recommended and get my shades working again.

I made sure everything was completely up-to-date (iOS app, Homebridge, all plugins, SmartThings app, etc...) then I recreated a new access token for this app, saved, and everything is now working OK here.

[2020-05-13 12:52] shaunreinson commented on #144
Its a bug in the way this deals with Window Shades - I have exactly the same issue with my Ikea Fyrtur blinds.... Would love to get this working, otherwise I'll have to hook up Tradfri to my blinds and do it that way - which I don't really want to do

[2020-05-13 17:45] patricegautier commented on #144
for what it's worth, there's some kind of a reconciliation step that runs every hour looks like, so the state is eventually shown correctly on the HomeKit side

[2020-05-15 15:29] tonesto7 commented on #148
There is nothing wrong with the plugin related to motion.  I have 30+ motion sensor of various models.
It's likely related to the latest platform issues with Device reporting.
Are you still seeing the same behavior today?

[2020-05-15 15:31] tonesto7 commented on #147
I believe this is related to ST issues.  Things have been a mess lately with device control and device events.  I suspect that events are not being relayed via the smart app.  Try opening the smart app and pressing done to resubscribe to the events

Nothing has changed in recent versions related to shades

[2020-05-15 15:33] tonesto7 commented on #144
This is a hard one for me as Shades are one of the only items I don't have.
I'm about to build my own in the next week so I will have more hands-on experience soon with the code logic

[2020-05-15 15:36] tonesto7 commented on #142
This is not something I can help with...  Some of the devices being used must have the same device id.

[2020-05-15 15:38] tonesto7 commented on #137
This happens when the plugin isn't able to reach ST smart app endpoint.

[2020-05-15 15:40] tonesto7 commented on #138
It does use the hub to send events to the plugin.  (I have a new version in development that uses WebSocket to receive events from ST, but it's not going to be ready to release for a bit)

[2020-05-15 15:41] adam8810 commented on #142
I was having this problem and realized I was having multiple accessories with the same name coming back from the Smarthings REST API plugin. After investigating I found out that some of my accessories were listed in multiple categories so I removed them from one and it no longer had issues starting. Hope this helps someone

[2020-05-15 16:02] tonesto7 commented on #142
The smartapp should have pointed it out to you.

[2020-05-15 16:33] ngrimes08 commented on #138
Cool. I’ll hold off from buying a hub then. I want to  be able to flash the lights when the washer/dryer turn off/finish a cycle. I have tried by other means such as IFTTT, but only the washer or dryer was supported, can’t remember which, but they are same series washer and dryer, so if one works the other should too I would think. But also when using IFTTT, it eventually caused my lights to rando

[2020-05-15 17:47] IanW69 commented on #148
I have the same issue ... The sensors (Aurora Motion & Door) all show up in Homekit as expected but don't see the state change when there is motion or the door opens.  I see the state change in the Smartthings application

[2020-05-16 03:22] JJJ commented on #147
I ended up rebuilding my Homebridge installation from scratch, and that seemed to resolve my issues.

[2020-05-16 18:09] patricegautier commented on #144
I will be curious to hear how that goes..  I was looking in that direction but it seems fairly involved still given the pieces available..

[2020-05-16 22:01] dsboulder opened #149 "Button Presses are sometimes lost"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-05-17 03:37] aktin45 opened #150 "Motion events showing even though filtered out"
Motion events are showing for devices even though all motion capabilities have been filtered out through the app.
![Screen Shot 2020-05-16 at 9 35 19 PM](https://user-images.githubusercontent.com/45269110/82135217-58a45800-97bd-11ea-9d13-bb526cd4e984.png)

[2020-05-17 19:52] albertovm commented on #137
Did latest update, renew my Client Secret in SmartApp:

[code]

Config:

`"description": "This file is used for plugin configuration.",
    "ports": {},
    "accessories": [],
    "platforms": [
        {
            "platform": "SmartThings-v2",
            "plugin_map": {
                "plugin_name": "homebridge-smartthings-v2"
            },
            "name": "SmartThings-v2",
            "

[2020-05-18 09:06] shaunreinson commented on #133
I have similar - example being the ZWave Aeon Minimote, which has 4 buttons and registers 4 child devices as accessories, this is good. When you press a button, the status window displays 'Button Number: 1 Button Value: Pushed' but repeats it 4 times.  Homekit won't recognise this - neither will Node-Red, although it does get the occasional one - typically Press, then Hold - will show the Hold the

[2020-05-18 13:51] #142 closed, assigned to tonesto7

[2020-05-19 22:01] Corvetteguy19 opened #151 "(BUG/User Error) HomeKit Not Updating"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2020-05-20 16:48] Tom2Drake commented on #127
How did you get your WindFree in HomeKit? I defined it in the SmartThings Homebridge app as "other devices" and the the AC appeared as Switch device in HomeKit.

[2020-05-20 23:27] Corvetteguy19 commented on #151
If you need me to pull logs, please let me know the best way to do this and I’d be happy to send them.  Thanks

[2020-05-22 16:48] vidgizmo opened #152 "(BUG) "The requested platform 'SmartThings-v2' was not registered by any plugin.""
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [?] The SmartApp and Device Handler are using the latest code available.
   The SmartApp shows appVersion 2.3.3 an

[2020-05-22 21:50] piokaczo commented on #127
Yes. It is shown as a switch.

[2020-05-22 23:57] roninniagara opened #153 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
Be able to change device type. Leaksmart valve paired with smartthings. it shows in homekit with this plugin. you can control it. but when you try to setup an automation it doesn't show (when a water sensor detects water, shut valve off, except the valve wont show as a device you can choose). maybe making a "switch" would change th

[2020-05-24 02:11] Corvetteguy19 commented on #151
Any ideas on this?  I also noticed in IDE the ST-Community-Installer is green.  The HBV2 is blue.  Both are marked published.  Not sure what the different colors mean in IDE.

[2020-05-25 21:39] nebrelbug commented on #49
@tonesto7 are there any plans to get this to work? Is there anything I could do to contribute?

@OnlyOnly0613 how were you able to use scenes as a workaround?

[2020-05-25 21:41] tonesto7 commented on #49
I have a new version in the works that uses the new API. It’s going to be awhile before it’s ready to release.
Work and family have been monopolizing my time lately

[2020-05-25 21:46] nebrelbug commented on #49
@tonesto7 sounds good :)

[2020-05-26 23:21] davidwhicker commented on #81
Sorry to hijack the thread. I have a Yale lock and want to try this plugin out. Is the unlock immediate if I use it in an automation? Ie when door unlocks then turn off alarm? @jdebardi

[2020-05-27 05:46] jdebardi commented on #81
Hi

Yes; it’s instant.

[2020-05-27 07:50] spacemannz commented on #149
Same issue here.
Same app versions, running on OSX.
Buttons: Genuine Smartthings button and also Ikea dimmer switch.

[2020-05-27 19:02] jareep opened #154 "Zooz ZEN21 Smart Things Switch not properly recognized"
The device shows up as a Stateless Programmable Switch even though the logs show it as a normal switch (or at least it appears to).

**Homebridge Log (Edited for brevity):**
[5/27/2020, 2:30:35 pm] GOOD: Devices to Create: (1) [ 'Master Closet Light']
[5/27/2020, 2:30:35 pm] INFO: Added Device: (Master Closet Light | a7db07d8-afdb-4a97-b507-40561a99d5c1)

**Switch Details**
<img width="790" alt="b

[2020-05-27 19:16] #154 closed, assigned to nobody

[2020-05-27 19:23] jareep opened #155 "(BUG) Zooz ZEN21 Switch not properly recognized"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-05-27 22:35] shaunreinson commented on #149
Same here - across many different button devices including Aeon Minimote, Fibaro Keyfob and Remotec Scene Master. Bit frustrating as I'm trying to shift away form ST for rules processing and using Node-Red. Moved my Ikea blinds away from ST to the Ikea gateway/hub to get more reliable status updates and that's worked fine. Have tinkered with Domoticz, but not as easy as ST to setup for Zwave devic

[2020-05-28 01:00] BrennonTWilliams opened #156 "(BUG) Admin page blank on mobile devices"
-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Device Handlers have been _Published for You_ in the IDE.

---
## About Your Setup
-  How many devices are detected?: 5
-  Mobile App Version(Not required):
-  SmartApp Version: latest
-  Device Handler Version: latest
-  H

[2020-05-28 18:45] bsaint9 commented on #152
if it helps, I had the exact same issue.  I resolved it by reinstalling the plugin from the command line.  Once i did that, it finally booted up without that error.

[2020-05-30 02:12] vidgizmo commented on #152
Thanks. I'll give that a try.

On Thu, May 28, 2020 at 1:45 PM bsaint9 <notifications@github.com> wrote:

[2020-05-30 20:57] bboy11501 opened #157 "Hub added but nothing else shows up"
Hi, So I got it to work sort of, my smartthings hub shows up in homekit, but no other device connected to the smartthings hub shows up. The config in homebridge and the app both have the same info. Here is the error I got:

[5/30/2020, 4:53:04 pm] [SmartThings-v2] ERROR: getDevices Error: [object Object] | Message: Request failed with status code 403
[5/30/2020, 4:53:04 pm] [SmartThings-v2] ALERT:

[2020-05-31 23:06] #157 closed, assigned to tonesto7

[2020-06-01 11:02] graphy-young commented on #118
I have a same problem, too. Wish this will be solved

[2020-06-02 15:04] Casuallynoted commented on #151
I've been having a similar issue (possibly the same issue). My devices seem to almost never update, and if they do it's very very late. I opened a door and got a notification about it almost an hour later. Sometimes I don't get notifications because it seems to just sort of skip over events like that. Smartthings is notifying me right away, though.

[2020-06-07 03:56] cnnn opened #158 "[Feature Request] Switch with associated buttons as separate devices"
**Is your feature request related to a problem? Please describe.**
I have a few switches (GE and Innoveili) that also have button capabilities. Their device handlers expose double presses, triple presses, config button, etc. to SmartThings. This plug-in can only expose the switch either as switch or as button to HomeKit, not simultaneously.

**Describe the solution you'd like**
I’d like to see two

[2020-06-07 20:36] cnnn commented on #158
to be clear, as of today with the latest plugin and smart app, the switch with both switch and button capabilities shows up as button by default, no matter it’s added as light of switch. It seems button type takes precedence. In order to expose a switch or light to HomeKit, I have to explicitly filter out the button capability in the smart app.

[2020-06-10 21:50] treforparr opened #159 "Love to see ring doorbell, security cameras in Google home,"
I was thinking could you smart things to linking with Google home and maybe bring in  anyway to interlink the Google home from Smath things with ring doorbell

[2020-06-12 01:02] Treverr opened #160 "(BUG) Axis Gear Group does not close"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-06-12 14:34] mikeb3408 opened #162 "Apps will not install from community installer"
Hello!

I have the community installer loaded on my SmartThings IDE and connected to your repository and published.

When I open the smarthings app and login with my Samsung account I see the list of apps available. However when I click any of them all it does is take me back to the top of the page of apps. I also see that every app does as being downloaded zero times but on all of the tutorials t

[2020-06-12 22:33] cnnn commented on #158
my temporary workaround is to set the last variable to false in ServiceTest for light, so "button" does not block "light".
https://github.com/tonesto7/homebridge-smartthings-v2/blob/434747dca7ea53e8e1225da92825923a5f2cd424/src/ST_ServiceTypes.js#L123

[2020-06-15 07:22] Jsunm1 commented on #162
I also have this issue.
We were told to try the regular SmartThings App and add it since maybe something was updated.

However it looks like it starts to parse something and then times out saying, "We're having trouble connecting.
Check your network connection and try again. <OK> "

[2020-06-16 23:07] treforparr commented on #159
I would love to see smart things and ring doorbell integrated and integrated into HomeBridge

[2020-06-17 01:54] stckhlm73 commented on #162
Yes, I have exactly the same issue too. To try and rule out a local issue I've tried multiple devices and browsers but to no avail! Please help!

[2020-06-17 07:22] jdebardi commented on #159
Ring has an official Smarthings integration already (just add device in the app) and there is a homebridge-ring plugin as well. I use both. https://www.npmjs.com/package/homebridge-ring

I think the ring devices are probably too varied/complicated to allow for easy compatibility in the homebridge-SmartThings plugin IMO, hence I use direct for both.

[2020-06-20 17:23] roberkane212 opened #163 "Not really an issue"
Does anyone know if smartthings cameras work with this plugin?

[2020-06-21 00:21] brodkin opened #164 "(BUG) Hampton Bay Fan Accessory Not Loaded From SmartThings"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-06-21 10:08] Thomas2702 commented on #162
Was having the same issue, used the method in this video and it worked perfect.

https://www.youtube.com/watch?v=ORyEn5uVJ1k&feature=youtu.be&fbclid=IwAR0fRkulwJOreuUaI1ly4g6YMCC64Swww2vsse1KdaYHagMHT1_3RldST74

[2020-06-21 14:28] Corvetteguy19 commented on #151
Okay so I finally got it to work.  The devices I have connected to smartThings do not require a smartThings hub.  I was trying to get everything to work without the hub, but that wasn’t working.  So I went out and bought a SmartThings hub, got it connected, reloaded the plugin, and now everything works great for the most part.  My sensors are updating instantly and my Rachio controls seem to activ

[2020-06-21 14:28] #151 closed, assigned to tonesto7

[2020-06-21 21:13] Jsunm1 commented on #162
That videos approach worked like a charm!  Thank You!

[2020-06-22 00:18] stckhlm73 commented on #162
Solved! Thanks, @Thomas2702!

[2020-06-23 16:39] designorant commented on #142
This may also happen due to an accessory being cached twice in Homebridge, check for duplicates at:
**Homebridge Settings → Manage Cached Accessories → Remove Single Cached Accessory**

[2020-06-26 02:30] brodkin commented on #164
Removed and re-added. Worked this time as a basic device at least--go figure!

[2020-06-26 02:30] #164 closed, assigned to tonesto7

[2020-06-26 03:03] brodkin commented on #164
@tonesto7 My fan only shows up as a On/Off switch even though the logs seem to indicate that it can see the fan modes. Is this a caching problem or just a limitation of the current implementation?

[code]

[2020-06-28 00:29] cptoaks opened #166 "plug in gives error when restarting homebridge"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x ] The SmartApp and Device Handler are using the latest code available.
-  [x ] That Both the SmartApps and Dev

[2020-07-03 00:58] treforparr opened #168 "(BUG) {ENTER TITLE HERE}"
Won't repo on smarting can you set up the app it won't open the door properly in the home app is this a known issue and how do you fix it

[2020-07-03 02:24] treforparr commented on #168
Smart things is definitely not working properly I've spent 45 hours trying to get it to work on the app isn't working to get up isn't working and the community hub is not Community app is not connecting

[2020-07-04 19:06] Kepete opened #169 "(BUG) Lock accessory not receiving status updates to Homekit"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-07-10 19:33] tonesto7 commented on #163
Sorry they do not work with the plugin.  That's a difficult one to accommodate.
You would be better off finding a native homebridge plugin for your camera type.

[2020-07-10 19:33] #163 closed, assigned to tonesto7

[2020-07-10 19:35] #159 closed, assigned to tonesto7

[2020-07-10 19:36] tonesto7 commented on #156
I believe this issue needs to be opened up under the Hoobs github

[2020-07-10 19:36] #156 closed, assigned to tonesto7

[2020-07-10 19:38] tonesto7 commented on #158
Or add the button as a light device in the smartapp?

[2020-07-10 19:45] tonesto7 commented on #153
Try adding the device as a switch device under the SmartApp to see if that helps?

[2020-07-10 20:26] #148 closed

[2020-07-10 20:27] dsboulder opened #171 "Button Presses are sometimes lost"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-07-10 20:28] #145 closed

[2020-07-10 20:31] tonesto7 commented on #137
Is this still an issue?

[2020-07-10 20:32] #138 closed