[2019-11-09 15:26] Areson opened #1 "Complete V2 Transition"
Opening a placeholder issue to discuss any needed items.

[2019-11-09 15:27] Areson commented on #1
@tonesto7 Made this just to keep track of anything that is left to be done. I see that you've been making some adjustments over the last couple of days, so I wanted to touch base and see how things are looking.

Also, I noted that you cleaned up the issue with one of the duplicate Characteristics. I think we still need to remove `CurrentConsumption1` as it is a duplicate of `Watts`. It's not being

[2019-11-09 15:38] Areson commented on #1
Added #2 to address the above issue and make a few adjustments to the readme.

[2019-11-09 15:41] Areson commented on #1
I'm not sure we _have_ to change the platform name on the plugin...we may be fine with just the plugin name changing, unless people are trying to have the old and new version installed at the same time.

[2019-11-10 13:36] tonesto7 commented on #1
I have a crap load of changes coming that move the plugin over to a new class based structure.
The should be committing it by tomorrow

[2019-11-11 14:55] tonesto7 commented on #1
Can you review/test the code in the refactor branch?
It's broken at the accessory config part
I'm trying to streamline the whole device creation process and make it easier to follow.
I've been using homebridge-wink3 plugin as a sort of inspiration.

[2019-11-11 21:22] tonesto7 commented on #1
Can you take a look at the code in the refactor repo?

I'm struggling to get the ST_Accessories file working.  I seem to be losing context and it's making my head spin.

I've been using the homebridge-wink3 plugin as an inspiration but I keep having issues with inheritance.

[2019-11-11 21:57] Areson commented on #1
Yes. Loading existing devices in the cache is tricky because the platform makes you work with its existing object that it loaded. You end up having to take different route than initializing the first time which was what was happening in the static version of the plugin.

[2019-11-12 00:52] tonesto7 commented on #1
But looking at the wink3 plugin it doesn’t have to do anything special that I noticed.

The one thing I discovered is we can use accessory.context as an object to store more data.  I was able to eliminate the custom characteristic you had to create

[2019-11-14 02:36] kwalkington commented on #1
How’s it coming along?  I wish I could help.

[2019-11-14 05:58] Areson commented on #1
@tonesto7 See my latest commit to the `refactor` branch. Cleaned up a lot of various issues and I've got loading and caching working on my end, and the few tests I ran seem to show that devices are updating properly between SmartThings and Home. I only really pinged some basic items, like lights.

[2019-11-14 13:11] tonesto7 commented on #1
Sweet.  I’ll take a look when i get into the office

[2019-11-14 16:06] tonesto7 commented on #1
Wow, Thanks for the fixes!!
They were so simple for you to solve.  That's why fresh eyes help immensely.
It's nice having someone to collaborate,

[2019-11-18 15:59] kwalkington commented on #1
What's the new estimated completion date?

[2019-11-18 21:02] tonesto7 commented on #1
@kwalkington This might take another week.  Most of the code has been completely rewritten.

[2019-11-18 21:04] tonesto7 commented on #1
@Areson I have some changes for you to test in the next 2 hours.

I've got the cache and new devices loading 100% without errors on the 147 device setup. as well as add/remove/update device functionality working.

[2019-11-20 14:28] tonesto7 commented on #1
Hello @Areson,

I'm sure you've noticed the large volume of changes lately.
Things are running smoothly up to the point of updating the device states.
Do you think you can take a look?  It's something in the processDeviceAttributeUpdate function.

I have a much better grasp of how this all works now.  I just don't understand if the homebridge watches for accessory object changes or not.

[2019-11-20 16:40] tonesto7 commented on #1
@Areson NVM... I ended up figuring it out with switches and it updates the home app state now realtime.  I just have to build out the function to accommodate the remaining attributes.

[2019-11-20 16:50] Areson commented on #1
As an FYI, one thing that I had setup in my original patch to the plugin was a "late load" for cached plugins. You can pull the cached data from initialize a device from that, but if the device has had any changes in capabilities since then (like from a Firmware upgrade?) then you won't ever see them, as you'll always used the cached data. Ideally there would be some mechanism to re-evaluate the c

[2019-11-20 17:22] tonesto7 commented on #1
these issues will be handled in my next commit

[2019-11-21 05:21] Casuallynoted opened #3 "[Feature Request] Motion Sensors/Smoke Detectors not showing under SmartThings options"
**Is your feature request related to a problem? Please describe.**
I’m looking to use this plugin together with:

https://github.com/csdozier/device-concord4

This Smartapp, which creates four object types for a security system-

An alarm system (appears to be shown in HomeKit despite not being selected)
Contact sensors (showing up in the sensors menu on the Smartapp and appears in HomeKit)
Motion

[2019-11-21 12:59] tonesto7 commented on #3
This plugin is not done yet.  It’s a complete rewrite of the original.

[2019-11-21 13:03] #3 closed, assigned to tonesto7

[2019-11-22 12:35] tonesto7 commented on #1
@Areson I have the plugin running pretty well. I think I have it removing unused services as well but haven’t fully tested.
The only issue I need to resolve is I’m seeing the switch characteristics losing there on/off state after a little while.
Do you think you can take a look at that?

[2019-11-24 19:20] Areson commented on #1
@tonesto7 Can you give me some more info on what it means that it is "losing their on/off state"? Does it stop registering when they change state in HomeKit after a while?

Also, I think we want to be careful about removing services. Part of the way the new API functions is that it loads cached services and can keep them in HomeKit, but in an "unavailable" state in case they went offline. If somet

[2019-11-24 19:29] Areson commented on #1
Nevermind about the services...I was thinking removing accessories, which is a bigger deal.

I'll try and take a look at the switches, though I may not get to it today. One thing to consider is that in the `ST_Devices` file, the function name for a switch is `switch` which I believe is a javascript keyword. I'm not sure if that will cause problems here or not, but it might be worth testing changin

[2019-11-25 02:17] tonesto7 commented on #1
Understood. We can comment out the service removal.  As far as accessories go they are removed when we receive device data from st and device is not included.

The issue with the state is I’m seeing immediate changes when a command is executed under HomeKit or an attribute event is received from ST.  I’m noticing the states seem to get out of sync under HomeKit.

[2019-11-25 14:31] tonesto7 commented on #1
This is referring to devices like switches that don’t receive periodic updates.

[2019-11-25 21:42] tonesto7 commented on #1
@Areson Were you able to take a look at this?
I was just going to take another stab at right now.

[2019-11-25 21:46] Areson commented on #1
Not yet. I wanted to setup a second homebridge so as not to disturb by first one.

When I first tested all of this a week or so ago, there was an issue with a closure that kept the event handlers from working properly because the object they were attached to was not the correct one. I was thinking to try verifying that the `this` that gets referenced in the callback was a reference to the correct

[2019-11-26 13:24] tonesto7 commented on #1
I added in the change event logging to the characteristics so I can see when the characteristics are changing and what the value is.  I’m noticing that those change events are not always equal to the events received from ST

[2019-11-27 22:32] tonesto7 commented on #1
@Areson im still chasing these state issues.
I’m planning on my merging the refactor branch into master tonight.

I want to create a new branch and begin the conversion to TypeScript

[2019-11-27 22:37] Areson commented on #1
@tonesto7 I'll try and sit down and look at it tonight.

FYI, I'll be less helpful with TypeScript as I'm not terribly familiar with it.

[2019-11-27 23:34] tonesto7 commented on #1
Lol.  I’m an amateur with TS but it where the future of JS is going.  VSCode helps me convert most of the code except for the type definitions.
Once you start looking at it I imagine you will pick it up quick

[2019-11-28 02:39] Areson commented on #1
@tonesto7 Looks like I'm running into an issue where the access token coming from app isn't properly in the request body? I'm going to bypass that check for now, but it's preventing the updates coming from the hub at the moment.

[2019-11-28 03:47] Areson commented on #1
@tonesto7 I found the issue, and it is the same closure issue as before. In the `ST_DeviceTypes` file we are passing in to arguments to each device type method, the accessory and the device data:
[code]
 We only call this once when the device is first initialized, and at that point the data in `devData` matches the data we put into `accessory.context.deviceData`. When we define the callback lambda

[2019-11-28 04:08] tonesto7 commented on #1
Well that was a quick find... Thanks a ton for working on this...  I will test it out

As far as the other errors make sure to run 'npm i' and update your smartapp because i've made a lot of optimizations to the logic to clean up some of the data sent to homebridge and to sort the devices returned and prevent duplicate devices under homebridge

[2019-12-02 20:45] wveilleux commented on #1
@tonesto7 Is this release is ready to use ? (I tried to install the plugin with npm and it does seem to be in the repo)

[2019-12-03 06:25] tonesto7 commented on #1
@wveilleux  It's pretty much ready.  The only item not working now is thermostats.
If your an early adopter then have at it ;)

[2019-12-03 08:37] cnnn commented on #1
Huge thanks to both @tonesto7 and @Areson! Can’t wait for 2.0 to resolve the reset problem that we’ve all been suffering for years.

[2019-12-03 20:32] RiggsUS opened #5 "No valid versions available for homebridge-smartthings-v2"
Great can't wait to try it.
Tried to install it today but I got an error "No valid versions available for homebridge-smartthings-v2"
I'm running a Raspberry pi 3, with HomeBridge in Docker.
unname -a: Linux homebridge 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux

Complete output:
/homebridge # npm i -g homebridge-smartthings-v2
npm ERR! code ENOVERSIONS
npm ERR! No valid ver

[2019-12-03 23:40] scordinskyc commented on #5
FWIW, I cloned the repository and manually installed it with npm. Works fine.

[2019-12-04 00:04] tonesto7 commented on #5
that's because i can't publish it yet

[2019-12-04 01:10] RiggsUS commented on #5
Sorry I assumed all was good to go with the instructions being listed, ill install it via GitHub.

[2019-12-05 03:45] tonesto7 commented on #1
@Areson  When you get a few minutes can you take a look at the patch_service_cleanup branch.

I'm trying to get the services to cleanup on devices where capabilities has been added/removed.  I can make it work on service restarts/startup but looking for ideas on doing when device refreshes occur under the loadData function.

The only thing I can think of is to create a definition table that contai

[2019-12-05 04:10] swamplynx opened #6 "(BUG) Device responds then becomes unresponsive"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Devic

[2019-12-05 04:26] tonesto7 commented on #6
If you can attach the file then go for it.  Otherwise just send me a link

[2019-12-05 05:03] swamplynx commented on #6
Looking at my logs I am seeing a lot of. "SendToLocalHub: (true)," despite having "local_commands" set to false after some experimentation with it true. Could it be persisting somewhere. The debug logs aren't very interesting otherwise....

Sending Device Command: off | Value: Nothing | DeviceID: (fce28b62-acac-4166-a7e6-efa60029a478) | SendToLocalHub: (true)

... then no response

[2019-12-05 05:10] swamplynx commented on #6
Logs...

On Wed, Dec 4, 2019 at 11:26 PM Tonesto7 <notifications@github.com> wrote:

[2019-12-05 05:20] Areson commented on #1
@tonesto7 I do have some thoughts on that.

First, Adding/removing services and characteristics _right_ at startup is probably something we may be better off avoiding, mostly because if we are initializing a device from the cache, then by definition it hasn't changed since the last time we've seen it. New devices will load based on whatever capabilities come across when we first get them, so that'

[2019-12-05 05:24] swamplynx commented on #6
Oddly, even when it does work, and the logs say it does, I'm still seeing "No Response" after this transaction with "Office Light":

[12/5/2019, 12:21:10 AM][SmartThings-v2]NOTICE: [CHARACTERISTIC (MotionDetected) CHANGE] motion (Upstairs Motion) | LastUpdate: (12/5/2019, 12:21:10 AM) | NewValue: (true) | OldValue: (false)
[12/5/2019, 12:21:10 AM][SmartThings-v2]INFO: [Device Change Event]: (Upsta

[2019-12-05 05:36] tonesto7 commented on #1
Ok this is exactly how I was envisioning it working.

Thanks for the quick reply

[2019-12-05 07:15] Areson commented on #1
Great minds...
:-P

[2019-12-05 18:19] #5 closed, assigned to tonesto7

[2019-12-05 20:10] tonesto7 commented on #1
@Areson Do you think you can work on these changes you mentioned I've been working on things to address removing characteristics which have resulted in some large changes, but I'm curious to see how you would implement it.

I started working on making the `configureCharacteristics` be able to used on the `updateDevices` calls.  So the first few example device_type methods check if the service exis

[2019-12-05 21:31] tonesto7 commented on #1
I'm honestly thinking about spending the time to build a definition map that defines all the required capabilities and attributes for each service and just creating a single function to help create and manage the services for each accessory.

I really don't want to have all these static methods for the device types.

[2019-12-05 22:48] tonesto7 commented on #1
I'm going with this new idea for now :)

Here is an example of the service definitions which will dynamicaly build the device types service and characteristics:
[code]

[2019-12-05 23:44] swamplynx commented on #6
Log attached. It is reletivly small as I enabled logging, reboot the server, replicated the issue with "Office Light," then pulled the log.
[homebridge-smartthings-v2.log](https://github.com/tonesto7/homebridge-smartthings-v2/files/3929608/homebridge-smartthings-v2.log)

...not seeing anything unusual in my ST Live Logging

[2019-12-05 23:55] GRClark opened #7 "(BUG) Dead Link"
The project link in SmartThings Community Installer doesn’t work.

[2019-12-06 00:05] tonesto7 commented on #6
I suspect this has something to do with the local commands? Is the local commands toggle off in the smartapp?

[2019-12-06 00:10] Areson commented on #1
I’ll take a look at this tonight when I get some and give you some feedback.

On Thu, Dec 5, 2019 at 2:48 PM Tonesto7 <notifications@github.com> wrote:

--
Ian

[2019-12-06 00:11] swamplynx commented on #6
That fixed it! I had set

 "local_commands": false,
  "direct": false,

to no effect, but changing the setting in the SmartApp resolved the issue.

[2019-12-06 01:15] swamplynx commented on #6
What’s odd is in the previous version local updates enabled in the SmartApp was working perfectly for me.

[2019-12-06 02:27] tonesto7 commented on #6
I'll look into it further.  The next plugin release will be major overhaul to the logic so I will squeeze this in.

[2019-12-06 02:28] tonesto7 commented on #1
hold off till tomorrow after i build this new idea out

[2019-12-06 03:18] tonesto7 commented on #1
@Areson
Ignore my previous statement :|
Please proceed.  I would like to see how you would tackle this :)

[2019-12-06 04:32] Areson commented on #1
Looking over things, it would be great if we could separate determination of the HomeKit service from adding the characteristics. Doing so would allow us more generically set things up. Example:

[code]

If we can figure out the HomeKit service that a device is we can then just let all of the capabilities on the device get added to that service, but the services them selves, (e.g. the characterist

[2019-12-06 05:41] Areson commented on #1
It's going to take me a few days to sort through this. I'm going to try and separate out the service from the characteristics and setup a mapping for both, and then roll that together with an update that will add/remove things as needed from an accessory.

[2019-12-06 15:48] tonesto7 commented on #1
@Areson
So I created a the determineServiceType method.
Can you layout more of an example for the getCapabilities() and configureCapabilities()?
I'm struggling to some to lock onto the design here and some guidance would be very helpful.

[2019-12-08 02:56] Areson commented on #1
I put some rough changes of what I was thinking in the `servce_capability_split` branch. I'm going for a mapping pattern similar to what you were suggesting before, but a bit more broken out. I'm hoping that this will make it easier to add new functionality in the future. `ST_ServiceTypes.js` is responsible for determining the service type. Its tests are the same as what you put together, but I wa

[2019-12-08 03:29] tonesto7 commented on #1
Thanks for this... I'll take a look at it tomorrow :)

[2019-12-08 05:15] jarvismeier opened #8 "(BUG) temperature readings incorrect for sensors"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2019-12-08 14:38] tonesto7 commented on #8
Thanks for reporting this I will try to track this down

[2019-12-08 15:04] jarvismeier commented on #8
I think you might need a config value to indicate F or C.  I’m running in Celsius.  I see it grabbing the correct value from smartthings but i think it’s putting it in as a Fahrenheit value.  In the example above 22F would convert to -5.5 Celsius.

[2019-12-08 15:13] tonesto7 commented on #7
Thanks for reporting this.  I just pushed out a fix

[2019-12-08 15:13] #7 closed, assigned to tonesto7

[2019-12-08 20:06] badamonis opened #9 "(BUG) SHM changes on ST side do not reflect on Homebridge side"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2019-12-09 03:26] tonesto7 commented on #9
i am able to duplicate this but just need to sort out why.  This may take me a week to get addressed

[2019-12-09 04:01] badamonis opened #10 "(BUG) ST devices with placeholder type will break Homebridge connectivity"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2019-12-09 05:32] tonesto7 commented on #10
I will try to duplicate but I have many devices that are placeholders under homebridge.  How many devices are you importing into homebridge

[2019-12-09 10:59] badamonis commented on #10
Upon further review, looks like this may be related to devices without a device network ID. Just so happened that all of the placeholders I have do not have a device network ID populated. This is a required field in the IDE but ST looks like it will allow certain devices to be created without one

This can be replicated with just 1 device.

[2019-12-09 17:35] tonesto7 commented on #1
@Areson
So I just spent some time building out the ServiceTypes matching.
Next up is working on splitting the capability initializers.  Can you take a look at the `ST_CharacteristicsInitializer`) file and tell me what you think.  I switched to a `accessory.manageGetCharacteristic` and `accessory.manageGetSetCharacteristic` to manage the initialize and update characteristics.

Let me know if you ha

[2019-12-09 22:11] tonesto7 commented on #1
The more I look at the capability map loop the more I don't think it's going to work...

Because we don't want all devices to create a switch just because it has the capability.  This applies to a lot of the capabilities

[2019-12-09 23:18] tonesto7 commented on #1
@Areson  I made some tweaks to move away from the capability map and use the service types to drive characteristics init and updates.  I also added the logic to clean up services.

In its current state, I'm seeing an error that ```.getCharacteristics() is not a function``` that I need to look at.

[2019-12-10 06:30] Areson commented on #1
@tonesto7 K. If we can't do it, we can't do it. I was hoping we could split it that way to make the logic a bit easier to build out, but keeping what you had previously is perfectly fine as well. I think it makes rebuilding things a bit tougher, since we'll either have to entirely rebuild a service or build tear-down logic for each device we can configure. For first pass since this is a new featur

[2019-12-10 19:54] tonesto7 commented on #1
@Areson
I wish we could do it this way but I'm just not seeing how.   I definitely want the logic to be modular and less static.
Hopefully, you've noticed I am willing to spend the time to do it right, so I will defer to your recommendations.  :)
I'll wait for your feedback before working on the code any further.

[2019-12-11 19:50] THATDONFC opened #11 "(BUG) Devices being added twice?"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2019-12-11 20:04] THATDONFC commented on #11
I just tried to reproduce the issue in v1.5.15 with the original smart app. Everything was set up correctly and the device was added successfully with 0 errors.

In the old version of the smart app I added the lock as a "sensor" and "other" just as I tried to do in v2 of the app. The device was added as I expected it to, as one device.

[code]

[2019-12-11 20:36] tonesto7 commented on #11
I'm not sure if you've modified any code or didn't follow the instructions but the responses i'm seeing here make no sense to me.  devUUID is not a value set by any of my code

[2019-12-11 20:37] tonesto7 commented on #1
@Areson Did you have a chance to look at this any?

[2019-12-11 20:38] THATDONFC commented on #11
Its the UUID of the device. I removed it from the logs because I'm wasn't sure if it was sensitive information that shouldn't be shared publicly. Sorry I didn't clarify that.

[2019-12-11 21:22] wveilleux commented on #1
Antony, my coding skills are limited (specially NodeJS) so I’m afraid I won’t be able to help you on it but if you need to test it, I’m there :)

--
Wayne Veilleux
wayne.veilleux@icloud.com

[2019-12-11 21:23] tonesto7 commented on #11
This shouldn't be able to create duplicates.  I even added protections for it.
Did you remove the accessories and persist folder for where the config.json is stored?

[2019-12-11 21:29] THATDONFC commented on #11
Well, I just accidentally nuked my ST hub. So I'm going to start fresh and try to install everything from scratch. I'll update this when I am back home and able to add all of my devices back to my ST hub.

[2019-12-11 21:34] tonesto7 commented on #10
@badamonis The missing device id should have no effect on homebridge.  I only use the GUID .id ST assigns to each device to identify it in ST.

[2019-12-11 21:35] tonesto7 commented on #10
What happens if you add them to the light capability input in the homebridge smartapp?

[2019-12-11 21:41] tonesto7 commented on #8
I just pushed out some fixes.  It may take a moment for all your temps to be corrected but just make sure to select the correct unit in the smartapp.

[2019-12-11 21:41] #8 closed, assigned to tonesto7

[2019-12-11 21:46] tonesto7 commented on #6
Hopefully this is fixed in the latest release.

[2019-12-11 21:46] #6 closed, assigned to tonesto7

[2019-12-11 22:58] tonesto7 commented on #9
I just pushed out a new plugin which should solve this.

[2019-12-11 22:58] #9 closed, assigned to tonesto7

[2019-12-11 23:45] Areson commented on #1
@tonesto7 Unfortunately, not yet. Some family stuff came up last night, so I'm shooting for tonight. My plan is to mostly fall back to our device setup as it was when we moved over and not worry about dynamically detecting new devices/capabilities. It's probably best to get this back to a migrated, working state for folks and then start working on the new stuff so folks are sitting here with a bro

[2019-12-12 01:50] tonesto7 commented on #1
Family first.  I can take care of rolling back to original.

The good news is that I worked on most of the outstanding issues that were reported on the master branch.

I want to use some of the new stuff we've worked on going forward so let me work on merging in some of it into a new branch.

[2019-12-12 03:20] badamonis commented on #10
@tonesto7 If I try to add a device without an 'Device Network Id', I can see the device being registered by your plugin, however, all of my devices in the Home app go unresponsive and that device will not show up. If I remove that device, it will go back to normal. If I add something into 'Device Network Id' field in the IDE, and readd it in the SmartApp, it will sync with the Home app. Looking at

[2019-12-12 05:26] Areson commented on #1
@tonesto7 Reviewed and made some minor change to the initializers in bulk. I _think_ that passing accessory was unnecessary based on how the method was setup.

Generally speaking I think I'm feeling pretty good about how things are split out. It's not as clean as I like, but I think in terms of being able to understand what happens with a particular device capability and adding a new one I think t

[2019-12-12 06:12] pangsmart opened #12 "(BUG) Refrigerator shows as always open."
After being added to homekit, my fridge only shows as open and 0 degrees.

[2019-12-12 06:17] pangsmart commented on #12
Verify the following before opening an issue

Go over all the following points, and put an x in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!

    [x ] That OAuth is Enabled for the SmartApp under the IDE.
    [x] The SmartApp and Device Handler are using the latest code available.
    [x] That Both the SmartApps and Device Handlers have

[2019-12-12 06:18] pangsmart commented on #12
About Your Setup

    How many devices are detected?: 2
    Mobile App Version(Not required):
    SmartApp Version: 2.0.1
    Device Handler Version:
    Homebridge Version: Homebridge v2.4 / HOOBS v3.1.1
    NodeJS Version:

Expected Behavior

Tell us what you think should be happening
Select one device as sensor and other, add one device to homebridge
Current Behavior

What happens instead of th

[2019-12-12 06:18] #12 closed, assigned to tonesto7

[2019-12-12 06:24] pangsmart opened #13 "Fridge does not show correct status. (BUG)"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x ] The SmartApp and Device Handler are using the latest code available.
-  [x ] That Both the SmartApps and Dev

[2019-12-12 06:30] pangsmart opened #14 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
Other capabilities for my fridge.

**Describe the solution you'd like**
I would love to have capabilities such as toggles for: Power Cool, Power Freeze and the Ice Maker. Additionally, it would be much appreciated if the status of the water filter could be added as well. (Perhaps through HMCharacteristicTypeCurrentAirPurifierState?

[2019-12-12 14:27] THATDONFC commented on #11
I want to be sure I'm setting this up properly. In the instructions, you have `local_commands` and in your example `config.json` you have `"direct": true`. Which of these is correct?

[2019-12-12 14:48] THATDONFC commented on #11
Ok, I just tried a fresh install. Here were my steps

1. Add homebridge v2 smart app to smartthings ide
2. configure homebridge v2 smart app in smartthings classic app by adding all devices that were configured previously in homebridge-tonesto7
3. `rm -r /accessories`, `rm -r /persist`
4. Install homebridge v2 plugin in hoobs.
5. Configure `config.json` (my config below)
6. Start homebridge

Resul

[2019-12-12 22:23] tonesto7 commented on #1
@Areson
Ok i've made the changes to the app and they are in the merged branch.
Look it over and let me know what you think.  I'm going to try running the code on my main setup to catch any bugs.

[2019-12-13 00:27] tonesto7 commented on #1
Looks like the recent changes broke the attributeLookup for device events so i'm working on fixing that right now

[2019-12-13 16:42] tonesto7 commented on #1
@Areson So I have this working now with the new format but it feels a little bit slower.
Here are my thoughts:
* I love the new service_types detection.
* I'm not sure the new device characteristics design is actually making it easier to maintain and decode.

I'm thinking about making a hybrid version of the characteristics detection where it checks for the event listeners and if they exist to upd

[2019-12-13 16:59] Areson commented on #1
@tonesto7 Which part feels slower? The initialization when it starts up?

You've got more experience than me in terms of setting up support for new devices, so if the design isn't making it easier to do that, then let's change it. If you want me to look at what you are thinking about let me know.

[2019-12-13 17:39] tonesto7 commented on #1
@Areson  It mostly feels slower at initially accepting events from ST.  Once it starts showing them it seems fine.

I guess the question is this:  Is it easier to maintain with `manageGetSetCharacteristic` or the more static style?

[2019-12-13 22:41] tonesto7 commented on #1
@Areson  So after some extensive testing it seems to be working pretty well.

I'm having one issue with the service_types detection that I don't have time to track down.
Basically, there are some `servicesTests` that I don't want to pass unless there are no other services detected.   `switch_device` for example.  Only is selected if all the previous types didn't get selected.

I added a new parame

[2019-12-14 17:21] kwalkington commented on #1
Hey guys!  Are you guys recommending waiting to install the plugin till you finish a few more things or is it ok to install?

[2019-12-14 18:37] tonesto7 commented on #1
The master branch has a fully functional version. We are just working on a restructuring of the design.  Basically a v2.1 of the plugin

[2019-12-15 04:14] kwalkington opened #15 "[ISSUE] We received a request from a client that didn't provide a valid access_token and app_id Error"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X ] The SmartApp and Device Handler are using the latest code available.
-  [X ] That Both the SmartApps and Dev

[2019-12-15 04:15] kwalkington commented on #15
*homebridge does start, errors in log

[2019-12-15 16:51] kwalkington commented on #15
The smartthings devices are now showing in Homebridge and Home but the homebridge logs are still giving this error:
[Homebridge] [12/15/2019, 10:50:24][SmartThings-v2]ERROR: (update) | We received a request from a client that didn't provide a valid access_token and app_id

[2019-12-15 18:31] bloody193 opened #16 "[ISSUE] HOOBS Plugin Configuration Page Blank"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ X] The SmartApp and Device Handler are using the latest code available.
-  [ X] That Both the SmartApps and Dev

[2019-12-15 18:52] tonesto7 commented on #16
Something wasn't installed correctly, because the quick config is included and working along with the plugin.  You can not directly update an existing version of the plugin.  You must remove the previous version from HomeKit and clear the persist and accessories folder located where the config.json is.

[2019-12-15 18:53] tonesto7 commented on #15
This error occurs when the SmartApp app_id and access_token and the app_id and access_token in the config.json file do not match.

[2019-12-15 18:56] tonesto7 commented on #13
I have a new version of the smartapp coming out this week with a device debug that allows you to select a device and it will show all attributes, capabilities, commands, and last 30 events.
So you can share that info with me so I can help build support.
I will comment here when it's released.

[2019-12-15 19:14] kwalkington commented on #15
But I verified that they both match.

[2019-12-15 21:44] bloody193 commented on #16
All this has been done, does it make a difference that i'm not working with home bridge but im using hoobs3.0?

[2019-12-15 22:02] bloody193 commented on #16
I just added homebridge-smartthings-v2 on to a fresh copy of "hoobs 3.0" running on a virtual machine and I can confirm this fixed the "Unable to determine plugin type for "homebridge-smartthings-v2" but the quick config still does not show.

[2019-12-16 04:38] tonesto7 commented on #16
I haven't used hoobs before but if I have time will try it out.

[2019-12-16 13:00] kwalkington commented on #16
FYI. I use hoobs and when I installed STHBv2 it placed a few lines as a placeholder for the platform in the config automatically. Although to see it you have to go into the whole config file in advanced as compared to just seeing the applicable code which is a new function in hoobs 3, vs 2. Then I just copied and paste the code from the smartapp into the config.

[2019-12-17 01:10] bloody193 commented on #16
Thanks I took your advice and added the info into the config under advance and im able to add my devices but then I get these errors and do not get real time status on the devices.

[Homebridge] (node:851) PromiseRejectionHandledWarning: Promise rejection was handled asynchronously (rejection id: 2)
[Homebridge] [12/16/2019, 20:03:35][SmartThings]NOTICE: setting temperature_unit to (F)
[Homebridge

[2019-12-17 01:53] tonesto7 commented on #16
I donated and downloaded an image for hoobs.  I will try to get it installed and see what hoobs is doing differently

[2019-12-17 01:58] bloody193 commented on #16
Oh Wow that's above and Beyond the call of duty but Thank You. Im new to all this and learning as I go. I had  it working perfectly on hoobs 2.0 and the previous version homebridge-smartthings by you.  Thanks to yourself and this wonderful community.

[2019-12-17 02:11] bloody193 commented on #16
This can be found on the hoobs github located below. Hope that helps.
https://github.com/hoobs-org/HOOBS/wiki/3.8-Configuration
Plugins

Each plugin you install will show in the config. We seperate each plugin into it's own section. This helps with keeping everything straight.

Plugins can contain a configuration schema. This is what we use to make the fields. If your favorite plugin doesn't have

[2019-12-17 02:19] hardlock75 opened #17 "[ISSUE] Thermostat `this.platform.getTempUnit()` Error"
First,
I would like to thank you for your project and for being active there. I even took the time to give you a donation even if I am not rich.
------------
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ i

[2019-12-17 02:22] hardlock75 commented on #17
i forget image 3 sorry

![2019-12-16 21_16_20-bug 3](https://user-images.githubusercontent.com/58529389/70959373-19c17900-204a-11ea-9240-b5f0197bf2d7.png)

[2019-12-17 02:32] kwalkington commented on #15
I have not changed anything in my setup, but the hoobs3/homebridge log is no longer giving that error.  Is it possible that it takes a matter of hours for something to be processed?

[2019-12-17 13:23] tonesto7 commented on #15
@kwalkington no it should be instant I will look at removing the check for the Id and token

[2019-12-17 15:12] tonesto7 commented on #17
Thanks for the details I will attempt to troubleshoot this

[2019-12-17 16:18] tonesto7 commented on #16
I'm not sure what to do with this issue.  Since the Hoobs interface was based on the config-ui-x plugin it supports the config.schema.json file which is included in the project.  For some reason, it doesn't want to show the config for this plugin.  Maybe you can open up an issue on Hoobs?

[2019-12-17 17:26] tonesto7 commented on #17
I've corrected the issue and it will be deployed in the next 30 minutes

[2019-12-17 17:55] tonesto7 commented on #16
@bloody193

Unable to determine plugin type for "homebridge-smartthings-v2"

Not sure why this didn't stick out to me before but this is a problem.  It doesn't see or can't reach the smartapp endpoint.

Maybe the config is invalid or something but I should be a simple copy and paste from the smartapp info.

[2019-12-17 18:11] tonesto7 commented on #15
This should be resolved in the recent release... Please update the smartapp and plugin

[2019-12-17 18:16] #15 closed, assigned to tonesto7

[2019-12-17 18:22] tonesto7 commented on #1
@Areson  I hope things are well...
I pushed out some fixes today, but so far I think this release is very stable and might be ready for release.

[2019-12-17 23:36] hardlock75 commented on #17
Thank you for your responsiveness, I updated Smartapps 2.0.3 and plugin 2.0.10. Error message in red is gone but I have another problem. I imagine that I have to open another repport problem? or i continu in this report?

[2019-12-18 03:51] tonesto7 commented on #17
depends on what the issue is

[2019-12-18 05:38] hardlock75 commented on #17
impossible for me to cool the room or heat the room. Because when Thermostat is added on smartapp. I go in the homekit, the thermostat starting to heat maximum 40 celcius. Is impossible do change temp. see my pic for more explication. for clear, the problem doesn't come from the lock. Since I tested with or without.

I have no choice, to withdraw in smartapps because the room would be too hot.

I

[2019-12-18 05:53] hardlock75 commented on #17
is it possible to integrate temperature sensor in thermostat info, like samething on m'y closing sensor door?
sorry for my big picture
![closing sensor](https://user-images.githubusercontent.com/58529389/71059413-d4c44200-2130-11ea-9035-65f474cd8d86.png)

[2019-12-18 14:27] bloody193 commented on #16
Thanks , mind sharing a example of the config you have for version 2.

[2019-12-18 14:43] tonesto7 commented on #17
If the thermostat exposes the attributes for those items they would show.  I recommend filtering out the lock capability using the SmartApp filter section.

To help further debug there is now a new version of the app with a new Input called Device Data Viewer.
Select your thermostat under one of the 3 inputs and share the data that's shown there

[2019-12-18 14:45] tonesto7 commented on #16
Mine is basically just like this:
https://github.com/tonesto7/homebridge-smartthings-v2#configjson-settings-example

There is something definitely wrong with the new config section in Hoobs v3.x

[2019-12-18 16:18] hardlock75 commented on #17
Yes the thermostat expose ambient attribute
![62025482-0FB0-4816-A00D-476D08C2A097](https://user-images.githubusercontent.com/58529389/71103440-2350fb00-2188-11ea-916f-0235d6d3de10.jpeg)

[2019-12-18 16:19] hardlock75 commented on #17
There is input device log

{
    "name": "Sinop\u00e9 RDC Bureau Carlos TH1124ZB",
    "basename": "Sinope TH1124ZB Thermostat",
    "deviceid": "9b8dc1f5-accb-4da7-948d-07b5af9f4fe4",
    "status": "ONLINE",
    "manufacturer": "Sinope Technologies",
    "model": "TH1124ZB",
    "deviceNetworkId": "091F",
    "lastActivity": "2019-12-18T16:06:09+0000",
    "capabilities": [
        "Temperature M

[2019-12-18 16:35] hurdleguy opened #18 "Smartthings device command not recognized in HB [question]"
Hello,

Recently updated to V2 of the ST homebridge via the community installer and updated the JSON to reflect the new plugin. Home app recognizes all my devices in my smartthings app but when trying to send a signal to turn on/off lights, it just hangs. Looking at log files, it seems that there is no "value" to the signal from ST to HB. Can someone point me to the right direction of how to fix i

[2019-12-18 18:26] HammerAce42 opened #19 "[Feature Request] Allow devices to be manually classified as thermostats"
**Is your feature request related to a problem? Please describe.**

I use a SmartApp which enables SmartThings to control Flair Pucks and Vents (flair.co). The Smartapp in question does not set the device type for a puck as a thermostat (developer explains why [here](https://community.smartthings.com/t/release-flair-devices-with-new-capabilities-for-building-physical-zones-in-your-home-and-control

[2019-12-18 20:31] radiocolin opened #20 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would love if my Samsung Tizen TV, which is connected to SmartThings, could be translated to Homebridge as a TV.

**Describe alternatives you've considered**
I'm currently using homebridge-tizen, so this would mean one less dependency.

[2019-12-18 21:51] tonesto7 commented on #19
@HammerAce42 In the latest SmartApp there is an input named Device Data Viewer.  Please select one of the pucks and share with me all the data that is reported

[2019-12-18 22:41] HammerAce42 commented on #19
Unfortunately I see an error when trying to view device data for the pucks (and the vents - other non Flair devices don’t cause this error)

{"error":true,"type":"java.lang.NumberFormatException","message":"An unexpected error occurred."}

[2019-12-19 00:57] swamplynx opened #21 "3-speed fan device type (BUG)"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2019-12-19 01:27] cnnn opened #22 "Filtering out Button capability from a device does not remove the extra button from Home app"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2019-12-19 17:21] swamplynx commented on #20
“ I'm currently using homebridge-tizen, so this would mean one less dependency.”

I feel like this would be one more dependency (ST) actually. For everything that has a homebridge plugin (e.g. Ring, Harmony), I use the native homebridge plugin and specifically do not proxy through ST.

[2019-12-19 18:55] radiocolin commented on #20
My thought is that if SmartThings natively supports TVs, and homebridge-smartthings-v2 could expose that directly to homebridge, rather than relying on the developer of homebridge-tizen back-hacking the Tizen API.

I wonder if there is also functionality that the TV exposes to SmartThings that can only be accessed through SmartThings (eg: Ambient Mode, or the status of non-app inputs).

[2019-12-20 21:17] jsrichie opened #23 "Unable to add repo"
Tried the community installed and it is not installing.
Filed back to the manual and am getting
You don't have access to tonesto7/homebridge-smartthings-v2

Any Ideas?

##** Verify the following before opening a trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ ] Tha

[2019-12-20 21:30] #23 closed, assigned to tonesto7

[2019-12-20 21:31] jsrichie commented on #23
removed GIT integration and re-added to re gain access

[2019-12-20 21:58] tonesto7 commented on #22
This is one of the items that will be addressed in v2.1.x.  It's currently in testing phases right now I expect to roll it out hopefully before the new year.

[2019-12-20 22:01] tonesto7 commented on #21
@swamplynx  So you selected the fan in the smartapp under the 3-speed Input?

Unfortunately, The home app doesn't support the speeds in the UI.
I created the inputs in the app to help set the increment values of the slider in the home app, but it doesn't seem to work like the characteristics describes.

[2019-12-20 22:04] tonesto7 commented on #18
I don't see anything wrong with that command.  The value nothing means the device doesn't have a value passed with the command name.

As far as the commands being slow I'm pretty sure ST was having issues with device control right around the time you were testing this.

[2019-12-20 22:08] tonesto7 commented on #20
I will try my best but it's going to take time as I don't have any Samsung TVs that integrate with ST.

Plus, the TV stuff is a bit more complicated.  Maybe over the next few months, I will snag up a TV.

[2019-12-20 22:33] tonesto7 commented on #19
I just pushed out an updated SmartApp version with tweaks to help handle any errors and at least show some data.

It will log any errors in the IDE logs

[2019-12-21 05:58] HammerAce42 commented on #19
That fixed it. Here is the output from the device data viewer:

{
    "name": "Puck",
    "basename": "My Puck Device",
    "deviceid": [redacted],
    "status": "ONLINE",
    "manufacturer": "Unknown",
    "model": "My Puck Device",
    "deviceNetworkId": [redacted],
    "lastActivity": null,
    "capabilities": [
        "Actuator",
        "Battery",
        "Health Check",
        "Polling",

[2019-12-21 17:03] radiocolin commented on #20
I have a TV, and a smart things hub, and I use this plug-in. Let me know if there’s any way I can help.

[2019-12-21 18:39] hurdleguy commented on #18
As of today, using ST app has nearly instant feedback when pressing a tile.

when using the ST-v2 plugin and setting the option of sending commands locally, my commands from the home app would never get through and it would hang indefinitely whereas turning the option to send commands locally off, then it would work, just frustratingly slow.

Am I doing something wrong?

This is running on a pi3b+

[2019-12-22 11:27] HammerAce42 opened #24 "(BUG) Repeated errors in homebridge log file"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2019-12-22 14:40] paqpaqpaq opened #25 "Will this work without a hub?"
Will this plugin function without a hub?
I have some robot vacuum cleaners I would like to add, however via Smartthings IDE, I see no option to enter your repo. Is this because I do not have a smartthings hub? (My device are present in the IDE though)

[2019-12-22 21:17] apabari opened #26 "(BUG) Security Alarm Displaying when No Such Device Exists"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [ ] That Both the SmartApps and Device

[2019-12-23 13:17] tonesto7 commented on #25
While a hub is not required I don’t think you can create a SmartThings location in the IDE without one.

[2019-12-23 17:55] tonesto7 commented on #26
@apabari There is a toggle in the SmartApp that enables SHM (Smart Home Monitor) control for SmartThings.  Disable it and the security device will disappear.

[2019-12-23 17:56] #26 closed, assigned to tonesto7

[2019-12-23 17:56] #25 closed, assigned to tonesto7

[2019-12-23 18:02] tonesto7 commented on #19
@HammerAce42  It's crazy that this device handler doesn't support any of the native smartthings thermostat attributes and commands.

This would be a purely unique device to support and I will need to think about how to handle it because I don't have the time to develop for a device I can't test on and using to debug is going to be very time-consuming.
Can you look and see if there is a Flair Vent

[2019-12-23 18:04] tonesto7 commented on #19
@HammerAce42 Are you using Yves handler and SmartApp?

[2019-12-23 18:58] HammerAce42 commented on #19
@tonesto7, yes, the handler and SmartApp I am using were authored by Yves or yracine (if that's what you mean). The specific components are:

Device handlers: My Flair Vent, My Puck Device
Smartapp: MyFlairServiceMgr

I checked and there is no Flair homebridge plugin :(

I fully understand that custom device support is a pain. Is it possible to make it somewhat generic enough by just allowing the

[2019-12-23 19:32] tonesto7 commented on #19
Truth is that this device isn't even selectable as a thermostat under any ST apps.

I wonder why Yves didn't make this translate any of the commands or attributes to a native format.  He's usually pretty adamant about supporting native functions.

Either way, the only native attributes I see are `battery` and `humidity`.   Maybe reach out to Yves and request he adds support for native thermostat f

[2019-12-23 21:00] HammerAce42 commented on #19
I've left a note for Yves to reconsider his decision to not surface pucks as thermostats [here](https://community.smartthings.com/t/release-flair-devices-with-new-capabilities-for-building-physical-zones-in-your-home-and-controlling-your-mini-window-splits-portable-heaters-coolers/100751/87?u=hammerace42).

Thanks for taking the time to look into this!

[2019-12-24 14:50] charis0728 commented on #18
I have a similar problem.
A command from Homebridge works well but a command from ST doesn't work.
To test this problem, I made a virtual switch on ST and I checked that it is shown on Apple Home app.
When I turned on and off the switch in Homekit, the switch in ST turned on and off also.
But I tried to turn on and off the Homekit switch, the ST switch didn't work.
Is this a normal situation? Can

[2019-12-24 19:17] HammerAce42 commented on #19
Ok, so Yves added the setpoint as a thermostat attribute and after that update, the Smartthings app UI does indeed look different with an easier ability to set temperature setpoint. However, the device still show up as only a sensor in Homekit (I have removed and readded the pucks to ensure that wasn't the issue).

Here is the new output from the device data viewer:

`{
    "name": "Lower Level Pu

[2019-12-25 07:05] cladmonitor opened #27 "(BUG) Button accessory does not function correctly"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2019-12-26 07:59] cnnn commented on #20
In my case I have to rely on a separate plugin as ST no longer finds my 2016 KS8000 TV.

[2019-12-26 18:40] mkellsy commented on #16
HOOBS was not loading this plugin because of an issue in our code. Fixed in 3.1.11.

The configuration issue is because there is a missing object in the schema. I corrected this in Pull Request #30

[2019-12-26 18:46] tonesto7 commented on #27
@cladmonitor i will investigate and get a fix out

[2019-12-26 19:14] tonesto7 commented on #19
Looking at this I'm still not seeing the required attributes/commands for setting the setThermostatSetPoint

[2019-12-26 21:49] tonesto7 commented on #27
@cladmonitor So i'm embarassed to say that I haven't really tested the buttons but can confirm they are completely broken.
I don't know how they ever worked.   I'm working on rebuilding the button logic right now.   Either way my fixes will be pushed out in the v2.1 release that should be ready right after the new year.

[2019-12-26 23:28] HammerAce42 commented on #19
Ah, what are the attributes/commands that should be made available? I'll ask Yves to see if he can implement those specifically.

Thanks.

[2019-12-27 06:06] roberkane212 opened #32 "[Feature Request] Add Support for Power Strip Characteristic"
is there anyway we can get the power strip feature in HomeKit for power strips that work with SmartThings?

[2019-12-27 07:37] cladmonitor commented on #27
@tonesto7 I’m glad I’m not crazy but they did work with the old v1 stuff, can’t recall how old it was but was a feature I used everyday (single double and long press) regardless I’m really impressed you jumped on it so quickly! Thank you for the support!

[2019-12-28 20:28] tonesto7 commented on #32
@roberkane212 Do you have an examples where it's being used?
I'm not familiar with any HomeKit characteristics specific to power strips.

[2019-12-28 20:35] tonesto7 commented on #27
@cladmonitor Can you explain to me how you are using these buttons under Homekit?

I didn't convert the previous button logic so i'm not familiar with how it's expected to work.
To me it doesn't seem to function like a button in the Home app.  It also me to define actions for each button event type (pressed, held, double tap), but it's never designed to send a command back to ST as if the button w

[2019-12-28 20:54] roberkane212 commented on #32
![62683B20-087C-483C-BAD7-FA5FB61B653A](https://user-images.githubusercontent.com/44589993/71549371-4b134080-298a-11ea-92de-686606cceb45.png)

[2019-12-28 21:00] roberkane212 commented on #32
![AB2040BC-4B93-4D84-B847-0E4001D9AD20](https://user-images.githubusercontent.com/44589993/71549435-34211e00-298b-11ea-9641-560ca0fe237f.jpeg)

[2019-12-28 23:16] devarshi opened #33 "Homebridge plugin delays receiving/processing some events from SmartThings"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2019-12-29 00:21] devarshi commented on #33
Update: I added some more logging. Looks like there's a delay in the plugin receiving the event update webhook. Unsure if this is a hub issue or somewhere else.

SmartApp --
`xxxxxxxxx-333f-4112-9303-3d9001a1718c  4:11:12 PM: debug Sending DEVICE Event (Garage door lock | LOCKSTATUS: Battery 73%) to Homebridge at (10.0.1.x:8000)`
`xxxxxxxxx-333f-4112-9303-3d9001a1718c  4:11:12 PM: debug Sending DE

[2019-12-29 01:49] devarshi commented on #33
So, on further investigation, may be this is happening because of leaving a promise unresolved? The `LOCKSTATUS` characteristic doesn't exist in HomeKit, which triggers this condition below -

https://github.com/tonesto7/homebridge-smartthings-v2/blob/6aa2e2088eec73872bb212b0b0293fd205cff075/src/ST_Accessories.js#L294

I played around with resolving the promise in this scenario, and that seems to

[2019-12-29 19:44] tonesto7 commented on #33
@devarshi Thanks a lot for looking into it.  I will see what I can find now that you pointed me in a specific direction.

[2019-12-29 19:50] tonesto7 commented on #32
That's pretty cool...  I bet its a custom characteristic that they used.  I will see what i can find.

[2019-12-29 19:55] roberkane212 commented on #32
Yes it came with iOS 13, thanks for looking into it

[2019-12-30 16:14] bkonings commented on #11
I seemed to have the same issue, I have two airco units.
Both seemed to show up in multiple sections of the SmartThings app. When I enabled everything there where 14 devices listed. Starting homebridge the same message appeared.
Once I only selected 2 devices the error disappeared an everything seems to work fine.
(I get temperature sensor, humidity sensor and on/off, a thermostat would have been

[2019-12-31 22:03] jojogrosso opened #34 "Unable to add Homebridge to HomeKit after installing/configuring the smartthings plugin"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-01-01 10:00] scoobaspeaz opened #35 "Question: Does this allow anything supported by the SmartThings hub to be seen on HomeKit"
This is probably a really dumb question but I notice the list of devices that the SmartThings hub connects to is long. Does this allow any device supported by SmartThings hub to also be supported in HomeKit via this Homebridge plugin?

[2020-01-02 14:53] tonesto7 commented on #1
@Areson I haven't heard from you in a while, so I hope things are well!
I'm getting ready to finalize version 2.1 and wanted to get your feedback

[2020-01-02 16:36] hlipnick opened #36 "(BUG) Plug In Sends Events Locally Even When Switched Off"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-01-02 19:58] Damianeq90 opened #37 "(BUG) Samsung Smartthings Motion Sensor and Multipurpose Sensor - no status update"
## Check the following before opening the problem

** Go through all the points below and put "x" in all the appropriate fields.
If you're unsure about any of them, don't hesitate to ask. We are here to help! **

- [x] That _OAuth_ is enabled for SmartApp in the IDE.
- [x] SmartApp and Device Handler use the latest available code.
- [x] That both SmartApps and device support modules have been _pub

[2020-01-02 20:36] tonesto7 commented on #37
There a new release v2.1 release coming in the next few days that will hopefully resolve this issue,

[2020-01-02 20:38] tonesto7 commented on #35
For the most part yes... There are certain attributes under ST that don't have a matching characteristic in HomeKit.
I don't have a list but you can easily experiment

[2020-01-02 20:39] tonesto7 commented on #34
Search how to view homebridge logs and it will point you to the cause of the error.
Did you upgrade from v1 of my plugin?

[2020-01-02 20:41] tonesto7 commented on #33
I've applied your findings to the code under my dev branch and it seems to be running better

[2020-01-03 02:10] jojogrosso commented on #34
Thanks for replying. I didn't upgrade, I never used your old plugin. I just started using Homebridge recently.

[1/2/2020, 8:50:22 PM] [DEBUG]: Refreshing All Device Data
[1/2/2020, 8:50:22 PM] [ERROR]: getDevices Error:  403 - {"error":true,"type":"AccessDenied","message":"This request is not authorized by the specified access token"}
[1/2/2020, 8:50:22 PM]

Could that be why? I confirmed the acc

[2020-01-03 13:26] bjornand1 opened #38 "(BUG) app_id and access_token changes every time I open the SmartThings Classic app"
I have been struggling to update from the old homebridge plugin to v2 and experience two issues:

- Whenever I open and make changes to any setting in the SmartThings Classic for the homebridge v-2 smart app, the app_id and access_token changes. I assume this should not be the case, as I would have to update the config file in homebridge every time this happens?

- No matter which ST devices I sel

[2020-01-03 16:52] tonesto7 commented on #38
2 Questions:

- Are you upgrading from my version 1 or pdloves?
- Did you completely remove the old plugin, persist and accessory folders?

[2020-01-03 16:53] bjornand1 commented on #38
Well, I have version installed and have removed that, SmartApp and HB plugin. But no, I did not remove persist and accessory folders, could that be the issue?

[2020-01-03 16:58] tonesto7 commented on #38
I've never seen the issue with the updating app_id and token but it would not be affected by the persist and accessories folders for the plugin.

How are you seeing that the id and token are changing?

[2020-01-03 17:03] bjornand1 commented on #38
Well, the ST devices didn't show up in the Home app so I started troubleshooting. When trying to make sure the HB config file was correct, I noticed that the id and token were indeed not. That's when I started experimenting and saw that every time I accessed the HB 2 SmartApp and made any changes, the id and token changed.

[2020-01-03 17:24] tonesto7 commented on #38
This almost sounds like the smartapp is not installing and you are just pressing the back button or leaving before you press done

[2020-01-03 19:55] hlipnick commented on #38
Hi tonesto7-

Just to throw my hat in the ring, I am seeing this same issue as well.  Has happened half a dozen times this week, and I have double checked that I’m clicking done in the smart app install rather than back.

I _have_ had your version 1 plug in installed on the same SmartThings system before, but I have started a fresh Homebridge install on a new Raspberry Pi with HOOBS, so the persis

[2020-01-03 21:12] tonesto7 commented on #38
So are you guys using the new SmartThings mobile app?

I'm trying to find a way to duplicate this on my end.

[2020-01-03 21:38] sjmarkham opened #39 "SmartThings v2 with google nest login"
I upgraded to v2 and everything was working fine but nest stopped working with my username password.  I switched to a google account and then followed all the steps to get auth codes from google.  I updated my config.json with all the new info but when homebridge reboots all my SmartThings devices show as failed to update.  I take the google auth out for homebridge-nest reboot and everything works

[2020-01-03 21:41] bjornand1 commented on #38
Yes, the ST Classic mobile app, but in the new version I also saw several instances of the smart app.

[2020-01-03 21:53] HammerAce42 commented on #19
@tonesto7, friendly ping on this. Thanks!

[2020-01-03 23:04] hlipnick commented on #38
Correct.  To be clear, I had both installed and both logged-in (per a Samsung email instructions months ago), but after seeing the multiple instances and figuring that was an issue, I deleted them in the **New** ST app, logged out of that, and only did anything in the Classic app there forward.

[2020-01-04 02:08] scoobaspeaz commented on #38
Yep happening to me as well. Every time I go to add a device and save it I see another instance of Smartapp listed. I see it in both the classic SmartThings app and the new SmartThings app.

Its what im suspecting is causing my Homebridge to not see my devices and giving me this error:

ERROR: getDevices Error:  403 - {"error":true,"type":"AccessDenied","message":"This request is not authorized by

[2020-01-04 02:12] #35 closed, assigned to nobody

[2020-01-04 10:07] bjornand1 commented on #38
By the way, the reason why I saw that the homebridge plugin had been updated to v2 was that I have been having trouble ever since iOS13 with devices in the Home app displaying as updating/unavailable/no response (although in three different Macs this has not been a problem).

I am starting to suspect that what causes this is related to integrations with other smart home hubs. I have had some devic

[2020-01-04 10:36] scoobaspeaz opened #40 "(BUG) Device Change Event doesnt always happen. HomeKit reports incorrect status"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ X] The SmartApp and Device Handler are using the latest code available.
-  [ SmartApps yes but **Device Handler

[2020-01-04 13:51] jojogrosso commented on #34
I got rid of that error, but only by using the newer SmartThings app. When using the classic app, the appID and token doesn't seem to be saving, as well as the device I add to the Homebridge v2 SmartApp within the SmartThings app.

But I'm still having the issue where all of my homebridge devices aren't responding in the HomeKit app in iOS. I can't seem to find any errors in the smartthings log of

[2020-01-05 01:27] tylorgoodine99 opened #41 "Cannot see my devices in homekit"
I've followed all of the instructions and when I set it all up in the smartthings app it said that I dont have to do anything else accept type in these numbers...

So I need help!

[2020-01-05 03:46] nuclearxp commented on #38
My goodness I came here to post this same thing and thought I was going insane.  One curious behavior I think I found was, if I open the Smartapp, select my devices, and use the app_id and secret without hitting done/save it'll work but as soon as you hit save/done the ids change. Also I'm assuming this isn't me, but the devices never save in the smartapp each time I close out.
EDIT: I re-deleted

[2020-01-05 07:52] bjornand1 commented on #38
OK, so I have completely removed my homebridge installation, deleted the whole folder, and reinstalled both homebridge and the ST v2 plugin, following all instructions to the letter. Still, when configuring homebridge in the ST Classic app, the exact same thing happens; no matter which devices I choose to expose to HomeKit, when I save, they get removed. And on the ST IDE page, each time creates a

[2020-01-05 08:45] scoobaspeaz commented on #38
I dont know if it helps but I stopped using the classic app, removed it, and used the newer one. I dont have this issue anymore using the new one. Maybe its luck but I dont know. I was having the exact same issue as you were before I switched to just using the new ST app.

[2020-01-05 10:01] bjornand1 commented on #38
Perhaps I should try that, but @tonesto7's instructions clearly specifies using the Classic app.

[2020-01-05 10:13] scoobaspeaz commented on #38
You are right in that. However, I had the same issue as you. I switched to only using the new app and removed the classic now I don't have the issue anymore. I am not sure why the requirement for classic over the newer app is there but this is what worked for me.

Worst case you just remove the new app and go back to using the old one.

[2020-01-05 11:16] bjornand1 commented on #38
OK; so I took the plunge and uninstalled the Classic app from my two iOS devices and restarted the setup of ST v2. Seemingly, it works, in that the token/id now stay unchanged and I get the selected devices exposed in HomeKit. However, if I try to turn on/off a switch, it immediately goes into "no response" mode (sensors show the correct values, though), and also notice that if I change the select

[2020-01-05 11:22] bjornand1 commented on #38
As for the updating of the device list shown to the Home app, this is fixed by restarting the homebridge server. But changing the status of any light/switch/etc. just sends that device in a "no response" mode. Strange, as this used to work without problems in v1 of the homebridge plugin.

[2020-01-05 15:07] tonesto7 commented on #38
This whole thing sounds weird and feels like a ST platform bug from a recent patch or something.
The token creation is a very straightforward thing. If the token exist use it or else create a new one and use it.

As far as status updates not showing this was a big and will be fixed in v2.1 coming out tomorrow.

[2020-01-05 15:09] tonesto7 commented on #38
Just an FYI with the new version you are no longer required to restart the plugin.

Pressing done in the Smartapp tells the plugin to refresh devices

[2020-01-05 15:15] tonesto7 commented on #34
It seems you are not alone and I suspect this is related to a recent ST platform update.
I will reach out to my contacts at ST and see if this is a know issue.

[2020-01-06 07:35] bjornand1 commented on #38
Probably a bug somewhere, but the token/id works in the Connect app. As for refresh, I saw the note in the app that refresh should happen automatically, but I waited quite long and it didn't happen, I had to manually restart the HB server.

[2020-01-06 07:53] scoobaspeaz commented on #41
did you use the SmartThings app or the Homebridge v2 app within the SmartApp section of the SmartThings app?  You have to configure the devices in the Homebridge v2 app before Homebridge will see it and then it will show up in HomeKit.

[2020-01-06 19:27] tonesto7 commented on #41
@tylorgoodine99  Definitely going to need more details

[2020-01-06 19:29] tonesto7 commented on #39
How many devices are you bringing in from SmartThings into HomeKit?

Each HomeKit bridge is allowed 149 accessories.  So if the number of devices combined for ST and Nest are > than 149 the plugin will fail to start

[2020-01-06 19:40] sjmarkham commented on #39
31 I believe and nest worked fine with SmartThings until I had to switch to the google authentication.

Sent from my iPhone

[2020-01-06 19:45] tonesto7 commented on #39
You really should look at the logs for homebridge after restarting the bridge

[2020-01-07 21:33] #21 closed, assigned to tonesto7

[2020-01-07 21:45] tonesto7 commented on #40
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:45] #40 closed, assigned to tonesto7

[2020-01-07 21:45] tonesto7 commented on #38
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:45] #38 closed, assigned to tonesto7

[2020-01-07 21:46] tonesto7 commented on #33
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:46] #33 closed, assigned to tonesto7

[2020-01-07 21:47] tonesto7 commented on #16
@mkellsy  I just released v2.1.  I think it's ready to begin certification

[2020-01-07 21:47] #16 closed, assigned to tonesto7

[2020-01-07 21:47] tonesto7 commented on #13
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:47] #13 closed, assigned to tonesto7

[2020-01-07 21:47] tonesto7 commented on #27
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:47] #27 closed, assigned to tonesto7

[2020-01-07 21:48] tonesto7 commented on #18
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:48] #18 closed, assigned to nobody

[2020-01-07 21:49] tonesto7 commented on #17
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:49] #17 closed, assigned to tonesto7

[2020-01-07 21:51] tonesto7 commented on #11
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:51] #11 closed, assigned to tonesto7

[2020-01-07 21:51] tonesto7 commented on #37
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:51] #37 closed, assigned to tonesto7

[2020-01-07 21:52] tonesto7 commented on #36
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:52] #36 closed, assigned to tonesto7

[2020-01-07 21:52] #10 closed, assigned to tonesto7

[2020-01-07 21:52] #1 closed, assigned to Areson, tonesto7

[2020-01-07 21:53] tonesto7 commented on #34
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:53] #34 closed, assigned to tonesto7

[2020-01-07 21:54] tonesto7 commented on #22
Should be resolved in the new v2.1.0 I just pushed out.

[2020-01-07 21:54] #22 closed, assigned to tonesto7

[2020-01-07 22:01] mkellsy commented on #16
Awesome. I will start the process.

[2020-01-07 22:25] THATDONFC commented on #11
Thank you @tonesto7 ! I’ll take another stab at installing this tonight.

[2020-01-07 23:04] scoobaspeaz opened #42 "How do you update the SmartApp?"
How do you update the SmartApp from one version to another without just removing it first?

[2020-01-07 23:26] tonesto7 commented on #42
Just overwrite the code

[2020-01-08 00:23] scoobaspeaz commented on #42
On my phone it still shows the old version. I updated from the repo on my SmartThings IDE.
![6CE1E140-314E-4BA1-B95B-F775D8DBA2B2](https://user-images.githubusercontent.com/5273311/71940118-2fc2e500-3183-11ea-9307-b9e893a6998e.png)

[2020-01-08 01:20] flynhawaiian opened #43 "(BUG) Issue after 2.1.0 update"
[Homebridge] [1/7/2020, 5:16:42 PM] TypeError: transport is not a constructor
    at exports.Logger.Logger.add (/home/hoobs/.hoobs/node_modules/homebridge-smartthings-v2/node_modules/winston/lib/winston/logger.js:481:41)
    at Logging.getLogger (/home/hoobs/.hoobs/node_modules/homebridge-smartthings-v2/src/libs/Logger.js:58:20)
    at new ST_Platform (/home/hoobs/.hoobs/node_modules/homebridge-sm

[2020-01-08 01:21] flynhawaiian commented on #43
Using HOOBS v3 newest version if that helps

[2020-01-08 01:28] rahoolio commented on #43
I'm not sure if its the exact same issue, but I'm not able to start the service after the update. Are you experiencing this as well?

[2020-01-08 01:30] flynhawaiian commented on #43
yes.

[2020-01-08 01:32] tonesto7 commented on #43
@rahoolio Are you running under Hoobs as well?

[2020-01-08 01:33] rahoolio commented on #43
Yes sir. I had to restore from a backup.

[2020-01-08 01:35] flynhawaiian commented on #43
I'm running both the new app and the new update of stv2

[2020-01-08 01:36] flynhawaiian commented on #43
winston logger update needed or node.js update needed?

[2020-01-08 01:37] flynhawaiian commented on #43
hoobs@hoobs:~/.hoobs/etc $ node -v
v10.16.3

[2020-01-08 01:38] rahoolio commented on #43
Same. Newest on the app(2.1.0), as well as Hoobs (Version 3.1.19), node -v v12.13.1, npm -v 6.13.4

[2020-01-08 01:40] flynhawaiian commented on #43
hoobs@hoobs:~/.hoobs/etc $ npm -v
6.13.4

[2020-01-08 01:53] rahoolio commented on #43
Oh, I'll try again, but when I went to uninstall the plugin to try to reinstall it, it would not uninstall which is what led to the restore

[2020-01-08 01:54] lawrencyous commented on #43
well, i have the same issue! also, everythings new!..

[2020-01-08 01:58] rahoolio commented on #43
Here is what I get when I try to uninstall the newest version.

I'm considering now that this may be a separate issue so I can move it if need be

[2020-01-08 02:04] flynhawaiian commented on #43
I'm doing a fresh hoobs install right now.

[2020-01-08 02:21] flynhawaiian commented on #43
Didn't help

[2020-01-08 02:24] rahoolio commented on #43
Appreciate you sacrificing the time to try

[2020-01-08 02:26] lawrencyous commented on #43
me too, i was right about to reeinstall everything..

[2020-01-08 02:27] flynhawaiian commented on #43
No problem.  Figured it would cure the issue :(

[2020-01-08 02:32] tonesto7 commented on #43
I’m going to need to spin up my Hoobs instance and test it

[2020-01-08 02:34] rahoolio commented on #43
We appreciate you

[2020-01-08 02:40] flynhawaiian commented on #43
Thanks

[2020-01-08 03:27] flynhawaiian commented on #43
More reported issues on the Hoobs Facebook page.

[2020-01-08 03:29] tonesto7 commented on #43
I'm trying to work through HOOBs right now and see if I can duplicate the error

[2020-01-08 03:33] flynhawaiian commented on #43
I did a fresh install with my RPi3b+ using the 3.1.19 then installed the homebridge-smartthings-v2 app using the plugin installer on the hoobs.local page.  Installed; then pulled the configuration file from the app.

[2020-01-08 03:39] tonesto7 commented on #43
So I am able to duplicate this... I'm just not sure why it's throwing the error only on Hoobs.  It works fine on all other platforms.

[2020-01-08 03:42] flynhawaiian commented on #43
My guess is it has to do with a node js mismatch?  What node js are you using on your other platform?

[2020-01-08 03:43] tonesto7 commented on #43
I think Hoobs uses a new version of the Winston package globally.  I'm working on targetting the version defined in the code... Standby

[2020-01-08 03:52] flynhawaiian commented on #43
Found it: winston@2.1.1

[2020-01-08 03:59] tonesto7 commented on #43
where did you find that?

[2020-01-08 03:59] flynhawaiian commented on #43
npm list -g

[2020-01-08 04:01] tonesto7 commented on #43
The weird part is that i'm targetting winston@2.4.4 and based on that error we are seeing that it's getting a winston@3.0.0+

[2020-01-08 04:01] flynhawaiian commented on #43
I can try to update to 2.4.4 and see if that fixes it?

[2020-01-08 04:10] flynhawaiian commented on #43
Nope didn't seem to do the trick

[2020-01-08 04:31] tonesto7 commented on #43
If you disable the log file in config.json you should be able to get passed it.

[2020-01-08 04:35] rahoolio commented on #43
I'm able to start services now, but my devices aren't currently working. Trying a few things on my end

[2020-01-08 04:38] tonesto7 commented on #43
ok... I think I solved the error...  I will get it published here in a few

[2020-01-08 04:40] flynhawaiian commented on #43
What was it?

[2020-01-08 04:44] tonesto7 commented on #43
I changed up the transport declaration to be defined at the start instead of using Winston.add() method.

[2020-01-08 04:48] rahoolio commented on #43
Everything seems to be working on 2.1.2. Not sure what it was. I just redid the app ID and app token and that seemed to fix my (isolated) issue.

I spoke too soon. It triggers once, but then when I try again it has no response. Still trying stuff on my end

[2020-01-08 04:51] flynhawaiian commented on #43
Are you using the app id from the groovy file; off the smartthings app itself.  Not off the graph.smartthings webpage

[2020-01-08 04:53] rahoolio commented on #43
Its all taken from the iOS smartthings app like normal. I think that was a weird circumstance. Currently it's very intermittent. It was actually nearly perfect before. (not a jab, just a clarification).

[2020-01-08 04:55] flynhawaiian commented on #43
Yeah I was having some slow update issues before, and noticed after the reinstall everything is working much better.

[2020-01-08 04:56] rahoolio commented on #43
Actually, I just noticed the homebridge v2 SmartApp says my plugin is v2.0.10 (Update available: vnull), except I am on v2.1.2 in hoobs.local...

[2020-01-08 04:58] tonesto7 commented on #43
something is up with hoobs updater... mine is doing it too... Reboot hoobs and you will see and update available for the plugin

[2020-01-08 04:58] flynhawaiian commented on #43
Yeah I see the update 2.1.3

[2020-01-08 05:00] tonesto7 commented on #43
I'm off to bed... I will follow up in the morning.

[2020-01-08 05:01] rahoolio commented on #43
Just for reference, this is what I'm seeing:
![Screenshot 2020-01-07 at 11 59 54 PM](https://user-images.githubusercontent.com/33258312/71951752-226d2100-31aa-11ea-9433-2eae21bb1c45.jpeg)
Spoke too soon again. The above screenshot is now showing "version: v2.1.0, Plugin: v2.1.3". I went into the define device type section and backed out and the version had updated.

![Screen Shot 2020-01-08 at 12

[2020-01-08 05:03] tonesto7 commented on #43
If you guys want to join my slack here is the link:
https://join.slack.com/t/tonesto7/shared_invite/enQtODk5NjA3MjE5NDYyLTIyZGE3Mzk5NTgxZWJkZjBlNGM5ZGU2ZGQ0ZDZiOTA5NDkwNGI0ZjQxMzM4ZTE3YWMyZGM3YjdhODdjMDljOGE

[2020-01-08 08:07] scoobaspeaz commented on #42
Figured it out. After I updated from the repo I didn't know I also had to click on the app from the smart apps section of the IDE and then click publish (for me). After I did that step I was able to see the new version in my SmartThings app and the app changed from edited to published on the IDE.

[2020-01-08 08:07] #42 closed, assigned to tonesto7

[2020-01-08 10:00] paqpaqpaq commented on #25
I actually do have locations in my IDE.
Also my devices have a device network ID, with execution location 'cloud'

[2020-01-08 10:40] paqpaqpaq commented on #25
@tonesto7
I installed your repo and plugin in the app. (1 vacuum cleaner as other device / switch)
2 homekit buttons pop up. 1 'security' (home) and 1 switch (the vacuum)
The switch shows battery is almost empty. The switch does function, however nothing happens

I point out that I can see all settings and status of the vacuum in the smartthings classic app, however I can't operate from there eith

[2020-01-08 12:41] hardlock75 commented on #17
Not working after updating smartapp v2.1.0  and Homebridge plugin v2..1
——
{
    "name": "Sinop\u00e9 RDC Bureau Carlos TH1124ZB",
    "basename": "Sinope TH1124ZB Thermostat",
    "deviceid": "9b8dc1f5-accb-4da7-948d-07b5af9f4fe4",
    "status": "ONLINE",
    "manufacturer": "Sinope Technologies",
    "model": "TH1124ZB",
    "deviceNetworkId": "091F",
    "lastActivity": "2020-01-08T12:36:36+000

[2020-01-08 15:39] THATDONFC commented on #43
I ran into the same issue when I did a fresh install just now. I went into the config in HOOBS and turned off the local log file and that error went away.

Log with "Enable Logging to file" enabled:
[code]

[2020-01-08 15:55] THATDONFC commented on #11
EDIT: This is on the 2.1.3 version
Looks like this is still an issue. I'm going to try a few different things to see if I can get this error to go away.

I've put *'s next to the lines where the device is initialized to make it easier to read.
Debug log included:
[code]

[2020-01-08 15:55] tonesto7 commented on #43
The weird part is that I didn't change anything related to the logging libraries for v2.1 so this shouldn't be happening

[2020-01-08 16:06] THATDONFC commented on #43
This was on version 2.1.3. At least that’s what was showing on the HOOBS plugin manager. Showing as updated ~35 minutes ago.

[2020-01-08 16:17] tonesto7 commented on #43
I'm working on some fixes... If they work then the next version will be 2.1.5

[2020-01-08 16:42] THATDONFC commented on #11
Ok, I did a "Factory Reset" in HOOBS and deleted/reinstalled the smart app. With a fresh install, everything works just fine, aside from #43.

[2020-01-08 17:13] tonesto7 commented on #43
So I made some changes to the logger class which works fine under windows, macos, ubuntu but not Hoobs.

```TypeError: winston.transports.DailyRotateFile is not a constructor```
@mkellsy Do you have any idea why this maybe happening?

[2020-01-08 18:41] THATDONFC commented on #43
Not sure if this helps you, but a google search yielded these results.
https://github.com/winstonjs/winston-daily-rotate-file/issues/90

I don't know enough about .js to find the problem.

[2020-01-08 19:16] mkellsy commented on #43
We do not use "winston" in HOOBS. This could be coming from another plugin.

[2020-01-08 22:05] turnepf opened #44 "(BUG) Duplicate SmartApps in iOS app"
Somehow I've ended up with duplicates of the SmartApp on my iPhone. I can't open any of them, and therefore can't remove them. I also can't remove the SmartApp via the IDE because it says the SmartApp is in use. I've contacted SmartThings support and they're working on it. Any ideas on how to fix this while I wait?

Thanks,

Patrick

[2020-01-08 23:16] tonesto7 commented on #44
It doesn’t even seem possible unless you accidentally overwrote the code of an existing application that creates devices

There are no restrictions on how many versions of this app you can have running at once so that wasn’t the issue

[2020-01-08 23:19] tonesto7 commented on #43
This issue is on my Hoobs set up I only have the one plug-in installed

[2020-01-08 23:42] THATDONFC commented on #43
@tonesto7 Check this out. Maybe there’s an error in the logger.js file?
https://github.com/winstonjs/winston/blob/master/lib/winston.js#L178

[2020-01-08 23:45] mkellsy commented on #43
Thats what i am thinking because of this.
[code]

[2020-01-09 01:44] tonesto7 commented on #43
I would agree if I was using v3 of Winston, but I’m using v2.4.4

[2020-01-09 01:54] flynhawaiian commented on #43
Winston is in the global packages on a fresh install.

[2020-01-09 02:05] tonesto7 commented on #43
I’m going to try something suggested above by @THATDONFC

[2020-01-09 02:59] mkellsy commented on #43
It's one of our dependencies that uses it, but HOOBS doesn't use it directly. We actually have a custom logger that pushes everything to a websocket.

[2020-01-09 03:26] flynhawaiian commented on #43
Makes sense

[2020-01-09 06:52] pizzinini opened #45 "[BUG] Can't Add Homebridge Plugin to Apple Home After V2.1 Upgrade"
- I upgraded to smartapp 2.1.0 and plugin 2.1.7
- After this all my smartthings devices showed "not responding" in the Home app.
- I also use a Ring plug in on Homebridge and the devices were still working on the Home app.

- I did a fresh install of Homebridge and Plugins on my rasperry pi.
- I deleted my home in the Home app and created a new home.
- Adding and controlling my Ring devices to Hom

[2020-01-09 08:51] scoobaspeaz commented on #45
Check your app id and access token in your smartapp to make sure it didnt change on you. You need to compare what you have in the app to the config.json file for the Smartthings platform in the homebridge configuration..

[2020-01-09 13:00] bjornand1 commented on #38
@tonesto7, thanks for pushing a new version, it has indeed solved all issues I experienced relating to the token/id and that the device list did not refresh without restarting homebridge. However, I still have the following issue: After adding homebridge to the Home app, the devices exposed through SmartThings work as they should, showing status and being possible to turn on/off. But after 10 minu

[2020-01-09 13:22] pizzinini commented on #45
Communication between Homebridge and SmartThings works fine. All my accessories load in Homebridge and periodically update status. So the token is ok. It’s the connection of to the Home app that does not work for the SmartThings plugin.

[2020-01-09 16:16] tonesto7 commented on #43
I'm sure what to do with this... I doesn't make sense.  This plugin runs fine on all other platforms.

This feels like it's specific to Hoobs... All the dependencies are there for Winston but for some reason it doesn' work

[2020-01-09 16:23] tonesto7 commented on #45
@pizzinini Are you adding any Buttons from SmartThings into HomeKit?

[2020-01-09 16:25] #44 closed, assigned to tonesto7

[2020-01-09 17:10] pizzinini commented on #45
Yes I am. I am adding 1 button under “Buttons” in the smartapp and multiple virtual Devices with buttons capability under “Other”

[2020-01-09 17:38] mkellsy commented on #43
I am tracing what dependency uses Watson in HOOBS.

You might want to change how the the dependency is marked in package.json.

[code]

Also do the same for lodash and express.

[code]

Then NPM can manage the dependencies for HOOBS and the plugins. See HOOBS doesn't install plugins in the global space. They are maintained in the executing users home. Therefore the plugin deps use the same node_mo

[2020-01-09 17:51] blueharmony opened #46 "(BUG)"
## Verify the following before opening an trouble issue
-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device Handlers have been _Published for You_ in the IDE.

---
## About Your Setup
-  How many devices are detected?: 2
-  Mobile App Version(Not required):
-  SmartApp V

[2020-01-09 17:53] Damianeq90 commented on #37
Despite the update, motion sensors do not update their status.

[2020-01-09 18:04] tonesto7 commented on #43
I will try this.  I'm also upgrading winston to v3 as well.  I just had to decipher the new format

[2020-01-09 18:10] Damianeq90 commented on #37
Sorry, it works, I did it: 1 npm update -g
2 npm cache clean -f
3 sudo n stable
4 npm install -g -unsafe-perm homebridge @ latest -g and detectors have started updating status

[2020-01-09 18:30] tonesto7 commented on #46
that means the location where the config.json is stored does not have access to that folder

[2020-01-09 18:40] blueharmony commented on #46
I'm not sure I understand. Here is my config.json permissions data:

The config.json is located in /var/lib/homebridge/config.jar:
-rw-r--r-- 1 homebridge homebridge  1728 Jan  9 12:12 config.json

The homebridge directory is owned by homebridge:
drwxr-xr-x 4 homebridge homebridge 4096 Jan  9 12:00 homebridge

/var and /var/lib are owned by root.

What permissions should I be changing and how?

Co

[2020-01-09 18:55] tonesto7 commented on #43
Ok. I have it working with v2.1.9 of the plugin but I've discovered a different bug.
Basically, if you have more than one instance of the smartapp running when the plugin restarts it sends a local command to the ST Hub with the plugin IP and port which then sets any running homebridge app to send all ST device events to the last plugin that restarted

[2020-01-09 19:54] tonesto7 commented on #43
@flynhawaiian @rahoolio @THATDONFC

Go ahead and update your smartapp and then your plugin to 2.1.12

[2020-01-09 19:56] tonesto7 commented on #45
@pizzinini Try removing the button from homebridge and see if the plugin comes back to life.

Something is wrong with the Buttons that needs some serious looking into I might remove them from the smartapp if I can't figure it out today

[2020-01-09 20:06] blueharmony commented on #46
I just upgraded to 2.1.12 and no longer see this error! Thank. :-)

[2020-01-09 20:13] Damianeq90 opened #47 "(BUG) v2.1.12 - Does not change the status of devices"
## Check the following before opening the problem

** Go through all the points below and put "x" in all the appropriate fields.
If you're unsure about any of them, don't hesitate to ask. We are here to help! **

- [x] That _OAuth_ is enabled for SmartApp in the IDE.
- [x] SmartApp and Device Handler use the latest available code.
- [x] That both SmartApps and device support modules have been _pub

[2020-01-09 20:37] Damianeq90 commented on #47
I'm sorry my error you have released quite a few updates in the last few hours and I have not updated the Samsung SmartApps API looks that everything works perfectly :)

[2020-01-09 20:37] #47 closed, assigned to tonesto7

[2020-01-09 20:59] rahoolio commented on #43
is there supposed to be a new version of the smartapp? I still only see 2.1.0 on smartthings.com

Edit: I see 2.1.1 now, sorry

[2020-01-09 21:10] scoobaspeaz commented on #45
Not to convolute the issue but I found that, if I added something like my tv through this plugin, then HomeKit would not communicate with homebridge. Homebridge and Smartthings would still work together but wouldnt work with the Home app.

When using the EVE app I tried to get an ID response from homebridge and the connection error'd out. Thats when I found out that Homebridge was, what I assume,

[2020-01-09 21:14] rahoolio commented on #43
Well, it worked once. But now its intermittent. I may need to just start over.

[2020-01-09 21:24] Damianeq90 opened #48 "(BUG) v2.1.12 Motion Sensor and Multipurpose Sensor - no status update"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x ] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2020-01-09 22:41] OnlyOnly0613 opened #49 "SmartThings Home Monitor - Not Working New SmartThings App"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ ] The SmartApp and Device Handler are using the latest code available.
-  [ ] That Both the SmartApps and Device

[2020-01-09 22:43] rahoolio commented on #43
Redid everything. It's still intermittent for me. I can usually turn something on, or turn something off, but after that it goes unresponsive. The brightness adjustment seems to really derail it.

In fact, adjusting the brightness doesn't seem to work at all...

[2020-01-09 23:45] OnlyOnly0613 commented on #9
I assume this is related but it does not work both ways. HB to SMH [or] SMH to HB
I am not using SmartThings Classic. I am using the new SmartThings app.

[2020-01-10 04:54] hardlock75 commented on #17
hi tonesto7
there is big news... almost works. the problem is when i Heating set point to 22 celsius exemple. The thermostat start to heat, but when i exit homekit and i re-open homekit on my iphone. Is stay to 20 celsius but the heating set point is 22.

![image](https://user-images.githubusercontent.com/58529389/72126725-33996780-333b-11ea-8a13-93d68fb1bd3c.png)
![image](https://user-images.gith

[2020-01-10 05:01] pizzinini commented on #45
@scoobaspeaz I do remember having a similar issue with my Schlage lock on pdlove's version of the plug-in. Thank you!

- I updated to the newest version of Smartapp v2.1.1 and plugin v2.1.12.
- I removed all devices from the smartapp except a single light switch.
=> I am now able to add Homebridge back to my apple home app! Thank you!

I will try adding different devices and report back if I can p

[2020-01-10 05:17] hardlock75 commented on #48
hi!
i have Multipurpose Sensor and mine is working well. Are you updating Smarthing app  to 2.1.1 yes i think but do you update the homebridge plugin?
![image](https://user-images.githubusercontent.com/58529389/72127713-9809f600-333e-11ea-837d-67e54da27c28.png)

big question, is it working in Smartthings?

[2020-01-10 05:26] hardlock75 commented on #49
mine is working well.
do you update Homebridge Plugin in new version

![image](https://user-images.githubusercontent.com/58529389/72128130-d653e500-333f-11ea-9198-54d69d800aa4.png)

[2020-01-10 05:37] pizzinini commented on #45
- After I added an Inovelli switch in the Smartapp all my devices in the Home app became unresponsive.
- After I removed the Inovelli switch (LZW30-ZN), the devices were responsive in the Home app again.

Note: Innovelli switches worked without problems prior to me upgrading to smartapp 2.1.0 and plugin 2.1.7

https://www.amazon.com/gp/product/B07T26MVYC/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&p

[2020-01-10 08:34] Damianeq90 commented on #48
To be sure, I have installed everything again and I have a problem similar to the one described here https://github.com/tonesto7/homebridge-smartthings-v2/issues/49 devices do not download the current status only the status is downloaded the next time it is restarted and it stops without updating.

[2020-01-10 08:45] Damianeq90 commented on #49
In my version v2.1.12 device status is downloaded at restart homebridge later is not updated. However, you can turn on and off normally, e.g., bulbs.

[2020-01-10 12:08] Damianeq90 commented on #48
I am very stubborn, I reinstalled the container on QNAP and what happened shocked me the most. The whole homebridge interface looks different, oddly yesterday when I installed it, I didn't see these changes. Today I see interaface in purple with widgets (homebridge-config-ui-x v4.7.0-test.32 - © 2020 oznu) I don't have a device tab but everything works also sensors :) and in the installation on QN

[2020-01-10 15:30] OnlyOnly0613 commented on #49
Upgraded to v2.1.12 this morning.
SmartApp is the latest also.
Turned off "Control SHM in HomeKit"
Save and Wait for HomeKit icon to disappear.
Turned on "Control SHM in HomeKit"
Save and Wait for HomeKit to appear.

The status in homekit shows OFF
The SHM in SmartThings (Connect) shows ARMED.
Changing SHM doesn't update STATUS in HomeKit.

*** I'm using SmartThing Connect ONLY, NOT CLASSIC SmartT

[2020-01-10 16:24] hardlock75 opened #50 "(BUG) V2.1.12 Thermostats don't refresh in Homekit"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ ] The SmartApp and Device Handler are using the latest code available.
-  [ ] That Both the SmartApps and Device

[2020-01-10 20:09] tonesto7 commented on #43
@rahoolio I have no idea why you are seeing these issues.  The only difference between you and others is that yours is running under Hoobs.  I don't understand why it would be different.
I and many others have been running this flawlessly for a couple of months.  I personally import 149 devices in HomeKit from ST and experienced no issues or lag at all.

I'm at a loss on how to correct this for yo

[2020-01-10 20:24] mkellsy commented on #43
I have 250+ devices on SmartThings and it is instant for me. On HOOBS.

[2020-01-10 20:27] tonesto7 commented on #50
I'm not able to duplicate this at all.  Changes from ST are mirrored in HomeKit instantly

[2020-01-10 20:29] tonesto7 commented on #45
@pizzinini  In the smartapp there is a device data viewer page where you can select a device and it will show all data about it.  Can you post that JSON data here please?

[2020-01-10 20:31] #46 closed, assigned to tonesto7

[2020-01-10 20:36] tonesto7 commented on #49
I'm not sure that the Groovy smartapps see SHM events from the new API version of SHM

[2020-01-10 20:39] tonesto7 commented on #49
I just confirmed my guess above was true.

[2020-01-10 20:40] #39 closed, assigned to tonesto7

[2020-01-10 20:49] tonesto7 commented on #43
@mkellsy You using v2.x of the plugin?
Since you can only have 149 devices per HomeKit bridge that must have been fun picking and choosing which devices to import and not hit that threshold.
At one time I had 2 homebridge instances just for ST devices then I started filtering out devices

[2020-01-10 20:57] #41 closed, assigned to tonesto7

[2020-01-10 20:57] #24 closed, assigned to tonesto7

[2020-01-10 20:58] #14 closed, assigned to tonesto7

[2020-01-10 21:01] hardlock75 commented on #50
I can define the temperature in homekit and is working, he start to heat
![image](https://user-images.githubusercontent.com/58529389/72186047-4b67fe80-33c2-11ea-9af6-c3ea039ff883.png)

when i return in homekit he doe't match.
![image](https://user-images.githubusercontent.com/58529389/72186435-45bee880-33c3-11ea-98a1-03598b984a68.png)

[2020-01-10 21:04] tonesto7 commented on #50
maybe do a screen recording from your iPhone so I can see the issue in action?

[2020-01-10 21:34] hardlock75 commented on #50
There is in action sorry for my bad english

https://youtu.be/rZxNIjX5Lq0

[2020-01-10 21:37] tonesto7 commented on #50
Thanks for the video... I will attempt to duplicate it on my side and let you know.

[2020-01-10 22:44] mkellsy commented on #43
I don't use Apple. HOOBS has increased this limit in the custom Homebridge spin we have.

[2020-01-10 22:57] tonesto7 commented on #43
Now I'm confused... You develop a product/platform that is designed for an Apple home automation platform but you don't use Apple :|

[2020-01-10 23:11] mkellsy commented on #43
I test on it, but for my production system, I don't use Apple. I have a Pixel. HOOBS goal is to open this to people who don't use Apple products too.

With the Google Home and Alexa plugins, this is truly ecosystem agnostic. And when I finish the Stringify clone in HOOBS we can even do automation without Apple.

[2020-01-10 23:25] dustyberry1 opened #51 "[Feature Request] Local Control On/Off By Device"
**Is your feature request related to a problem? Please describe.**
I have a thermostat which breaks when local control is on. The thermostat is a custom device handler/smartapp for Nexia, available at link below. When I turn local control off it works fine, but of course i lose local control for my other devices.

https://community.smartthings.com/t/how-do-you-control-a-nexia-thermostat-with-a-sma

[2020-01-10 23:32] pizzinini commented on #45
{
    "name": "Front Door Light",
    "basename": "Inovelli Switch Red Series",
    "deviceid": "6efa2d4d-c760-42d2-9d29-b6b2abff271a",
    "status": "ACTIVE",
    "manufacturer": "Unknown",
    "model": "Inovelli Switch Red Series LZW30-SN",
    "deviceNetworkId": "67",
    "lastActivity": "2020-01-10T23:15:40+0000",
    "capabilities": [
        "Actuator",
        "Button",
        "Configurati

[2020-01-10 23:33] dustyberry1 opened #52 "(BUG) Nexia Thermostat Missing from SmartApp"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-01-10 23:36] pizzinini commented on #45
I removed the button capability and now the switches work. I added them back in and this creates the error again.

It looks like you guessed right yesterday. Buttons don’t currently work.

Thank you for all the help!

[2020-01-11 01:34] rahoolio commented on #43
I understand. I've seen a few bugs posted recently that seem similar to my issue. I will follow them there.  To clarify, what I'm experiencing is new. On v2.0.1 I was running smoothly prior to 2.1.0. I may just need to revert back.

But for reference, this is something I'm seeing:

[Homebridge] ERROR: sendDeviceCommand Error:  [32m'Error: connect ETIMEDOUT 192.168.1.7:39500' [39m[Homebridge] DEBUG

[2020-01-11 02:11] mkellsy commented on #43
If you read down the stack, it is being called from this file
[code]

I am doing a big plugin dev help push this weekend, and I will look, in depth, at this too. But first I have to help figure out the homebridge-nest recaptcha issue.

[2020-01-11 04:24] OnlyOnly0613 commented on #49
Thanks! We can use scenes to workaround this.

[2020-01-11 04:24] #49 closed

[2020-01-11 04:41] tonesto7 commented on #43
@rahoolio  Thanks for posting that exception.  I'm going to look at that area of code to see if there may be something I overlooked.

[2020-01-11 04:44] tonesto7 commented on #45
I want to thank you for finally giving me an actionable direction to solve this issue.

[2020-01-11 06:27] cladmonitor commented on #45
@tonesto7 Just tossing my hat in the ring to help provide info on this as well, I just spent 2 hours chasing my tail on this issue until I found this post. Im using the Samsung SmartThings Button.

{
    "name": "Button",
    "basename": "Button",
    "deviceid": "f1f98c6c-7cfa-4b17-acda-1d662b67eabb",
    "status": "ONLINE",
    "manufacturer": "Samjin",
    "model": "button",
    "deviceNetworkI

[2020-01-11 07:31] hardlock75 commented on #50
hi again!
i think the problem come to the Homebridge plugin, but I'm not sure... I do a video on Homebridge config Ui X in accessory, i did the same exercise on thermostat.

https://youtu.be/CK54ekr1qwc

[2020-01-11 19:03] cladmonitor opened #53 "(BUG) August Smart Lock Pro doesn't lock or unlock"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [ X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X ] The SmartApp and Device Handler are using the latest code available.
-  [X ] That Both the SmartApps and Dev

[2020-01-11 19:06] cladmonitor commented on #53
So if you manually unlock and lock the device seems to work for one iteration (unlock though homekit and then relock through homekit) but then not again.

Hope all this helps.

{
    "name": "August Smart Lock Pro",
    "basename": "August Smart Lock Pro",
    "deviceid": "d200b920-ec6f-4e0d-b166-c66e5d2fd8b5",
    "status": "ONLINE",
    "manufacturer": "Unknown",
    "model": "Z-Wave Lock Withou

[2020-01-11 22:00] realdannys opened #54 "(BUG) ETIMEDOUT on macOS Homebridge since last few updates."
This start happening this week - but none of my switches are working, they turn on and the time out with the ETIMEOUT error

[code]

It seems to work sometimes and other times time out, or be laggy. Nothing has really changed my end, I did update the firmware of my Draytek router but I don't think it's that. I'm running latest version and app too.

[2020-01-11 22:15] realdannys commented on #54
Just following up with a little more info. I restarted a couple of times but still no luck. Occasionally it's flicking switches instantly and other times it's timing out. I enabled debugging just in case it helps but doesn't appear to offer any answers.

[code]

[2020-01-11 22:52] realdannys commented on #54
I went back to the SmartApp in ST iOS and just clicked through next so it was kind of doing a refresh and that appears to have fixed it. I'll close this now but might be worth it if someone gets the same error and Googles - perhaps something got out of sync in the data somewhere?

[2020-01-11 22:52] #54 closed, assigned to tonesto7

[2020-01-12 00:22] flynhawaiian commented on #43
So with .12 and a fresh install of hoobs it no longer adds the devices in HOME.  I see them as accessories in the hoobs program, but no longer see them in the actual home app.

[2020-01-12 01:34] 00JohnD commented on #50
I have the same issue here since the update latest update to 2.1.12. Thanks for reporting

[2020-01-12 16:59] tonesto7 commented on #53
@cladmonitor  I don't see anything wrong with that logs from the plugin.
What are you seeing in the logs ST side? (You do not need to enable debug logs to see it)

[2020-01-12 17:03] tonesto7 commented on #52
If it doesn't show up it's because it doesn't have the capabilities required for normal thermostat.
Try using this plugin https://www.npmjs.com/package/homebridge-nexia

[2020-01-12 17:05] tonesto7 commented on #51
Why not just use this plugin to bring in your thermostat into HomeKit.
Thermostats are a tricky beast to handle under smartthings specifically because they are more capable under the new API and it's hard to cover them under the Groovy API.
https://www.npmjs.com/package/homebridge-nexia

[2020-01-12 17:38] tonesto7 commented on #43
@flynhawaiian I'm not sure what to say.  I've not been able to find a way to get this to not work.
I even moved my main instance over to running on Hoobs and it's working great.
I do know there are some issues with Buttons and Thermostats in the latest version.
Do you have any button devices selected? If yes remove them from ST homebridge app and see if the devices show up.

[2020-01-12 18:21] tonesto7 commented on #50
I’m investigating this right now hopefully I can track down the cause today and get a fix out

[2020-01-12 19:10] 00JohnD commented on #50
Awesome, thank you very much for your work!

[2020-01-12 19:46] hardlock75 commented on #50
Thx nice reactive!!

[2020-01-12 20:50] turnepf opened #55 "(BUG) v2 doesn't present devices and disables native HomeKit devices."
use## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ X] The SmartApp and Device Handler are using the latest code available.
-  [ X] That Both the SmartApps and

[2020-01-12 20:52] tonesto7 commented on #55
If you are importing any buttons into homekit from ST unselect them for the time being while I track down the issue.  There seems to be an issue with Innovelli switches as well

[2020-01-12 20:56] flynhawaiian commented on #43
That could be it.

[2020-01-12 21:00] tonesto7 commented on #43
I'm working on fixes right now.  The only thing I can think of was devices with Button and Switch capabilities were clashing and crashing homebridge

[2020-01-12 21:09] dustyberry1 commented on #52
Yeah I've tried that plugin but couldn't figure it out, no readme and doesn't seem maintained. Hopefully Nexia will update their official integration with Smartthings so it works correctly

[2020-01-12 21:15] tonesto7 commented on #43
I've found the reason for the buttons crashing homebridge.  It was an issue with defining the Characteristic.setProps( {minValue, maxValue})

I just need to figure out why the button event is not firing HomeKit side real quick and I will get out these updates.
I've added in the Sentry library to help collect exceptions errors so I can see them on my side.  (It doesn't collect any personal or ident

[2020-01-12 21:35] flynhawaiian commented on #43
Yep that did it

[2020-01-13 01:09] hardlock75 commented on #50
update Homebridge plugin V2.1.13

some changes have been made, but temperatuure get targetTemp (get): 21
stay at 21 example

see the new video in Homebridge Config UI X. Some problème in Homekit

https://youtu.be/HcvPXxVfoeY

[2020-01-13 01:14] tonesto7 commented on #50
@hardlock75 I'm not sure what to tell you then... I have two test devices I used the validate it and they worked 100%.

HomeKit can only update if the device handler sends the change event.
Watch the plugin logs for the device events to show they are sent to the plugin.

[2020-01-13 01:15] tonesto7 commented on #45
@pizzinini  Can you verify that the new version works with Buttons and innovelli switches?

[2020-01-13 01:17] tonesto7 commented on #43
@flynhawaiian  @rahoolio  @THATDONFC  Can you verify that the plugin works correctly now with the new version?

[2020-01-13 01:21] hardlock75 commented on #50
is it possible to change the temperature by skipping .5
example 21 to 21.5 to 22 to 22.5 Celsius

i don't know if thermostat like

[2020-01-13 01:32] THATDONFC commented on #43
Just updated the plugin and smart app and everything seems to be running smoothly! @tonesto7

I had log to file turned off because the bug was preventing HOOBS from starting after throwing that error. I turned it back on and no errors so far.

[2020-01-13 01:33] tonesto7 commented on #43
@THATDONFC  Thanks for letting me know

[2020-01-13 01:34] cladmonitor commented on #45
@tonesto7 still crashing on mine. Updated plugin, restarted HB added button as Other. Waited for update and instantly all devices in Home.app stop responding.

[2020-01-13 01:35] hardlock75 commented on #50
new video in homekit
https://youtu.be/MPnvhsRsU8I

the problem come to the variable

when i put 25 in homekit do this:

C Bureau Carlos TH1124ZB) [HEATINGSETPOINT] is 25.0
[1/12/2020, 8:31:31 pm] [SmartThings-v2] INFO: [Device Change Event]: (Sinopé RDC Bureau Carlos TH1124ZB) [THERMOSTATOPERATINGSTATE] is heating

when i open Homekit do this:

targetTemp(get):  21.0
---------------------

when i

[2020-01-13 01:44] cladmonitor commented on #53
It’s interesting I tested in ST prior to making the bug report and it worked flawless. I tried now to look at event history and it’s certainly not behaving correctly.

I will say August Locks are pretty terrible, they have issues all over the app with inconsistent workflows missing documentation and strange hardware behavioral ticks.

I’ll just blame them and move on, I’d rather use ZWave but for

[2020-01-13 01:44] #53 closed, assigned to tonesto7

[2020-01-13 02:19] pizzinini commented on #45
@cladmonitor
Correct - buttons don’t work right now. I had devices that included “button” as a capability and Now removed the capability in the Smartapp settings for them to work Virtual “momentary button tile” works fine.

[2020-01-13 03:13] 00JohnD commented on #50
I upgraded the plugin to 2.1.13 and still got the same issue (non-Hoobs), tried with a fresh install of Hoobs and again got the same issue. Thanks again for trying

[2020-01-13 04:07] hardlock75 commented on #50
thank you! to report the bug

[2020-01-13 04:09] tonesto7 commented on #50
@hardlock75  I think I've resolved the issue.  I'm just testing the fix right now

[2020-01-13 04:17] hardlock75 commented on #50
I update Homebridge plugin V2.1.14 and report same bug that version V2.1.13

[2020-01-13 04:33] tonesto7 commented on #50
i didnt fix yet... I need to work through this further.  I'm heading to bed soon.  I will address it tomorrow though.

[2020-01-13 06:30] flynhawaiian commented on #43
Everything seems to be running smoothly now as well.  My only issue currently is sometimes when the "off" command is sent smartthings sometimes the command isn't be sent from HomeKit to smartthings.  Kinda weird.

[2020-01-13 11:59] krystoffuk commented on #55
I added some plugs/switches last night to smartthings and when pulled through to homebridge it saw duplicate devices with same uuid which ultimately crashed homebridge on startup
It’s definitely switch related as had to swap some lights from switch’s to become proper lights to resolve - thank the lord I could ssh in as the pi is tucked away in a cabinet and headless

Had to remove the devices from

[2020-01-13 15:19] tonesto7 commented on #43
I don’t understand why this runs so differently for so many users.  I’m amazed by how reliable my instance runs.

[2020-01-13 15:21] tonesto7 commented on #55
This must have something to do with another plugin wreaking havoc on your setup because these issues just don’t occur on my plugin.  I’ve added methods to prevent and detect duplicate devices.

[2020-01-13 15:58] tonesto7 commented on #55
@krystoffuk When your plugin starts up you will see a Sentry MachineId value.  Can you share it with me?

[2020-01-13 16:04] tonesto7 commented on #43
So now that I have the Sentry.io reporting in exceptions it's crazy to see how in every instance that the smartthings plugin is not to blame for crashing homebridge.
I've received over 2100 exceptions and they are all other plugins.

[2020-01-13 20:56] turnepf commented on #44
So I figured out you can see the duplicates as 1 setup, 4 in process, on the new SmartThings app. I was able to blow away the "in progress" ones and then the 1 that was "installed" worked right again. I have no idea how this happened, but for future reference, it's easily fixed in the new app.

[2020-01-13 21:00] turnepf commented on #55
This appears to be the issue. I have a GoControl Wireless Remote Switch that I took out of the setup and also a GE Motion Dimmer Switch 26933 that I took out. I suspect it's the GoControl switch as that's a true button where the GE switch just has a button feature. BTW, that device shows 1 click, 2 click, 3 click, which I don't believe that device supports. Have you run into that device and how it

[2020-01-13 21:02] turnepf commented on #55
@krystoffuk doesn't sound like your issue is related to mine. What connection did you see?

[2020-01-13 21:07] turnepf commented on #55
Quick update. I added the GE Motion Switch back and everything is working fine. I'm back on track with v2. It was clearly the GoControl device. Thanks for the quick response and advice @tonesto7. You rock!

[2020-01-13 21:07] #55 closed, assigned to tonesto7

[2020-01-13 21:21] 00JohnD commented on #50
Your involvement to this project is awesome @tonesto7 Thank you very much, will definitely donate.

Keep up the good work!

[2020-01-13 21:24] tonesto7 commented on #50
@hardlock75  I haven't forgotten about you.  I've been reworking the thermostat trying to fix this annoying issue.  Hopefully have a release for you tonight.

[2020-01-13 21:58] tonesto7 commented on #50
@hardlock75  @00JohnD Please update your plugin to v2.1.15 and let me know if the issue is resolved

[2020-01-13 22:08] tonesto7 commented on #50
I am still seeing some weird behaviors when changing the mode remotely where is sets the temp to 100.
I'm trying to work it out right now

[2020-01-13 22:45] jianyu-li opened #57 "(BUG) Turning Thermostat to Heat Defaults to 100 Degrees"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-01-13 22:48] jianyu-li commented on #57
About Your Setup

How many devices are detected?: 2
Mobile App Version(Not required):
SmartApp Version: 2.1.1
Device Handler Version:
Homebridge Version: 0.40.50
NodeJS Version:12.13.1
Expected Behavior

When changing the thermostat mode from off to heat, it should retain current temperature until changed

Current Behavior

When heat mode turns on, the degrees in the Home app is set to 100 degrees

[2020-01-13 23:05] tonesto7 commented on #50
@hardlock75 @00JohnD I just pushed out another update v2.1.16 which i think fixes the thermostat finally

[2020-01-13 23:05] hardlock75 commented on #50
flawless victory!
working well for me...

[2020-01-13 23:07] hardlock75 commented on #50
update in v2.1.15
flawless victory!
working..but read you push 2.1.16 in same time.. i update it

[2020-01-13 23:13] hardlock75 commented on #50
it works for me, but one last thing if i can. Is it possible to increase the temperature in increments of .5 in Homekit
exemple 21, 21.5, 22, 22.5 ??

I am detail-oriented

[2020-01-13 23:14] tonesto7 commented on #50
Crap I forgot about that increment part I promise I’ll get it in there tonight

[2020-01-13 23:18] cladmonitor commented on #45
@pizzinini Sorry didnt see the edit (was watching via email) - Yes upgraded plugin to 2.1.13, restarted homebridge, added the button as a"other" in the smartapp and the second the refresh occurs in homebridge all of my devices are unresponsive (except native homekit stuff).

[2020-01-13 23:19] jianyu-li commented on #57
It doesn’t always default to 100 but it does most of the time. Happens even when I 3D Touch the thermostat it jumps up to 100

[2020-01-13 23:44] tonesto7 commented on #57
Sorry, I'm making so many releases.  Are you running the latest one (v2.1.16)?

[2020-01-13 23:46] hardlock75 commented on #50
no problem my friend,
you have already put a lot of energy to correct a bigger problem. After that, you can close it, this bug :)

[2020-01-13 23:55] jianyu-li commented on #57
IDE says its 2.1.1 but also says that local and repository versions are identical and not pulling in any updates

[2020-01-13 23:58] tonesto7 commented on #57
i mean the plugin version

[2020-01-13 23:59] jianyu-li commented on #57
oh sorry about that. its on 2.1.15

[2020-01-14 00:01] tonesto7 commented on #57
please update to 2.1.16 to see if it's fixed

[2020-01-14 00:22] jianyu-li commented on #57
so far so good. I'll keep you posted. I am noticing a lot of this happening in my logs though. is that normal?`[Homebridge] heatingSetpoint:  71
[Homebridge] coolingSetpoint:  78
[Homebridge] heatingSetpoint:  71
[Homebridge] coolingSetpoint:  78
[Homebridge] heatingSetpoint:  71
[Homebridge] coolingSetpoint:  78
[Homebridge] heatingSetpoint:  71
[Homebridge] coolingSetpoint:  78
[Homebridge] heat

[2020-01-14 00:26] tonesto7 commented on #57
yea those are logs I forgot to disable...
I have another push coming out tonight which I will make sure the logs are removed

[2020-01-14 00:42] ultrathew commented on #45
Same behavior as @cladmonitor is experiencing. Running plugin version 2.1.14, and everything works fine until I try to add a button. Everything - even non ST devices - freaks out and won't connect to HomeKit, despite continually attempting to, until I remove the button and STv2 refreshes the device list.

[2020-01-14 01:33] jianyu-li commented on #57
Seems to be working now. Thanks for all you do

[2020-01-14 01:33] #57 closed, assigned to tonesto7

[2020-01-14 01:37] tonesto7 commented on #45
@ultrathew  Please make sure to update to the latest plugin.
When the plugin starts you will see a Sentry MachineId in the logs.  Can you share that here, please?

[2020-01-14 01:52] flynhawaiian commented on #43
Mine is now perfect

[2020-01-14 02:04] tonesto7 commented on #43
Glad to hear it's working... I knew I would eventually get this thing stable :)

[2020-01-14 03:12] roberkane212 commented on #45
I’ve also updated to 2.1.16 and I also can not add buttons. Without buttons everything works fine

[2020-01-14 10:33] krystoffuk commented on #55
Hi
Yes turns out previously I had lights presented from SmartThings as lights and switches and this didn’t cause any problems the recent changes tried to add them separately - once I removed them completely and then only added in one section of the smart app home Bridge didn’t crash - realise this probably wasn’t related to the issue logged - however had only presented itself when I added extra sw

[2020-01-14 18:35] sentry[bot] opened #58 "TypeError: Cannot read property '_events' of undefined"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-1P](https://sentry.io/organizations/tonesto7/issues/1441585373/?referrer=github_integration)

[code]

[2020-01-14 18:35] sentry[bot] opened #59 "TypeError: Cannot read property 'includes' of null"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-2Q](https://sentry.io/organizations/tonesto7/issues/1444461137/?referrer=github_integration)

[code]

[2020-01-14 19:10] sentry[bot] opened #60 "RequestError: Error: connect ETIMEDOUT 10.0.0.5:39500"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-2T](https://sentry.io/organizations/tonesto7/issues/1445512488/?referrer=github_integration)

[code]

[2020-01-14 19:14] tonesto7 commented on #50
I haven't been successful in getting the .5 degree increments to work.  I will continue to try.

[2020-01-14 19:14] #50 closed, assigned to tonesto7

[2020-01-14 20:55] tonesto7 commented on #45
@cladmonitor @ultrathew @roberkane212

Any of you guys still having issues please provide me the following.
When the plugin starts you will see a Sentry MachineId in the logs.

[2020-01-14 21:17] ultrathew commented on #45
@tonesto7 This is what I'm getting when I start the plugin. Adding any buttons still makes my entire HomeKit freak out with random "Updating/No Response" over nearly everything.

[1/14/2020, 9:15:11 PM] [SmartThings-v2] Initializing SmartThings-v2 platform...
[1/14/2020, 9:15:11 PM] [SmartThings-v2] Initializing SmartThings-v2 platform...
[1/14/2020, 9:15:11 pm] [SmartThings-v2] INFO: Homebridge V

[2020-01-14 22:15] tonesto7 commented on #45
@ultrathew What kind of button device are you trying to add?

[2020-01-14 22:20] cladmonitor commented on #45
@tonesto7 INFO: Sentry MachineId: 40aae8814c290e1c0d6c289302dedefa45333414efc857b4f5c1945ef225228a

[2020-01-14 22:37] tonesto7 commented on #45
@cladmonitor I only see one event generated from your plugin.

```Error: connect ETIMEDOUT 192.168.235.221:39500```  Which means the plugin can't reach your ST hub on the local network.

[2020-01-14 22:43] cladmonitor commented on #45
@tonesto7 Thats not my network info my IoT network is 10.161.0.0/24

Heres the details on that same init that I grabbed the Se
INFO: INFO: Your plugin version is up-to-date
NOTICE: Sending Plugin Status to SmartThings | UpdateAvailable: false
NOTICE: setting temperature_unit to (F)
NOTICE: Updating Global Values | HubIP: 10.161.0.222 | UseLocal: true
WARN: Devices to Remove: (0) []
INFO: Devices t

[2020-01-14 22:51] tonesto7 commented on #45
Can you go into the Homebridge SmartApp and select the Device Data Viewer > Select the button device you know is causing the plugin to crash and share the data with me here, please.

[2020-01-14 22:52] tonesto7 commented on #45
I've been working on fixes for the bugs this error reported has been showing me.
So I want to try to squash this button thing for good before I push out the rest of the changes I've made today.

[2020-01-14 23:19] cladmonitor commented on #45
@tonesto7 I shared it some days back -- https://github.com/tonesto7/homebridge-smartthings-v2/issues/45#issuecomment-573287518

[2020-01-14 23:20] cladmonitor commented on #45
@tonesto7 I do want to say you've been a good sport over these trivial bugs, especially on your spare time. I really appreciate it and think many of us feel the same way. I just don't want to look like an ungrateful consumer, I want to be sure you know that I really do appreciate the help!

[2020-01-14 23:22] roberkane212 commented on #45
I agree you really have

[2020-01-14 23:25] ultrathew commented on #45
@tonesto7

{
    "name": "Aeon Minimote button 1",
    "basename": "Child Button",
    "deviceid": "edfb5adb-3418-423b-a089-b2fc8e4fbfbf",
    "status": "ACTIVE",
    "manufacturer": "Unknown",
    "model": "Child Button",
    "deviceNetworkId": "05/1",
    "lastActivity": null,
    "capabilities": [
        "Button",
        "Holdable Button",
        "Sensor"
    ],
    "commands": [

    ],

[2020-01-15 00:13] tonesto7 commented on #45
@cladmonitor @roberkane212 I appreciate the kind words.
I never looked at it that way :)
I'm surprised you guys have stuck around with this new version having so many issues.

@ultrathew I literally have the exact same button I'm testing with and it works on my instance.
What input do you have the button selected under?

[2020-01-15 00:18] roberkane212 commented on #45
{
    "name": "Button Bedroom",
    "basename": "Button",
    "deviceid": "06c2f738-4587-4f6b-a243-aca20a1d84d3",
    "status": "ONLINE",
    "manufacturer": "Samjin",
    "model": "button",
    "deviceNetworkId": "88B2",
    "lastActivity": "2020-01-15T00:13:33+0000",
    "capabilities": [
        "Battery",
        "Button",
        "Configuration",
        "Health Check",
        "Holdable Butt

[2020-01-15 00:19] roberkane212 commented on #45
All my buttons are SmartThings

[2020-01-15 00:20] tonesto7 commented on #45
When you select it what input are you selecting it under?

[2020-01-15 00:25] pizzinini commented on #45
The button from my aeon minimote works fine for me with plugin 2.1.13

———————

{
    "name": "Aeon Minimote 1 gym button 1",
    "basename": "Child Button",
    "deviceid": "2a8342ee-fdea-496e-9962-7152639de23e",
    "status": "ACTIVE",
    "manufacturer": "Unknown",
    "model": "Child Button",
    "deviceNetworkId": "37/1",
    "lastActivity": null,
    "capabilities": [
        "Button",

[2020-01-15 00:35] hardlock75 commented on #50
I'm not sure it can be done. When I ask siri to change the temperature to 23.5 celsius, it automatically changes to 24.

[2020-01-15 00:57] cladmonitor commented on #45
I tried Sensor and Other, same result both ways.

Long shot but what version of NPM and Node are you using?

[2020-01-15 00:59] tonesto7 commented on #45
try selecting the button under Define Device Types input and select buttons

[2020-01-15 01:03] roberkane212 commented on #45
That’s what I did with mine, should I try the other?

[2020-01-15 01:05] tonesto7 commented on #45
Ugh... I wish I had one of these ST buttons.  Is this the button you are using? https://www.samsung.com/us/smart-home/smartthings/buttons/samsung-smartthings-button-gp-u999sjvleaa/

[2020-01-15 01:05] cladmonitor commented on #45
Same result - it's strange how it hangs, no errors in HB log, even other ST
actions are still logged (i.e opening a window still shows
accelerometer actions and contact changes)

INFO: Received request from SmartThings-v2 to refresh devices
NOTICE: setting temperature_unit to (F)
NOTICE: Updating Global Values | HubIP: 10.161.0.222 | UseLocal: true
WARN: Devices to Remove: (0) []
INFO: Devices to

[2020-01-15 01:05] roberkane212 commented on #45
@tonesto7 Yes that is the button I’m using

[2020-01-15 01:09] tonesto7 commented on #45
Ok, I've ordered one of the buttons along with a few other of ST's new sensors :)

They will be here on Thursday.

[2020-01-15 01:19] cladmonitor commented on #45
@tonesto7 Even a virtual button does it from IDE ... I tried a few until it broke my homekit config on my homekit hub thus wiping out all accessories :( guess I know what I'll be doing for the rest of the night. No matter I think I may also strip HB down to just ST and build up again seeing ifs related to any plugin specifically. Alos I'll put HB in Debug so I can catch anything of  note.

All thi

[2020-01-15 01:23] tonesto7 commented on #45
That's weird because I also have a virtual button as well.

I can say that I have multiple homebridge instances running:
1 for SmartThings (because I have almost 150 devices coming into HomeKit)
1 for my harmony, nest, nest cams
1 for my chamberlain, and 5 RTSP cameras

[2020-01-15 01:24] roberkane212 commented on #45
I remember everything working for me at one point. Did this work for anyone else at one point. And do you know what version it worked on. I might downgrade

[2020-01-15 01:54] tonesto7 commented on #45
Just bear with me a little while longer. I’m completely rebuilding the buttons.

You can now select the whole remote now and it will build an accessory with actions for each button on the remote.
![EE2B3253-ED2E-4966-9568-80C4E6B7E524](https://user-images.githubusercontent.com/1835933/72398010-8abe8400-370f-11ea-9982-aec785cd618e.png)

All that remains is just getting the button numbers pressed un

[2020-01-15 02:21] yannip1234 commented on #13
Here is the device data and its attributes. The fridge contact sensor and temp is still showing incorrectly. Thanks.

{
    "name": "Refrigerator",
    "basename": "Refrigerator",
    "deviceid": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "status": "ACTIVE",
    "manufacturer": "Unknown",
    "model": "Samsung OCF Refrigerator",
    "deviceNetworkId": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "l

[2020-01-15 03:50] cladmonitor commented on #45
@tonesto7 No luck but here's what I tried, in case you have any other ideas.

1. I setup a fresh pi4 with Hoobs and still had the same issue
2. Homebridge in debug logging doesn't log any anomalies

[2020-01-15 03:57] cladmonitor commented on #45
@tonesto7 one other idea in case you dont have luck with the new buttons. I'm not even sure if this would even be possible but, with a remote hub (even if I disabled local updates) could you give me an app id, token and url that I inject into a hoobs test instance to see how it reacts?

[2020-01-15 04:01] tonesto7 commented on #45
@cladmonitor I sent you a PM with my info on the ST Community

[2020-01-15 04:02] tonesto7 commented on #45
@cladmonitor One thing to try is to use the attribute filters in the SmartApp to filter out Temp from the button and add it

[2020-01-15 14:16] tonesto7 commented on #13
That's because the contact attribute on the device is set to null

[2020-01-15 14:18] tonesto7 commented on #50
It shows an option under homebridge but I'm not sure that HomeKit supports it anymore.
Either way, the values are set in the upcoming release so if support is restored it will start working

[2020-01-15 16:08] hardlock75 commented on #50
so nice Thank you!!
have nice day my friend

[2020-01-15 17:10] yannip1234 commented on #13
Oh strange. It works fine when I click the tile in the app though.

[2020-01-16 02:15] tonesto7 commented on #45
So I hit a minor roadblock with the new button design that I need to overcome.  So I might be another day or two :(

[2020-01-16 02:17] roberkane212 commented on #45
@tonesto7 thanks for the update. Is this the ST button you are working on?

[2020-01-16 02:23] tonesto7 commented on #45
I haven't got mine yet.  I'm making the buttons dynamic meaning if you pick a single child button it will behave the way it did before.  Now if you choose the parent button it will create a section for each button (See the screenshot above)

I'm basically just stuck on getting the right button number event to the correct sub-button

[2020-01-16 02:26] roberkane212 commented on #45
@tonesto7 i like that new option. Looks really cool

[2020-01-16 02:27] roberkane212 commented on #45
@tonesto7 not to bother you with yet another thing lol. Because trust me this is way more important o me than the other. However did you ever get to look into the power strip option?

[2020-01-16 02:29] tonesto7 commented on #45
I haven't even looked at it yet.  Once I get this plugin rock solid I promise to give it a look over.

[2020-01-16 15:19] tonesto7 commented on #45
I just wanted to provide an update.
It seems a good night's rest has allowed me to resolve my hang-up with the new button design.
I have it working now and I'm just doing some optimization and testing.

With that said I was doing some research yesterday on whether other plugins have experienced issues with StatelessProgrammableSwitch Service.

The homebridge-hue plugin reported the exact same thin

[2020-01-16 17:03] #60 closed, assigned to tonesto7

[2020-01-16 17:03] #58 closed, assigned to tonesto7

[2020-01-16 17:03] #59 closed, assigned to tonesto7

[2020-01-16 17:08] sentry[bot] opened #63 "TypeError: Cannot read property 'replace' of null"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-12](https://sentry.io/organizations/tonesto7/issues/1439480227/?referrer=github_integration)

[code]

[2020-01-16 18:15] sentry[bot] opened #64 "Properly handle 40X error responses from SmartThings"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-F](https://sentry.io/organizations/tonesto7/issues/1439015282/?referrer=github_integration)

[code]

[2020-01-16 18:38] sentry[bot] opened #65 "NodeBackend.eventFromException"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-S](https://sentry.io/organizations/tonesto7/issues/1439186209/?referrer=github_integration)

[code]

[2020-01-16 18:46] sentry[bot] opened #66 "TypeError: Cannot convert undefined or null to object"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-20](https://sentry.io/organizations/tonesto7/issues/1442192522/?referrer=github_integration)

[code]

[2020-01-16 19:40] roberkane212 commented on #45
@tonesto7 thanks man and thanks for all your work on this much appreciated. Wanted to ask another question. Is it had if I don’t get that sentry machine to come up in logs?

[2020-01-16 19:48] roberkane212 commented on #45
NeverMind it’s there

[2020-01-16 21:44] #48 closed, assigned to tonesto7

[2020-01-16 21:45] tonesto7 commented on #43
I'm going to close out this request and continue in #45

[2020-01-16 21:45] #43 closed, assigned to tonesto7

[2020-01-16 21:48] tonesto7 commented on #32
@roberkane212 What type of devices are these? I'm trying to find the characteristics that are used and not finding much.

[2020-01-16 21:55] tonesto7 commented on #32
Nvm... I see it plain as day in the screen shot

[2020-01-16 21:57] #66 closed, assigned to tonesto7

[2020-01-16 21:57] #65 closed, assigned to tonesto7

[2020-01-16 21:57] #64 closed, assigned to tonesto7

[2020-01-16 21:57] #63 closed, assigned to tonesto7

[2020-01-16 21:58] roberkane212 commented on #32
@tonesto7 lol ok great, I’d really like to see this. Also have you got any word on the new update? I’ve downgraded to v2.0.10 so all my stuff can work again

[2020-01-16 22:12] tonesto7 commented on #32
I would like to see the powerstrips as well, but so far all my searches have turned up empty.

I have the next update ready and I have 144 other accessories along with 5 buttons added and it's working flawlessly.
I am waiting till I get home from work to try with the new SmartThings button I ordered before ruling this a success.
I also took the time to fix about a dozen other bugs with this new ve

[2020-01-16 22:17] tonesto7 commented on #32
@roberkane212  Can you send me a screenshot of the strips button control page?

[2020-01-16 22:18] adavison007 opened #68 "(BUG) {Upgrade path from v1}"
Is there an upgrade path from v1 to v2 or do I delete all existing devices in homekit, do this install and then re add them?

[2020-01-16 22:30] tonesto7 commented on #68
SmartApp:
* You can use the existing SmartApp and just update it to the latest code then go through the app and update any new settings.

Plugin:
* Can not be upgraded and requires you to remove the old bridge from the home app and clear the accessoryCache and persist folders.
* Then install the new plugin and update the old config.json

[2020-01-16 22:30] #52 closed, assigned to tonesto7

[2020-01-16 22:39] #51 closed, assigned to tonesto7

[2020-01-16 22:42] #68 closed

[2020-01-16 22:48] adavison007 commented on #68
Thanks, so when you say remove old bridge, do you mean my RPI homebridge from home kit? if so that would mean I loose all the devices from other plugins? or do you mean just remove the original v1 plugin?

I have over 120 devices via other homebridge plugins, so if you can confirm that would be great?

Adam Davison
adavison@me.com <mailto:adavison@me.com>
01276 63145
07748 761448

On 16 Jan 2020,

[2020-01-16 23:08] tonesto7 commented on #68
Technically you can just remove the plug-in from your home bridge instance but the way that  the devices get cached might cause an issue.
It’s either going to work or it’s not and I apologize that you have to do this but based on changing the type of plug-in requires a fresh start

[2020-01-16 23:11] adavison007 opened #69 "(BUG) {Does ring cameras go into HomeKit with video?}"
Does the new version do motion sensors, light switches and also do the video into HomeKit from ring?

[2020-01-17 00:48] roberkane212 commented on #32
![4A749560-26DC-4BE6-8F62-97B76EF0FB33](https://user-images.githubusercontent.com/44589993/72575027-1dd6f580-3899-11ea-9c79-4463a34c4c6f.jpeg)
@tonesto7

[2020-01-17 00:48] roberkane212 commented on #32
@tonesto7 sorry I took so long and hope this is what you were asking for

[2020-01-17 00:51] roberkane212 commented on #32
@tonesto7 Since you have experience with ST community, do you know how I can report an issue with an accessory? My plugs come up as switches in ST app. So I’m sure if I add them to the plugin they will do the same

[2020-01-17 01:24] tonesto7 commented on #32
@roberkane212 Thanks that was what I was looking for.
I should be able to emulate this (minus the powerstrip icon.
I'll add it to the board of features for the next release.

[2020-01-17 01:25] roberkane212 commented on #32
@tonesto7 awesome you’re the best!!!

[2020-01-17 01:28] roberkane212 commented on #32
@tonesto7 im using the TPLink hs 300 power strip. Hoping it will be able to work!!!

[2020-01-17 01:57] tonesto7 commented on #45
OMG... I am such an idiot...  The whole problem was with a type in the attribute name.  It's literally the only item that remained in the button code refactor.

[2020-01-17 01:59] roberkane212 commented on #45
@tonesto7 dont be so hard on yourself
, you’ve been working hard to get us all happy. So all we can do is appreciate your time and effort

[2020-01-17 02:16] tonesto7 commented on #45
The good news is I will v2.2 release in the next 45 and the buttons are better than ever now.

[2020-01-17 02:25] roberkane212 commented on #45
@tonesto7 Great news!!!!

[2020-01-17 02:38] scoobaspeaz commented on #45
Just as a side question because this thread got me thinking...how do I know if I buy something at the store thats SmartThings compatible that it will work with this plugin? Do most things work but just need some tweaks or is there a specific list of things this plugin supports?

[2020-01-17 02:53] tonesto7 commented on #45
If it supports native ST capabilities it will very likely work.

[2020-01-17 02:56] tonesto7 commented on #45
@roberkane212 Go figure right before i'm ready to release I'm noticing something weird.
It's suddenly not grouping the temp, button, battery into a single accessory.
I want to solve it before I release it. Hang tight

[2020-01-17 02:58] roberkane212 commented on #45
@tonesto7 no worries like I told you I’m good I’m 2.0.10 until the update rolls around

[2020-01-17 03:24] tonesto7 commented on #45
@roberkane212
Ok, just pushed out the v2.2.0 update.

Make sure to update the SmartApp too.
Let me know whether it works for you or now

[2020-01-17 03:25] roberkane212 commented on #45
@tonesto7 how do I update the app?

[2020-01-17 03:27] tonesto7 commented on #45
just use the github integration or copy/paste/publish over the existing code

[2020-01-17 03:31] roberkane212 commented on #45
@tonesto7 now I’m a little confused lol sorry. Copy and paste what? And all I see in the github it the same instructions as before

[2020-01-17 03:31] roberkane212 commented on #45
@tonesto7 do you maybe have a link?

[2020-01-17 03:40] scoobaspeaz commented on #45
@roberkane212
1. go to SmartThings side
2. click on My smart apps
3. click button "update from repo"
4. Click the checkmark box in the obsolete
5. bottom right corner checkmark the publish box
6. Click execute update.

Once its finished open up Homebridge v2 on your SmartThings app and you will see its version 2.2.0

[2020-01-17 03:42] roberkane212 commented on #45
@tonesto7 nothing I’m obsolete box, is there something I did wrong?

[2020-01-17 03:43] roberkane212 commented on #45
I got it never mind sorry

[2020-01-17 03:56] roberkane212 commented on #45
@tonesto7 i got this error

ERROR: initializeAccessory (fromCache: false) Error:Cannot read property 'toString' of undefined TypeError: Cannot read property 'toString' of undefined
    at PlatformAccessory.addService (/usr/lib/node_modules/homebridge/lib/platformAccessory.js:54:59)
    at PlatformAccessory.getOrAddServiceByName (/usr/lib/node_modules/homebridge-smartthings-v2/src/ST_Accessories.js

[2020-01-17 03:59] cladmonitor commented on #45
I upgraded smartapp and plugin and I'm getting an error after adding the button.

[1/16/2020, 7:53:40 pm] [DEBUG]: Configure Cached Accessory: Button, UUID: 4b22e7f0-418c-405f-9674-9bbe7a05578b
[1/16/2020, 7:53:40 pm] [DEBUG]: Initializing Cached Device 60449248-b8c4-4b8d-a668-e9ed2b426912
[1/16/2020, 7:53:40 pm] [DEBUG]: Button ' | ' 'button'
[1/16/2020, 7:53:40 pm] [ERROR]: initializeAccessory (

[2020-01-17 04:03] cladmonitor commented on #45
I deleted "accessories" and it seems to resolve that, seems to be related to old cached accessories. I'll test some of the functions but its awesome to see a button in my homeKit :D

[2020-01-17 04:07] tonesto7 commented on #69
Please ask this question in the ST community post.  This is for issues only

[2020-01-17 04:07] #69 closed, assigned to tonesto7

[2020-01-17 04:07] cladmonitor commented on #45
hmm so its doing what it did originally after switching to v2, this is hard to explain.
If I press it once, HK sees the action, but no other single presses work. I have to use another action the next time such as a hold or double press. So it seems you cant do the same action more than once.

[2020-01-17 04:08] tonesto7 commented on #45
In my experience, it will only execute if the devices are not in the state the action is designed to perform.

[2020-01-17 04:10] roberkane212 commented on #45
@tonesto7 mine worked ok for a little after deleting accessories, however minutes later everything crashed like before :(

[2020-01-17 04:15] tonesto7 commented on #45
well, I give up.  I can't break it on my side I've tried i have every different kind of button and it works every time.
Make sure you are selecting buttons under the Define Device Type inputs.

[2020-01-17 04:15] cladmonitor commented on #45
This is hard for me to articulate since Im trying to explain physical statues. the button is acting like a toggle and not a button.

Once I single press it will only do a different action (hold or double press) so in effect its a three position switch and not a button. I'm not sure this is "by design" since physically its a momentary switch and not a toggle switch.

Mine has been running on my end

[2020-01-17 04:18] tonesto7 commented on #45
When you explain it this way I understand what you are saying.
Let me see if there is something I'm overlooking.  I hate how little documentation and examples there are for these StatelessSwitches.

[2020-01-17 04:23] cladmonitor commented on #45
I have to thank my wife for that she helped me re-explain it :P If it helps your plugin logs the correct interaction with the button, its just not making it to homeKit.

[2020-01-17 04:34] roberkane212 commented on #45
@tonesto7 ok so mine is working perfectly now, just got to get my switches so work with the automations now. Thank you so much!!!!!!

[2020-01-17 04:36] tonesto7 commented on #45
@roberkane212 I'm confused!
I thought you said it was crashing you homebridge again?

[2020-01-17 04:40] roberkane212 commented on #45
@tonesto7 it was so I deleted accessories and persist folders. Run homebridge and I’m good. Everything works, my reality switch and TP-Link light bulb are a little off, but buttons are working perfect. Once I can figure out the bulb and switch I shouldn’t be ok. It just gives me a no response for a couple presses then works. Not sure what the issue is with that, but overall it’s working well now

[2020-01-17 04:53] pizzinini commented on #45
The Aeon Minimote is really cool now... the Xiaomi Magic Cubes work, too. Thank you for all the hard work!

[2020-01-17 04:59] roberkane212 commented on #45
@tonesto7 yes thank you so much for all the hard work!!!

[2020-01-17 05:49] roberkane212 commented on #32
@tonesto7 is this now workable in the new update?

[2020-01-17 08:53] adavison007 commented on #68
I did the update as follows and all worked fine.

Removed the JSON config in Homebridge
Updated the smart app code in the IDE
Removed the plugin from Homebridge
Restarted Homebridge
Installed new plugin in
All worked with existing devices

One question… My thermostats (Tado) usd to bring in three tiles… humidity, temprature and the main thermostat control as seperate tiles in Homekit… now with V2,

[2020-01-17 13:13] tonesto7 commented on #45
I’m going to close this issue out as it’s getting pretty long.
Any new issues can be opened as new items.  I will attempt to see how we can make the buttons repeatable but there is little documentation about this specific characteristic.

[2020-01-17 13:13] #45 closed

[2020-01-17 15:25] roberkane212 commented on #32
Just trying to figure out if it was so I can figure out if mine is working. Currently it is not

[2020-01-17 18:32] ultrathew commented on #45
@tonesto7 - Although adding buttons no longer crashes my HomeKit instance, they only work sporadically on my Aeon Minimote. All the presses and holds register fine in the Homebridge logs, but rarely actually perform the action programmed to each button. I can tell when a button press is actually going to work when I see it icon bounce slightly in the Home app. There doesn't appear to be any rhyme

[2020-01-17 18:35] cladmonitor commented on #45
Matthew if you see my comment previously could it be that it won’t let you
preform the same press type more than once.

Try this.
Hold the button see if it registers as a hold
Double press and see if it registers as a double press
Single press and see if it registers as a single.
Keep doing the above and see if it works with no issue. If it does think
it’s related to what I’m seeing with my implem

[2020-01-17 18:50] ultrathew commented on #45
Hi @cladmonitor - when you say "registers", do you mean seeing it show up in the Homebridge logs? If so, both button states my device supports (press and long press) have consistently shown up instantly in the log, it just doesn't seem to be getting to HomeKit. Below is an example showing the inconsistent behavior. FWIW, Button 1 controls a Hue light via the Philips Hue Bridge v2, Button 2 control

[2020-01-17 18:53] cladmonitor commented on #45
No, I mean to say try my steps and see if HomeKit actually registers the
presses. The log always registers the press in my case but HomeKit only
works if I complete a separate action each time (like my example).

On Fri, Jan 17, 2020 at 10:50 AM Matthew Chiavelli <notifications@github.com>
wrote:

--
Thanks,
*Eric Sakariasen*
*CTO* - *Connetic Corp <http://www.connetic.com> IT services*

*instagra

[2020-01-17 22:38] JJJ opened #70 "(BUG) OAuth instructions are incorrect"
## Verify the following before opening an trouble issue

However:

<img width="1246" alt="Screen Shot 2020-01-17 at 4 37 30 PM" src="https://user-images.githubusercontent.com/88951/72651032-c6439300-3947-11ea-93a7-0f1e3f039fd1.png">

[2020-01-17 22:39] tonesto7 commented on #70
@JJJ Mind telling me what was wrong with the instructions?

[2020-01-17 22:41] tonesto7 commented on #70
Just an FYI, you don't use any of that info in the config file at all

[2020-01-17 22:44] tonesto7 commented on #32
I haven't even started on it. I wanted to get v2.2 out.
Implementing in the plugin will be rather simple, it's defining them as power strips in the smartapp that will be tricky because all of the plugs show up as individual devices up in ST.

The more I think of this, what real benefit will adding these to a single accessory provide?

[2020-01-17 22:48] JJJ commented on #70
I quoted the incorrect instruction, and included a screenshot of what’s in the oAuth section. Unsure what more to add?

There is nothing to click to enable oAuth, though it does seem to appear to be enabled on its own?

(Unless I did this someplace else ahead of time somehow?)

[2020-01-17 22:55] tonesto7 commented on #70
That’s because oauth was already enabled from a previous version.  It’s only enabled once

[2020-01-17 23:07] cnnn opened #71 "(BUG) v2.2 ERROR: initializeAccessory (fromCache: false)"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-01-17 23:13] JJJ commented on #70
Got it. That makes sense. Maybe worth a note in the install instructions? Or no?

[2020-01-17 23:13] roberkane212 commented on #32
@tonesto7 well if it’s becoming a bother or is taking too much effort my all means abandon the project. I much rather you put your efforts in the plugin as a whole. Just thought I was a nice idea to be able control all plugs in one place without having to go into accessories to get to them if they are on tile. However like I said if it’s gonna take too much time or no one else is really interested

[2020-01-17 23:16] tonesto7 commented on #71
Thanks for reporting I’ll look into it

[2020-01-17 23:30] tonesto7 commented on #32
I wasn’t saying it wasn’t worth it just trying to gauge the benefit.  I will tinker with the app tonight

[2020-01-17 23:36] cnnn commented on #71
Btw I was upgrading from v2.0.10 and saw the errors. I downgraded to v2.1.0 then the error is gone. However all devices are still showing "no responding" in the Home app, without any error in the logs.

I eventually reverted to v2.0.10 to get everything working. The smart app remains at v2.2.

[2020-01-17 23:40] tonesto7 commented on #45
I’m trying to figure out how to stop this, but the documentation\examples are sparse.

I could use some extra eyes searching for suggestions.

With that said let move this to a new issue.

[2020-01-17 23:42] roberkane212 commented on #32
@tonesto7 ok thanks, however like I said if it becomes too much trouble don’t worry about it. I appreciate all your work and quick responses

[2020-01-19 05:07] #70 closed, assigned to tonesto7

[2020-01-19 05:21] sentry[bot] opened #74 "TypeError: this.device_types[svc.name] is not a function"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-5R](https://sentry.io/organizations/tonesto7/issues/1451629820/?referrer=github_integration)

[code]

[2020-01-19 05:40] tonesto7 commented on #71
This should be resolved.  Let me know

[2020-01-19 05:40] #71 closed, assigned to tonesto7

[2020-01-19 05:45] #74 closed, assigned to tonesto7

[2020-01-19 11:02] adavison007 opened #76 "(BUG) {Thermostats not working correctly with Heat / Cool / Auto Mode}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-01-19 14:37] sentry[bot] opened #77 "[BUG] Cannot add a bridged Accessory with the same UUID as another bridged Accessory: 905a32d7-7bed-4f4..."
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-7H](https://sentry.io/organizations/tonesto7/issues/1454493353/?referrer=github_integration)

[code]

[2020-01-19 14:54] sentry[bot] opened #78 "[BUG] ReferenceError: that is not defined"
Sentry Issue: [HOMEBRIDGE-SMARTTHINGS-5P](https://sentry.io/organizations/tonesto7/issues/1451626796/?referrer=github_integration)

[code]

[2020-01-19 15:41] tonesto7 commented on #76
@adavison007 Ok, I need some time to absorb this.
On a side-note doesn't Tado support homekit natively?

[2020-01-19 15:52] adavison007 commented on #76
@tonesto7 I have 32 Tado devices and the native Tado plugin does not work for me... it mixes the thermostats up (lack of memory on there kit) So if I change living room, it changes the stuff sometimes, or the kitchen other times... they changed the amount of devices they support after I reported this issue 2 years ago and refuse to support me....  However... I used to use the Tado plugin in homebr

[2020-01-19 16:00] tonesto7 commented on #76
Can you do me a favor and go into the smart app > Device Data Viewer > select a thermostat > view the data > share the output here

[2020-01-19 17:21] adavison007 commented on #76
Sure , also you can’t view humidity as a separate tile in homekit, your previous b1 allowed this :)

{
    "name": "Bedroom",
    "basename": "Bedroom",
    "deviceid": "915ae1a2-581f-4c4d-8347-8dc90631e19e",
    "status": "ACTIVE",
    "manufacturer": "Unknown",
    "model": "Tado Heating Thermostat",
    "deviceNetworkId": "4|HEATING|9ece1b1f-710a-45a0-ab7a-ce9fd1a71d5e|null",
    "lastActivity"

[2020-01-19 17:24] tonesto7 commented on #76
thanks...
Humidity for thermostats is part of the Thermostat service and not seen as a separate accessory.
This has not changed from the v1 plugin

[2020-01-19 23:01] tonesto7 commented on #76
I’m not sure what I can do here.  If thermostat device sends the new set point events then the thermostat on HomeKit side will match the current heat/cool temps.
It doesn’t randomly assign a temp in auto it uses the devices heatSetpoint and coolSetpoint attributes to set the corresponding HomeKit setpoint.  So if the handler doesn’t send either of the setpoint attribute changes to Homebridge than

[2020-01-20 03:49] cnnn commented on #71
Still seeing the same error on 2.2.1.

[2020-01-20 08:16] scoobaspeaz opened #79 "Questions about the plugin"
This plugin is pretty awesome and I am glad you made it! I do have a couple questions though hopefully you can answer.

1. If you abandon this project what happens to our ability to control devices managed through this plugin? It seems all functionality depends on your app to control our devices through homebridge. Im just wondering before I get too invested in products that use SmartThings that r

[2020-01-20 16:36] rasssta opened #80 "(BUG/QUESTION) ERROR: getDevices Error | SmartThings Authentication Error: true"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-01-20 17:14] rasssta commented on #80
If I run the cmd/URL manually I get:

{"error":true,"type":"SmartAppException","message":"Method Not Allowed"}

I'm using a token generated from the Classic app.

[2020-01-20 17:22] rasssta commented on #80
Sigh. Nevermind. Seems like you *have* to change the URL to the one in the Classic app. Wasn't very straight forward in the docs...

[2020-01-20 17:23] #80 closed, assigned to tonesto7

[2020-01-20 20:18] #78 closed, assigned to tonesto7

[2020-01-20 20:18] #77 closed, assigned to tonesto7

[2020-01-20 20:19] tonesto7 commented on #77
Added duplicate device input notice inside smartapp page

[2020-01-20 20:27] ghost opened #81 "(BUG) Strange notifications issue"
Hello. I have a Danalock Zigbee version connected and it shows up etc and works as expected in HomeKit.
I have one issue, HomeKit notifications for the does not always arrive when I lock or unlock the door manually for example. For other door/window sensors this works fine. If I checked the home app I can see that the lock has changed status but I get no notification about it. Any ideas?

[2020-01-21 03:37] JJJ opened #82 "(BUG) Shade tries to move before you’ve selected a position"
-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device Handlers have been _Published for You_ in the IDE.

---
## About Your Setup
-  How many devices are detected?: 3
-  Mobile App Version(Not required): 1.6.42-350
-  SmartApp Version: 2.2.1
-  Device Handler Version: 2.2.

[2020-01-21 04:06] tonesto7 commented on #82
yea I probably need to add debouncing to the commands.  The way homekit works it send the values for every move of the slider.

[2020-01-21 04:07] tonesto7 commented on #81
Are you positive that the notifications are enabled for the lock under the home app

[2020-01-21 07:13] ghost commented on #81
Yes, I have also tried to remove and add the lock again etc but it's the same. I will try the zwave version of the lock in a couple of days and see if theres any difference because the lock also does not update the locked/unlocked status in the smartthings app when lock/unlock manually. This only happens after i have rebooted the hub once. I will report back in a couple of days. Thanks for the res

[2020-01-21 07:18] jdebardi commented on #76
For reference, the native Tado HomeKit integration does not show the range or auto.
Maybe there is a way ST plugin can present it the same way?
Works fine for me reverting back from manual to an auto set temp etc

![10667781-C0FE-419B-BF54-EBFA46E30ED7](https://user-images.githubusercontent.com/22931910/72783383-2ecb9200-3c1e-11ea-9299-fdb6bb01ff7e.png)
![B69FDA1A-9C46-4B72-835A-2030DB11F77F](http

[2020-01-21 07:40] jdebardi commented on #81
I am having the exact same thing with my Yale Conexis locks.
As you say, if you are in the Home app you see the status change real-time though so ST is obviously sending HomeKit the change of state, so I think it’s an Apple notification bug.
My Wife also does get all notifications, it’s only my phone that does not which adds more fuel to the Apple up assumption.
I’ve tried enabling/disabling notif

[2020-01-22 16:07] shayfunk opened #83 "(BUG) {Homebridge v2 smart app shows 2x in new ST app only}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x ] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [ x] The SmartApp and Device Handler are using the latest code available.
-  [ x] That Both the SmartApps and Dev

[2020-01-22 16:28] JJJ commented on #83
Not seeing this personally.

![37FED848-DC9D-4C05-840A-4D80983F957F](https://user-images.githubusercontent.com/88951/72912897-edacae00-3d01-11ea-8001-cec60dde3085.png)

Delete one of them (or both of them) and try again?

[2020-01-22 17:00] shayfunk commented on #83
No, the app_id and access_token match one of the duplicate instances in the ST Connect app. I see my devices there and nothing in the classic app where I set it up. Also, I'm on ver 0.4.50 of homebridge and 2.2.2 of smart app (error above). I see two instances in both apps. When I was comparing initially I was in marketplace instead of the smart apps tab under automation. So I do in fact need to d

[2020-01-23 06:35] #83 closed, assigned to tonesto7

[2020-01-24 19:29] cladmonitor commented on #20
Can I make a comment about this vs tizen hb plugin. The Tizen plugin specifically uses WOL to turn on TVs since the API endpoint is not available once the tv has gone to sleep (>30sec), I've found the Samsung Smartthings implementation for TVs to be lacking but moving to the Tizen plugin is much better and solved all those headaches.

Honestly the separation in the plugins is good, overwhelming on

[2020-01-24 19:43] cladmonitor commented on #79
1. Lets be honest with ourselves about the Homebridge ecosystem, its a community driven project and with that we all need to understand that A) people are donating their freetime to maintain these and B) Unexpected changes could occur at any time. If tonesto was hit by a bus (god forbid) things would probably suffer for a time until somone else picked things up and carried on or it would at some p

[2020-01-24 23:20] pnguyencong opened #84 "DELETE - had wrong token from previous Homebridge V1"
fixed it. sorry.

[2020-01-24 23:57] #84 closed, assigned to tonesto7

[2020-01-25 02:47] JGrahamK opened #85 "‘Snippet’ of config.json"
In the read me file, part 3.3, it directs that the config.json must be updated.  I got the update info from the app and edited it into a file, but I inadvertently overwrote the config.json with only the updated snippet portion because I’m new at this and didn’t immediately realize it was a snippet rather than the entire new config.json file.  Two questions:  1) What’s the best way to get the compl

[2020-01-25 03:04] tonesto7 commented on #85
Here is the sample config:
https://github.com/nfarina/homebridge/blob/master/config-sample.json

[2020-01-25 04:22] tonesto7 commented on #79
@cladmonitor You shouldn't see any more than a 1-second difference between using local and not.
All device change events from ST side to HB come via local no matter what.
I'm not sure what's been happening on my Hub lately but suddenly local commands are being ignored by my hub

[2020-01-25 07:24] scoobaspeaz commented on #79
@cladmonitor yep to item 1) I can understand that point of view. However it doesnt hurt to ask what the impact is from a development point of view. Meaning it does appear its not a standalone plugin that does the work but also requires his app.  I am just wondering if the impact if the project was suddenly stopped, for whatever reason, would still be able to function or would we need to have someo

[2020-01-25 12:48] tonesto7 commented on #79
@scoobaspeaz I've been working on this plugin and the v1 before for almost 3 years and I'm not going anywhere.  In fact, I'm just getting started.  The only way I quit is if I die or Apple, ST stops letting us interface (Which won't be apple because they just released the open-source SDK for HomeKit)

[2020-01-25 22:06] JGrahamK commented on #85
Perfect - thanks

[2020-01-25 22:06] #85 closed, assigned to nobody

[2020-01-26 14:43] adavison007 commented on #76
@tonesto7 Hi. I truly believe looking at how other thermostats work in home kit, the one item that really needs fixing in the code is that when you go to "AUTO" Mode, it 100% should have one temp (not a range) and that temp should be the default set temp in the thermostat settings... this is what Tado native does and also others. please let me know, with this fix I can live with the rest :) Your s

[2020-01-26 14:56] tonesto7 commented on #76
I’m trying to tell you that’s not how it’s supposed to work.
I have native HomeKit thermostat and auto works by having 2 set-points.
I also wrote the Nest Integration for ST which has been active for the 4 years so I understand thermostats very well.
The TADO setup is definitely not the standard model for thermostats.

I’m order to support them the way you want I’m going to need to add something t

[2020-01-26 14:57] tonesto7 commented on #76
![71A62232-2013-404D-9799-DEA3A42E7E30](https://user-images.githubusercontent.com/1835933/73137035-2dd1a080-4022-11ea-9c4a-a81abef0fbf9.png)
This is my Lennox iComfort thermostat which has direct HomeKit support

[2020-01-26 15:00] jdebardi commented on #76
Have a thermostat that allows a range is nice, but I've never seen one that does until now (it's obviously only been made possible since digital thermostats have come about).
For 50+ years thermostats have had a single point you set them to and based on that it would be odd that Apple have neglected to make it possible to have a simple single temp thermostat (and as Tado have managed it) it must b

[2020-01-26 15:01] tonesto7 commented on #76
I truly think you should invest in the internet bridge and add native HomeKit to your tado.

[2020-01-26 15:05] tonesto7 commented on #76
@jdebardi There is a single setpoint.  The UI just shows you the range.
I’m not going to rewrite the whole logic to address a purely cosmetic issue.
I’m truly trying to understand why this is such a big issue.  Is your thermostat not working under my plugin?

[2020-01-26 15:08] tonesto7 commented on #82
I’m sorry I haven’t got to this yet.
My wife’s birthday is coming up and I’m traveling for work all next week so I’m prepping.
I will try to get this in before I leave tomorrow

[2020-01-26 15:30] jdebardi commented on #76
Tbh I’m not using your plugin for Tado, I’m using native. I’m only adding as I have experience with Tado which seemed relevant here.

I don’t understand how you set the single set point if the UI gives you a range though!?
If a range is presented then the thermostat must have to understand a range input as well.

[2020-01-26 16:09] JJJ commented on #82
@tonesto7 not urgent. Happy birthday to your wife! 🎂

[2020-01-26 16:16] JJJ commented on #76
## Auto
![4231655D-94E8-4122-9323-A874F1746723](https://user-images.githubusercontent.com/88951/73138104-8b66ec80-4024-11ea-92bc-2e18d8ccad71.png)

# Cool & Heat
![F37D9CE7-C323-4BE5-B160-FF6F9DB4EEC7](https://user-images.githubusercontent.com/88951/73138105-8b66ec80-4024-11ea-8119-4bc5c1dba4f9.png)

This is with an Ecobee using native HomeKit.

Even when I’ve used Nest and Homebridge, this is how

[2020-01-26 16:19] tonesto7 commented on #76
@jdebardi to change the temp when it shows a range just grab one end of the dial and drag it

[2020-01-26 16:29] jdebardi commented on #76
I get how to use the UI.

But the physical thermostat on the wall that controls the boiler understands only a single set point. So let’s say it’s aiming for 20 degrees.

If HomeKit is presented with this single value, what range does it display?

And if shall we say the range in HomeKit is 18-22 degrees, if I drag that out to 18-24, what does this pass to the Thermostat (via ST of course)? It is i

[2020-01-26 16:53] tonesto7 commented on #76
The problem here lies in the fact that the st device handler implements an auto mode capability in a way that’s not based on the standard thermostat capabilities defined under st.
Auto mode requires the ability to set a heat and cool setpoint.

I get what your saying but you need to see it from a standards perspective.  The Tado configuration does not follow the standard.

The only thing I can thi

[2020-01-26 17:22] jdebardi commented on #76
Ah! So now it makes sense!

Definitely add heat only option! That will completely solve it. Outside of North America not many people have heat and cool systems, just heat!

[2020-01-26 18:50] mrkarlos opened #86 "(BUG) 'local' mode not working on Raspberry Pi"
The local mode doesn't work on my Raspberry Pi device. Running a nest shows that port 8000 is on tcp6 and not on tcp4. Is this expected?

[code]

[2020-01-27 10:12] scoobaspeaz commented on #79
@tonesto7 from a security point of view, since IoT things are always under attack, could you explain how this works exactly and what privacy we are giving up using this plugin? Meaning how does it all tie together and what do you have access to yourself?

I am assuming this works the following way:
*Smartthings portal we configure the SmartApp section to pull your latest code for the app.
*Smartth

[2020-01-27 10:17] scoobaspeaz commented on #86
Its how its configured and running on mine and I am not experiencing any issues:

root@homebridge:~# netstat -tulp |grep 8000
tcp6       0      0 [::]:8000               [::]:*                  LISTEN      26810/homebridge

[2020-01-27 14:41] tonesto7 commented on #76
@jdebardi that's good to know.
I will work on it when I can.  I’m traveling for work this week so maybe at night I will have some time to work from the Hotel

[2020-01-27 14:49] adavison007 commented on #76
Thanks @tonesto7 I agree in Europe nobody has both system of heat and cool, just heat… maybe in the settings for auto give the option of Auto Heat only or Auto heat and cool….

For auto with heat only, then make Auto set Smart things to “End Manual” that will then set the heating back to the standard set temp, then normal heat mode would be for changing the standard set heat and put it back into m

[2020-01-27 15:38] JJJ commented on #79
@scoobaspeaz your problem sounds a lot like my problem, which is unrelated to Homebridge or this plugin completely, and I’ve narrowed down to having multiple HomeKit hubs.

Multiple Apple TV’s and HomePods is supposed to be a good thing (that helps mesh your smart home things together) but in my experience the opposite is true.

When I have multiple plugged in and enabled, things go fine for a few

[2020-01-27 15:52] JJJ commented on #76
Most thermostats automatically adjust their internal configurations based on how they are wired to the system.

When they are in 3-wire/heat-only mode, cooling/auto are not available as options inside their native applications or on the thermostats themselves.

My Nest worked that way, and my Ecobee does as well. If you unplug the air-conditioner wire, they both will detect it and you’ll be unable

[2020-01-27 16:21] adavison007 commented on #76
Fo tado, heat happens when you manually change the heat for the set time, then if you turn off “manual Mode” it automatically goes back to the settings in the thermostat. This is Manual off in Tado, manual off in Smart things and auto in HomeKit (turns manual off)

Adam Davison
adavison@me.com <mailto:adavison@me.com>
01276 63145
07748 761448

On 27 Jan 2020, at 15:52, John James Jacoby <notificat

[2020-01-27 19:09] scoobaspeaz commented on #79
@JJJ could be but in my test case its always showing the same primary hub when the issue is happening. Also its only happening to homebridge itself. All normal, apple approved, HomeKit devices still work perfectly when this is happening.

I have had this very plugin cause this to happen before when adding a TV above. It would add, look like its working, HomeKit would hate the way the TV is being p

[2020-01-29 17:57] radiocolin commented on #20
I'm asking to support the television functionality that SmartThings allows currently. If you have a Samsung TV, it shows up as a ST device in your hub and ST app.

I'm not asking for duplication of the Tizen plugin.

[2020-01-29 18:39] Areson commented on #79
If @tonesto7 gets hit by a bus, then I'll try and pick up as much slack as I can. I've love this plugin and have been working and developing with it for a while, so I can help with some things.

@tonesto7 Sorry for being absent! I was clearing out my spam folder today and someone all GitHub notifications had been going to spam! I thought it was strange that I hadn't heard anything but I figured th

[2020-01-29 19:44] cladmonitor commented on #20
Colin but all it would do is turn the TV off... it couldn’t t turn it on.
What’s the point of half the functionality? If you wanted individual
buttons to do things that would be highly
Specific to each TV.

What specific features would you like to see?

Thanks,
[image: Connetic Corp] <http://www.connetic.com/>
Eric Sakariasen
CTO, Network Operations
T: 866-226-6638
E: support@connetic.net | W: www

[2020-01-29 20:13] tonesto7 commented on #86
@scoobaspeaz Aren’t you having issues with device events being relayed from ST to Homebridge?

[2020-01-29 20:15] tonesto7 commented on #86
I don’t think this will work with the ST hub sending   Events. It’s targeting the IPV4 addess of the Homebridge host.

I think I need to investigate this more

[2020-01-29 21:11] radiocolin commented on #20
Where are you drawing that conclusion from? The SmartThings app allows full control all functions of the TV, including power in both directions.

I am also not sure where you’re determining that buttons would be specific to each TV? The smart things app is from Samsung, and exposes all the features of the Samsung television.

-CW

[2020-01-29 21:12] scoobaspeaz commented on #86
Nope im not having that issue at all. Granted im using only two lightbulbs so not sure how much of a real test that is. But it works.

The thing I was babbling about in my bug was something im not even sure is ST plugin related. It was homebridge simply randomly not working with HomeKit but then coming back within 5 mins or so.

Only other thing was asking in that bug was wanting to know more info

[2020-01-29 21:12] radiocolin commented on #20
Where are you drawing that conclusion from? The SmartThings app allows full control all functions of the TV, including power in both directions.

I am also not sure where you’re determining that buttons would be specific to each TV? The smart things app is from Samsung, and exposes all the features of the Samsung television as a device in ST.

![B101D69E-F32E-494B-9941-5A6FE847657F](https://user-i

[2020-01-30 19:41] adavison007 commented on #76
Any news ? Thanks in advance

Adam Davison
adavison@me.com
07748 761448

Sent from my iPhone

﻿Fo tado, heat happens when you manually change the heat for the set time, then if you turn off “manual Mode” it automatically goes back to the settings in the thermostat. This is Manual off in Tado, manual off in Smart things and auto in HomeKit (turns manual off)

Adam Davison
adavison@me.com
01276 6314

[2020-02-01 15:45] skbeez opened #87 "Upgrading from homebridge-smartthings-tonesto to v2"
When I try to add update the repo to point to homebridge-smartthings-v2, it says "You don't have access to tonesto7/homebridge-smartthings-v2." I am not sure what I am missing...

[2020-02-01 15:55] skbeez commented on #87
Actually found a forum for the st-community installer that suggested disconnecting and reconnecting the GitHub integration. Once I did that I added the new repository and pointed my old app towards it.

[2020-02-01 15:55] #87 closed, assigned to nobody

[2020-02-01 16:43] adavison007 commented on #76
@tonesto7 Did you get any time to have a play?

[2020-02-01 16:52] tonesto7 commented on #76
Nope... I've been traveling for work all week.  I don't think I'll have time until next week.

[2020-02-01 16:56] tonesto7 commented on #20
I'm going to be honest... I'm not sure I will be able to add support for TVs anytime soon.  I don't have any newer Samsung TVs that SmartThings supports.
I don't really have the time to develop support for something in the blind and work with others to test.  That's very time-consuming.  I'm not saying that won't ever happen it's just difficult for me to imagine with my current work and project lo

[2020-02-01 17:01] adavison007 commented on #76
Thanks for the update, I know that feeling 👍

Adam Davison
adavison@me.com
07748 761448

Sent from my iPhone

﻿
Nope... I've been traveling for work all week. I don't think I'll have time until next week.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-01 17:05] tonesto7 commented on #79
@scoobaspeaz Sorry I haven't replied I've been traveling for work.
When I get some time over the next few days I will try to explain how this works.
I can tell you now that as long as you don't share your and smart app id and access_token then nobody can access anything.

[2020-02-01 17:36] tonesto7 commented on #86
@mrkarlos I have some fixes in place for this.  I hope to have a release out by Tuesday

[2020-02-01 19:46] skbeez opened #88 "Security System showing up in Homekit"
I have successfully updated my Smartthings plugin to v2 but now I am seeing an additional security system in my HomeKit app. I already have a Ring security system so how do I hide the Smartthings security system?

[2020-02-01 19:59] skbeez commented on #88
Argh... I goofed up. The option I was looking for was the Smart Home Monitor switch in the Smartapp configuration. Once I did that and generated/pasted the new credentials into my config.json the security system disappeared. I will close this bug.

[2020-02-01 19:59] #88 closed, assigned to tonesto7

[2020-02-02 14:19] matt-oneill opened #89 "[Feature Request] Support for Garage Door"
I have a meross smart garage door opener set up in ST which I would like to be able to control in Home with this plugin.

Currently I have this set up with IFTTT Webhooks to open/close the door but it does not know The state of the door if it is opened manually as the ST app does.

[2020-02-03 17:46] tonesto7 commented on #89
If the device shows up under ST with the garage door capability then it will work.  I don't really want to try and support custom device capabilities if I don't have too.

[2020-02-03 18:58] matt-oneill commented on #89
It is a garage door in ST but it isn’t available to select in the Homebridge v2 SmartApp under device types or all other devices, am I missing something?

[2020-02-04 22:14] tonesto7 commented on #82
@Areson Can you take a look at the logic under ST_Client.js for the debounce...
I can't get it to actually debounce on level type values.

[2020-02-05 16:02] tonesto7 commented on #82
@JJJ I am trying to work on this.
I'm trying to get this working with all slider based commands but the debounce is being ignored and fires repeatedly anyways

[2020-02-05 16:07] JJJ commented on #82
@tonesto7 Ain’t nothing easy in this world. Thanks for keeping this issue updated. If I can find time, I may also dig in and take a look at it.

[2020-02-05 16:31] Areson commented on #82
@tonesto7 I'll try and take a look at this today.

[2020-02-05 16:50] tonesto7 commented on #82
Thanks... I've been playing with it so make sure you pull from the latest commits

[2020-02-05 19:12] tonesto7 commented on #86
So I've been looking into this and I can't get ST LanEvents to work reliably anymore.  Something changed on the ST side and I can't figure out how to make it work correctly.
In the upcoming version, I've removed the local commands option as it really doesn't improve performance much.

[2020-02-05 20:56] muzzymate commented on #88
Thank you. I'm in progress now of switching from Wink to Smartthings and could not figure out how to get rid of the Smartthings security system in the Home app. That did the trick!

[2020-02-05 21:20] nimbleslick opened #90 "View Configuration Data for Homebridge"
Homebridge Noob Here:

Please save me from this year's Darwin Award nominations and tell me why I cannot find the "View Configuration Data for Homebridge" anywhere in the Smartthings SmartApp - I am using the classic app, but I see no options, no menus, nothing that says View Configuration Data for Homebridge

Any help would be appreciated, thank you!

[2020-02-05 21:29] tonesto7 commented on #90
I might of forgotten to update the instructions.

I renamed the input `Render the platform data for Homebridge config.json`

[2020-02-05 21:32] nimbleslick commented on #90
Sorry I am specifically asking about where to find the App URL, App Token, and App ID for the configuration of the SmartApp. Thank you very much for your prompt attention! Awesome!

[2020-02-05 21:33] nimbleslick commented on #90
![Screen Shot 2020-02-05 at 2 33 14 PM](https://user-images.githubusercontent.com/10222630/73885143-8542ee00-4824-11ea-9887-fa62a93a3db4.png)

[2020-02-05 21:55] tonesto7 commented on #82
@Areson I think it's working better now. I increased the wait to 1500ms and it seems to be better.
Maybe you can make it work smoother.

I hate adding these delays but it should reduce the bursts of successive calls.
Maybe I will add in delay settings to the config to allow users to fine-tune them.

[2020-02-05 22:09] Areson commented on #82
@tonesto7 It's a tough nut to crack since we don't get "finger up" notifications. I was playing around with this when I added support for my Sonos and the longer the wait the less issues you have, but it makes the experience that much less smooth. Ultimately it's a trade off between how smooth you want the hardware response to be vs. how long you think folks are willing to wait.

The other thing I

[2020-02-08 02:50] muzzymate opened #91 "Two GE In-Wall Smart Dimmer Switches - one dimmable, other just a switch"
I have two GE In-Wall Smart Dimmer light switches. One is a decora/rocker-style while the other is a toggle-style dimmer. For some reason I have not been able to determine, the rocker-style is showing up in the Home app as a simple on/off switch. The toggle-style shows as a dimmer.

I first reviewed the "Device Data Viewer" for both, but doing a side-by-side comparison, there does not appear to be

[2020-02-08 03:01] tonesto7 commented on #91
Yea that is weird.

I think you've exposed a bug.
Add both of them under the Define Device Types > Lights and they should both be added as dimmable  devices.

[2020-02-08 03:09] tonesto7 commented on #90
Can you post this question in the ST Community I need to keep these issues cleaned up?

[2020-02-08 03:09] #90 closed, assigned to tonesto7

[2020-02-08 03:10] TejasAntani commented on #91
I've noticed a similar issue.  Jasco Dimmer Switch appears as a standard switch.

[2020-02-08 03:13] tonesto7 commented on #79
Wow, I can't believe another 6 days have passed...
I will try to reply when I have some time, but I'm not sure when :(

[2020-02-08 03:21] muzzymate commented on #91
I went into Define Device Types > Lights and selected them both. That bypasses whatever oddity was occurring and now both are appearing as dimmers.  Thank you @tonesto7!

[2020-02-08 03:35] tonesto7 commented on #91
The more I think about this I finally remember why it's like this.
It's difficult for me to assume whether something is a Dimmer just because it has a Switch and Switch Level capability

[2020-02-08 03:42] TejasAntani commented on #91
Am I required to update every device in the SmartThings smart app and cut and past the api key etc every time I make a change to single device configuration?

[2020-02-08 04:09] muzzymate commented on #91
Ok, I'll close it then if the design was on purpose. It was strange to have one a dimmer and one a switch of basically identical hardware. Either way, glad that you've built in an easy way to override default behavior.

@TejasAntani - You should not have to update the API key in config.json file. Making changes in the Smartthings app SmartApp section should take place quickly, but I end up restart

[2020-02-08 04:09] #91 closed, assigned to nobody

[2020-02-09 03:20] whoopn opened #92 "(BUG) {Thermostats not showing up at all in homekit}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [X] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [X] The SmartApp and Device Handler are using the latest code available.
-  [X] That Both the SmartApps and Device

[2020-02-09 04:12] tonesto7 commented on #89
@matt-oneill
Can you go into the SmartApp and tap on Device Data Viewer and select the Garage Door device and post the output generated here.

[2020-02-09 08:43] matt-oneill commented on #89
@tonesto7
It does not appear in sensors, switches or other devices in device data viewer.

[2020-02-11 09:42] acharris76 opened #93 "(QUESTION) TP Link Kasa Smart-Plugs Support"
Hi,

I have successfully added the Smartthings plugin to Homebridge running on a MacMini.
All is functioning perfectly but....

I have used the plugin to add TP Link Kasa smart plugs to home bridge. I used to use a Kasa specific plugin and the smart plugs displayed as power points, but that has been failing recently which is why I switched to this. (Using Smartthings also allowed me to connect the

[2020-02-12 23:14] tonesto7 commented on #92
I'm not sure how to help with this...
Can you please open the smart app and goto the Device Data Viewer > Select the device > View Data > Share the full output here?

[2020-02-13 04:26] whoopn commented on #92
Thank you for helping me look into this. The output is below.

{
    "name": "Upstairs Thermostat",
    "basename": "Radio Thermostat CT101",
    "deviceid": "d6af2c77-b6eb-49aa-8aef-47d51c8c9886",
    "status": "ONLINE",
    "manufacturer": "Radio Thermostat Company of America (RTC)",
    "model": "CT100 Thermostat",
    "deviceNetworkId": "0D",
    "lastActivity": "2020-02-13T04:11:37+0000",
   

[2020-02-14 19:53] rjarosh opened #94 "Can't Get Passed Step 1"
I can't seem to get this working from the first steps on my raspberry pi. I type:

sudo npm install -g --unsafe-perm homebridge-config-ui-x

And I get this:

`(node:32586) [DEP0022] DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.
npm WARN engine homebridge-config-ui-x@4.10.1: wanted: {"node":">=8.15.1","homebridge":">=0.4.22"} (current: {"node":"8.11.1","npm":"1.4.21"})
npm

[2020-02-14 20:58] JJJ commented on #82
This would probably help a few different places, in my opinion. No reason to go through the entire event loop if the value isn't even being changed from what it's set to currently.

If you wanted to ship the 1500ms delay, I'm happy to give it a go.

[2020-02-16 07:37] whoopn commented on #92
I figured it out!

You cannot add these devices as tstat devices. It wasn’t even counting them in the total device counts in the smartapp. I added them as “other devices” and all is well now.

Thank you
On Feb 12, 2020, 4:14 PM -0700, tonesto7 <notifications@github.com>, wrote:

[2020-02-17 06:41] yaggayoyo commented on #11
Switched to HOOBS and installed Smarthings-V2 and just copied my JSON config from MAC Homebridge. Traffic seemed one way (Home to ST only, ST updates were not reflected in Home app) and error logs had "ERROR: sendUpdateStatus Error: true | Message: undefined". Spent 3 hours until I found this issue and @THATDONFC update to install V2 of tonesto7/homebridge-smartthings-v2. Installed and was fully o

[2020-02-17 06:59] yaggayoyo commented on #89
+1

[2020-02-17 18:05] #92 closed, assigned to tonesto7

[2020-02-17 18:12] tonesto7 commented on #93
There are inputs in the smart app to define a device type under HomeKit.
So select the Kasa plug you want to show as a standard fan under the Define Device Types input.

Adding the power reading to HomeKit is tricky which is why I haven't added support for this.
Native Home App doesn't support power/energy readings. So there isn't a native characteristic for them which is why i've removed them for

[2020-02-17 18:14] tonesto7 commented on #94
Please don't post this here I can't support the install of Config-UI-x.
If you are having issues with the smartthings plugin directly, by all means, please reach out.

[2020-02-17 18:14] #94 closed, assigned to nobody

[2020-02-17 18:28] tonesto7 commented on #82
I have already built out a new command system that passes all commands through it and only implements the delays for certain commands.
I think I have it working smoothly.  I will try to get the new version out today

[2020-02-17 23:20] tonesto7 commented on #82
@JJJ

Ok, so I published a beta version of the plugin!
```npm i -g homebridge-smartthings-v2@beta```

Make sure you are running the latest SmartApp code as well

[2020-02-18 02:06] HammerAce42 commented on #19
I realized I hadn't updated all the components that Yves had sent. After doing that, the data device viewer does explicitly indicate a 'setThermostatSetpoint' capability, but it still doesn't show up in Homekit as a Thermostat. Any ideas?

`{
    "name": "Lower Level Puck",
    "basename": "My Puck Device",
    "deviceid": "[redacted]",
    "status": "ONLINE",
    "manufacturer": "Unknown",
    "m

[2020-02-18 23:54] tonesto7 commented on #82
@JJJ Did you have a chance to test out the ```beta``` version of the plugin?

[2020-02-19 09:18] scoobaspeaz commented on #20
Just to add to this the Samsung TV has a smart hub within itself that connect directly to Samsungs cloud via your Samsung login. Your SmartThings Hub doesnt actually link up with it but only your smartthings app does.  At least thats how I understood it once I tried this. I just went back to using the samsung-tizen plugin

[2020-02-19 12:08] radiocolin commented on #20
Interesting! Thanks for the insight. Sounds like they’re doing some annoying jiggery pokery behind the scenes.

-CW

[2020-02-19 18:20] JJJ commented on #82
@tonesto7 not yet, I will try today and report back.

[2020-02-20 19:37] JJJ commented on #82
@tonesto7 tested!

It is vastly improved, and I think works well enough to ship as is. 💯

It isn't exactly _perfect_, but I'm also a bit of a stickler. 😆

There is still a weird thing that can happen with the slider control. If I move it to a position on or near completely open or closed and let go, sometimes it bounces back to the current position, and then catches back up after a few seconds.

I

[2020-02-20 21:37] Areson commented on #82
If the debouncing was moved inside the event handler like I suggested, then
depending on how it was done this has a side effect that Homekit isn't
updated until after the debouncing timeout expires. If your device requests
a value from Homekit prior to that it may be the old value which is why it
jumps. Once the timeout expires and the new value is put into place then
the next read would be the pr

[2020-02-20 21:48] THATDONFC commented on #93
@acharris76 I'm using the Kasa TP-Link plugin and it has worked fine since I started using it. You might want to switch back to that and try to figure out why it isn't working. Going through ST to Homebridge seems redundant when there is a native plugin. Kinda like adding a Hue plugin when Hue is HomeKit compatible.

Here's my config if it helps you with the TP-Link Plugin:
[code]

[2020-02-20 21:51] THATDONFC commented on #93
I am seeing power/energy reading being sent from ST to Homebridge. Is there a way to prevent those from being sent for the sake of saving some processing power?

[2020-02-21 00:08] kevinjonsutton opened #96 "Door/Window Sensor Showing Not Active in Home App"
Since moving over to v2 of the SmartApp, I have noticed that for all of my door and window sensors (SmartThings Multipurpose Sensors) it shows "Status Active...No" in the status section of the home app. This is causing an issue in the Eve app when my devices are brought over. I didn't have this issue in the original version of the SmartApp. I looked around but couldn't find a way to change this to

[2020-02-21 02:19] tonesto7 commented on #96
Does the device show online under SmartThings?  That’s what drives the active value.

[2020-02-21 02:20] tonesto7 commented on #93
Under the smart app there is a filtering section which allows you to remove attribute/capabilities from devices before they are sent to Homebridge

[2020-02-21 02:26] kevinjonsutton commented on #96
Yes it does, that's the strange thing. I have a buddy who has the same setup and checked his home app and it shows the same thing.

![IMG_0129](https://user-images.githubusercontent.com/45573456/74998641-1feb2180-540e-11ea-9d12-b0d3bc93c02b.PNG)

![IMG_0128](https://user-images.githubusercontent.com/45573456/74998645-211c4e80-540e-11ea-9fc1-bafe724512ba.PNG)

[2020-02-21 02:32] tonesto7 commented on #82
@Areson I did listen to you 😃!  I just didn’t want to add duplicate code to every characteristic so I took my implementation in a slightly different direction which I think works really well and seems to be extremely fast.
I use event listeners now to relay commands now.  Meaning that when homekit sends the command it receives the callback immediately which sets the characteristic value.
I’m defin

[2020-02-21 04:17] tonesto7 commented on #96
Thanks for reporting this.  I'm working on a fix right now...

[2020-02-21 04:58] tonesto7 commented on #96
Ok... I've tracked down and resolved the issue.  I will be deploying this sometime tomorrow.

[2020-02-21 05:50] #76 closed, assigned to tonesto7

[2020-02-21 05:50] #82 closed, assigned to tonesto7

[2020-02-21 05:50] #86 closed, assigned to tonesto7

[2020-02-21 05:50] #89 closed, assigned to tonesto7

[2020-02-21 05:50] #96 closed, assigned to tonesto7

[2020-02-21 10:38] adavison007 opened #97 "(BUG) {2.3.0 Smart App won't save or publish in IDE}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-02-21 12:26] realdannys opened #98 "(BUG) Can't access 2.30 SmartApp in ST."
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  X That _OAuth_ is Enabled for the SmartApp under the IDE.
-  X The SmartApp and Device Handler are using the latest code available.
-  X That Both the SmartApps and Device Handl

[2020-02-21 15:08] adavison007 commented on #98
I had the same issue, it's because they is a coding issue in the smart app to do with thermostats, so it's not running... I guess you did update from repo... if you cut and paste the code in, it does not allow you to save due to the code error, i have opened a bug on this.

[2020-02-21 15:11] tonesto7 commented on #98
I'm working on it right now... sorry for the trouble 😦

[2020-02-21 15:15] tonesto7 commented on #98
Ok... it's fixed and released.

[2020-02-21 15:15] #98 closed, assigned to tonesto7

[2020-02-21 15:27] mmdfhome commented on #97
I'm facing the same issue with the upgrade. I "fixed" it by removing the "?." from line 979 and 982. Once those were removed, I was able to publish in IDE.

[2020-02-21 15:29] tonesto7 commented on #97
i published a fix for these...

[2020-02-21 15:30] #97 closed, assigned to tonesto7

[2020-02-21 16:42] adavison007 opened #99 "(BUG) {smart app shows old homebridge plugin code alert}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-02-21 16:44] tonesto7 commented on #99
Once the plugin is updated this will change

[2020-02-21 16:45] tonesto7 commented on #99
Make sure to install the latest versions of both.  (v2.3.1)

[2020-02-21 16:46] adavison007 commented on #99
Hi @tonesto7 the plugin was updated a few hours ago :) and the smart app isn't recognising that it was updated
<img width="609" alt="Untitled 2" src="https://user-images.githubusercontent.com/47482260/75053745-b6c8e400-54c9-11ea-9ce6-d0586b9ec2ce.png">

[2020-02-21 16:51] tonesto7 commented on #99
There was a bug in v2.3.0 with reporting in.  There is now a v2.3.1 of both the smart app and plugin.
I was tired and trying to get the new version released and forgot to validate before releasing it.

https://www.npmjs.com/package/homebridge-smartthings-v2

[2020-02-21 16:52] adavison007 commented on #99
@tonesto7 No 2.3.1 for homebridge on npm ?

<img width="609" alt="Screenshot 2020-02-21 at 16 50 44" src="https://user-images.githubusercontent.com/47482260/75054204-8f264b80-54ca-11ea-9425-867fd1deb970.png">

[2020-02-21 17:07] tonesto7 commented on #99
![image](https://user-images.githubusercontent.com/1835933/75055268-b49f5f00-54a2-11ea-9c5a-d4b2bc8e394b.png)

[2020-02-21 17:07] tonesto7 commented on #99
Maybe it hasn't replicated yet.

[2020-02-21 17:52] adavison007 commented on #99
@tonesto, thanks, NPM now shows it but hoobs does not show an update.. did it in terminal instead, will give feedback shortly. thanks for your time with this.

[2020-02-21 18:31] adavison007 opened #100 "(BUG) {Thermostats in 2.3.1}"
## Verify the following before opening an trouble issue

**Go over all the following points, and put an `x` in all the boxes that apply.
If you're unsure about any of these, don't hesitate to ask. We're here to help!**

-  [x] That _OAuth_ is Enabled for the SmartApp under the IDE.
-  [x] The SmartApp and Device Handler are using the latest code available.
-  [x] That Both the SmartApps and Device

[2020-02-21 19:00] greenkeeper[bot] opened #101 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat